<% @subarea = "Management Extensions" %>

<% add_topmenu( 'Home', '/home/' ) %>

<% add_rightmenu( 'What it is', 'index' ) %>
<% add_rightmenu( 'How to use', 'usage' ) %>
<% add_rightmenu( 'Remoting', 'remoting' ) %>
<% add_rightmenu( 'Facility', 'facility' ) %>
<% add_rightmenu( 'Download', 'download' ) %>

<% add_rightmenu_separator( ) %>

<%= render "/home/deflinks" %>
