<html>
<body>
<form action="update.castle" method="post">

  $FormHelper.HiddenField("pl.id") 

  <p>
  Created: 
  $FormHelper.TextField("pl.created") 
  </p>

  <p>
  Expires: 
  $FormHelper.TextField("pl.Expires") 
  </p>

  <p>
  Accounts:
#set($list = $FormHelper.CreateCheckboxList("pl.Accounts", $accounts, "%{value='Id', id='pl_accounts'}"))
#foreach($it in $list)
  $list.Item() $it <br/>
#end
  </p>


  <input type="submit" id="updatebutton" value="Update" />

</form>
</body>
</html>
