<html>
<body>

#foreach($error in $errorlist)
  binding error $error.Key $error.Parent $error.Property $error.Exception <br/>
#end

<span id="newid">$pl.id</span>
<span id="created">$pl.Created.ToShortDateString()</span>
<span id="expires">$pl.Expires.ToShortDateString()</span>
<span id="accounts">#foreach($it in $pl.Accounts)$it.Id,#end</span>

</body>
</html>
