<html>
<body>
<form action="insert.castle" method="post">
  <p>
  Created: 
  $FormHelper.TextField("pl.created") 
  </p>

  <p>
  Expires: 
  $FormHelper.TextField("pl.Expires") 
  </p>

  <input type="submit" id="insertbutton" value="Insert" />

</form>
</body>
</html>
