<html>
<body>
<form action="insert.castle" method="post">
  <p>
  Created: 
  $FormHelper.TextField("pl.created") 
  </p>

  <p>
  Expires: 
  $FormHelper.TextField("pl.Expires") 
  </p>

  <p>
  Accounts:
#set($list = $FormHelper.CreateCheckboxList("pl.Accounts", $accounts, "%{value='Id', id='pl_accounts'}"))
#foreach($it in $list)
  $list.Item() $it <br/>
#end
  </p>

  <input type="submit" id="insertbutton" value="Insert" />

</form>
</body>
</html>
