<html>
<body>

<form method="post" action="delete.castle">

$FormHelper.HiddenField("pl.Id")

Confirm removal of $pl.Id?

<input type="submit" id="button" value="Delete it"/>

</form>

</body>
</html>
