<html>
<head>
    <title>$commonText.htmlTitle</title>
    <script language="javascript">
    function setCulture( localeId ) {
        var url = '$siteRoot/Preferences/Locale.rails?localeId=' + localeId + '&refUrl=' + encodeURIComponent(location.href);
        location.href = url;
    }
    </script>
</head>
<body>
    <h1>$commonText.header</h1>
    <table cellpadding="15" bordercolor="silver" border="1">
    <tr><td>
        $childContent
    </td></tr>
    </table>
    
    <br /><br />
    <a href="javascript:setCulture('pt')">Portuguese</a> | <a href="javascript:setCulture('en')">English</a>
</body>
</html>