So here's a summary of the account that we're about to create:

<h4>Account</h4>

<p>$account.name</p>
<p>$account.username</p>
<p>$account.email</p>

<h4>Interests</h4>

<ul>
#foreach($interest in $account.interests)
  <li>$interest</li>
#end
</ul>

<p>If everything is OK click Next, otherwise click Back to change the information</p> 

<p>
#if ($WizardHelper.HasPreviousStep())
    $WizardHelper.LinkToPrevious("Back")
#end
</p>

<p>
#if ($WizardHelper.HasNextStep())
    $WizardHelper.LinkToNext("Next")
#end
</p>