#if($Flash.errors)
<p>Something is not good. Please correct the following problems first:
<ul>
#foreach($error in $Flash.errors)
  <li>$error</li>
#end
</ul>
</p>
#elseif($Flash.error)
<p style="color:red;">$Flash.error</p>
#end

<p>

<form action="maininfostep-save.rails" method="post">

<table width="80%" border="0" cellpadding="2" cellspacing="3">
  
  <tr>
    <td>Full name: </td>
    <td>$FormHelper.TextField("account.name")</td>
  </tr>

  <tr>
    <td>User name: </td>
    <td>$FormHelper.TextField("account.username")</td>
  </tr>

  <tr>
    <td>E-mail: </td>
    <td>$FormHelper.TextField("account.email")</td>
  </tr>
  
  <tr>
    <td>Password: </td>
    <td>$FormHelper.PasswordField("account.pwd")</td>
  </tr>

  <tr>
    <td>Confirm: </td>
    <td>$FormHelper.PasswordField("account.pwdconfirmation")</td>
  </tr>
  
</table>

  <!-- 
  
  you could have a field to guide where (step) the user should go 
  The DoNavigate() looks for a field name 'navigate.to' on post/querystring entries
  
  -->

<p>
#if ($WizardHelper.HasPreviousStep())
    $WizardHelper.LinkToPrevious("Back")
#end
  &nbsp;
  &nbsp;
  
  $HtmlHelper.SubmitButton("Next")
</p>

</form>

</p>