<p>
Please inform your interests so we can select very special offers and
send you spam:
</p>

$Form.FormTag("%{action='subscribestep-save'}")

<h4>Interests</h4>

<ul>

#set($list = $Form.CreateCheckboxList("account.Interests", $source))
#foreach($it in $list)
  <li>
  $list.Item()    $it
  </li>
#end

</ul>

#if ($WizardHelper.HasPreviousStep())
  $WizardHelper.LinkToPrevious("Back")
#end

$Form.Submit("Next")

$Form.EndFormTag()