<p>
Please inform your interests so we can select very special offers and
send you spam:
</p>

<form action="subscribestep-save.rails" method="post">

<h4>Interests</h4>

<ul>

#set($list = $FormHelper.CreateCheckboxList("account.Interests", $source))
#foreach($it in $list)
  <li>
  $list.Item()    $it
  </li>
#end

</ul>

#if ($WizardHelper.HasPreviousStep())
  $WizardHelper.LinkToPrevious("Back")
#end

$HtmlHelper.SubmitButton("Next")
