<h3>#if ( $movie.Id > 0 ) Edit a movie #else Add a movie #end</h3>

$Form.FormTag("%{action='Save'}")
<input type="hidden" name="movie.id" value="$movie.Id" />
<table>
    <tr><td><strong>$loc.title</strong></td><td><input type="text" name="movie.title" value="$!movie.Title" /></td></tr>
    <tr><td><strong>$loc.description</strong></td><td><textarea name="movie.description" cols="50" rows="5">$!movie.Description</textarea></td></tr>
    <tr><td><strong>$loc.dateAddedLong</strong></td><td><input name="movie.added" type="text" size="7" value="$movie.Added.ToString( "d" )" /></td></tr>
    <tr><td><strong>$loc.scoreLong</strong></td><td><input name="movie.score" size="2" type="text" value="$movie.Score" /></td></tr>
    <tr>
        <td colspan="2" align="center">
            <br />
            $Form.Submit("Save")
        </td>
    </tr>
</table>
$Form.EndFormTag()
<a href="$siteRoot/Movies/List.castle">Cancel</a>