<h3>$text.movieList:</h3>

<table border="1" cellpadding="4">
    <tr>
        <th>$text.title</th>
        <th>$text.dateAddedShort</th>
        <th>$text.scoreShort</th>
    </tr>
    #foreach ( $movie in $movies)
        <tr>
            <td>$movie.Title</td>
            <td>$movie.Added.ToString( "d" )</td>
            <td align="center">$movie.Score</td>
            <td><a href="$siteRoot/Movies/View.rails?movieId=$movie.Id">$text.actionView</a></td>
            <td><a href="$siteRoot/Movies/Edit.rails?movieId=$movie.Id">$text.actionEdit</a></td>
        </tr>
    #end
</table>

<br /><br />
$StringHelper.Format( $text.movieCount, $movies.Length )<br />
<a href="$siteRoot/Movies/Edit.rails?movieId=0">Add a movie</a>