<?xml version="1.0" encoding="utf-8" ?> 

<configuration>

    <configSections>
        <section name="monoRail"
                 type="Castle.MonoRail.Engine.Configuration.MonoRailSectionHandler, Castle.MonoRail.Engine" />
        <section name="log4net"
		 type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    </configSections>

    <monoRail>
		<controllers>
			<assembly>TestSiteNVelocity</assembly>
		</controllers>
		<viewEngine 
			viewPathRoot="views" 
			customEngine="Castle.MonoRail.Framework.Views.NVelocity.NVelocityViewEngine, Castle.MonoRail.Framework.Views.NVelocity" />
		<routing>
			<rule> 
				<pattern>(/blog/posts/)(\d+)/(\d+)/(.)*$</pattern>
				<replace><![CDATA[ /blog/view.rails?year=$2&month=$3 ]]></replace>
			</rule>
			<rule> 
				<pattern>(/news/)(\d+)/(\d+)/(.)*$</pattern>
				<replace><![CDATA[ /news/view.rails?year=$2&month=$3 ]]></replace>
			</rule>
		</routing>
    </monoRail>

    <system.web>
		<compilation defaultLanguage="C#" />

        <httpHandlers>
            <add verb="*" path="*.rails" 
               type="Castle.MonoRail.Engine.MonoRailHttpHandlerFactory, Castle.MonoRail.Engine" />
        </httpHandlers>

		<httpModules>
			<add name="routing" type="Castle.MonoRail.Engine.RoutingModule, Castle.MonoRail.Engine" /> 
		</httpModules> 
    </system.web>

    <log4net threshold="OFF" />

</configuration>
