<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="monorail" type="Castle.MonoRail.Framework.Configuration.MonoRailSectionHandler, Castle.MonoRail.Framework" />
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
	</configSections>
	<monorail>
		<!--
		<services>
			<service 
				id="Custom" 
				interface="Castle.Core.Logging.ILoggerFactory, Castle.Core"
				type="Castle.Services.Logging.Log4netIntegration.Log4netFactory, Castle.Services.Logging.Log4netIntegration" />
		</services>
		-->
		
		<controllers>
			<assembly>TestSiteNVelocity</assembly>
		</controllers>
		<viewEngine viewPathRoot="views" customEngine="Castle.MonoRail.Framework.Views.NVelocity.NVelocityViewEngine, Castle.MonoRail.Framework.Views.NVelocity" />
		<routing>
			<rule>
				<pattern>(/blog/posts/)(\d+)/(\d+)/(.)*$</pattern>
				<replace><![CDATA[ /blog/view.rails?year=$2&month=$3 ]]></replace>
			</rule>
			<rule>
				<pattern>(/news/)(\d+)/(\d+)/(.)*$</pattern>
				<replace><![CDATA[ /news/view.rails?year=$2&month=$3 ]]></replace>
			</rule>
		</routing>
	</monorail>
	<system.web>
		<compilation defaultLanguage="C#" debug="false" />
		<trace enabled="false" pageOutput="false" requestLimit="15" />
		<httpHandlers>
			<add verb="*" path="*.rails" type="Castle.MonoRail.Framework.MonoRailHttpHandlerFactory, Castle.MonoRail.Framework" />
		</httpHandlers>
		<httpModules>
			<add name="routing"  type="Castle.MonoRail.Framework.RoutingModule, Castle.MonoRail.Framework" />
			<add name="monorail" type="Castle.MonoRail.Framework.EngineContextModule, Castle.MonoRail.Framework" />
		</httpModules>
		<pages validateRequest="true" />
		<globalization culture="en-US" uiCulture="en-US"/>
	</system.web>
</configuration>
