<div align="center">
  <h2>Databind</h2>
</div>

<div class="container">

<p>
  Within a <code>SmartDispatcherController</code> you can now associate classes to be 
  populated with data from your form. Just use the 
  DataBindAttribute on one or more arguments on your action.
</p>

<p>Suppose you have the following form contents on your page:</p>

<pre><code>
Name: &lt;input type="text" name="name"&gt;
Address: &lt;input type="text" name="address"&gt;
E-mail: &lt;input type="text" name="email"&gt;
Age: 
&lt;select name="age"&gt;
  &lt;option&gt;18&lt;/option&gt;
  &lt;option&gt;19&lt;/option&gt;
  &lt;option&gt;20&lt;/option&gt;
  &lt;option&gt;21&lt;/option&gt;
&lt;/select&gt;
</code></pre>

<p>And your Account class looks like the following code:</p>

<pre><code>
namespace Yournamespace
{
  public class Account
  {
    private String name;
    private String address;
    private String email;
    private int age;
    
    public String Name
    {
      get { return name; }
      set { name = value; }
    }
    
    public String Address
    {
      get { return address; }
      set { address = value; }
    }
    
    public String Email
    {
      get { return email; }
      set { email = value; }
    }
    
    public int Age
    {
      get { return age; }
      set { age = value; }
    }
  }
}
</code></pre>

<p>The DataBind will automatically fills the account instance for you</p>

<pre><code>
namespace Yournamespace
{
  public class AccountController : SmartDispatcherController
  {
    public void Update([DataBind] Account account)
    {
    }
  }
}
</code></pre>

<p>
  You may want to use prefixes to avoid collisions as well:
</p>

<pre><code>
namespace Yournamespace
{
  public class AccountController : SmartDispatcherController
  {
    public void Update([DataBind(Prefix="account")] Account account)
    {
    }
  }
}
</code></pre>

<p>
  In this case, the form would look like:
</p>

<pre><code>
Name: &lt;input type="text" name="account.name"&gt;
Address: &lt;input type="text" name="account.address"&gt;
E-mail: &lt;input type="text" name="account.email"&gt;
Age: 
&lt;select name="account.age"&gt;
  &lt;option&gt;18&lt;/option&gt;
  &lt;option&gt;19&lt;/option&gt;
  &lt;option&gt;20&lt;/option&gt;
  &lt;option&gt;21&lt;/option&gt;
&lt;/select&gt;
</code></pre>


