<div align="center">
  <h2>Ajax Support - ObserverForm</h2>
</div>

<div class="container">
  
  The same as ObserverField, but this one invokes the remote
  method whenever some value on the form changes.
  
</div>

<h3>Overloads:</h3>

<div class="container">

<ul>
  <li><code>public String ObserveForm(String formId, int frequency, String url, String idOfElementToBeUpdated, String with)</code></li>
  <li><code>public String ObserveForm(String formId, IDictionary options)</code></li>
</ul>

</div>

<h3>Examples:</h3>

<div class="container">

<a href="${siteRoot}/code/showCode.rails?file=Views/AjaxArea/observerform/index.vm">Check this view source code</a>.

<p>
  <form id="mainform">
  Name: <input type="text" name="name" id="name"><br>
  Age: <input type="text" name="age" id="age"><br>
  <br>
  
  Validation message:
  <span id="message"></span>
  
  </form>
  $AjaxHelperOld.ObserveForm("mainform", 3, "Validate.rails", "message", null) 
</p>

</div>

