
<h3>TextField</h3>

<p>
somekey: $Form.TextField("somekey")
</p>

<p>
simplevalue: $Form.TextField("simplevalue")
</p>

<p>
Product.Name: $Form.TextField("product.name")
</p>

<p>
Product.Supplier.Name: $Form.TextField("product.supplier.name")
</p>

<h3>Overriding the elements id</h3>

<p>
somekey: $Form.TextField("somekey", "%{id='customid'}")
</p>

<p>
simplevalue: $Form.TextField("simplevalue", "%{id='otherid'}")
</p>

<p>
Product.Name: $Form.TextField("product.name", "%{id='productname'}")
</p>




