
<h3>TextFieldFormat</h3>

<p>
Today: $Form.TextFieldFormat("today", "MMMM - dd - yyyy")
</p>

<p>
value: $Form.TextFieldFormat("value", "00.000")
</p>

<p>
Product.Price: $Form.TextFieldFormat("product.price", "C")
</p>


