<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
	<head>
		<link rel="STYLESHEET" type="text/css" href="${siteRoot}/Content/style.css" />
		<title>Binder Sample</title>
		$Ajax.InstallScripts()
		$Behaviour.InstallScripts()
		$Scriptaculous.InstallScripts()
	</head>

<body>

<p>Starting typing on the field below to use the auto completion in action</p>

<p>
Auto completion: 
$AjaxHelper.InputTextWithAutoCompletion( "name", "getsearchitems.castle", null, null )
</p>

</body>

</html>
