
<h3>CheckboxList</h3>

$Form.FormTag("%{action='ProcessCheckboxList'}")

<p>Prime numbers (simple arrays)</p>

<p>
#set($items = $Form.CreateCheckboxList("selectedPrimes", $primenumbers))

#foreach($elem in $items)
  $items.Item()  $elem   <br/>
#end
</p>

<p>
Blog categories:
</p>

<p>
#set($items = $Form.CreateCheckboxList("blog.categories", $categories, "%{value='Id'}"))

#foreach($elem in $items)
  $items.Item()  $elem.Name   <br/>
#end
</p>

$Form.Submit("Send")

$Form.EndFormTag()
