
<h3>Checkbox</h3>

$Form.FormTag("%{action='processcheckbox'}")

<p>Using it to pass a 'true' value if checked</p>

<p>
  $Form.CheckboxField("enabled1") Enable 'something' <br/> 
</p>

<p>
Overriding the true and false values with 1 and -1 respectivelly:
</p>

<p>
  $Form.CheckboxField("enabled2", "%{trueValue='1', falseValue='-1'}") Enable 'something else' <br/> 
</p>


$Form.Submit("Send")

$Form.EndFormTag()
