
<h3>Result</h3>

<p> selected prime numbers: 

<ul>
#foreach($v in $selectedPrimes)
  <li> $v </li>
#end
</ul>

</p>


<p> Blog: categories selected (ids)

<ul>
#foreach($cat in $blog.Categories)
  <li> $cat.Id </li>
#end
</ul>

</p>

</form>

