#capturefor(scripts)
function newCategory() {
	var name = prompt("Enter category name");

	if (name != "") {
		new Ajax.Updater("newCategory", "$Url.For("%{controller='Category', action='InsertSave'}")", {
			parameters: { name: name },
			evalScripts: true
		});
	}
}
#end

<h3>
	#if ($product)
		Edit a product
	#else
		Insert a new product
	#end
</h3>

#if ($product)
	$Form.FormTag("%{action='EditSave'}")
	$Form.HiddenField("product.Id", $product.Id)
#else
	$Form.FormTag("%{action='InsertSave'}")
#end

<table>
	<tr>
		<th>Product name</th>
		<td>$Form.TextField("product.name")</td>
	</tr>

	<tr>
		<th>Price</th>
		<td>$Form.TextField("product.price")</td>
	</tr>

	<tr>
		<th>Category</th>
		<td>
			$Form.Select("product.Category.Id", $categories, "%{value='Id', text='Name'}")
			&nbsp;
			<a href="#new" onClick="newCategory();">New Category</a>
		</td>
	</tr>

	<tr>
		<td colspan="2" align="right">
			<input type="submit">
		</td>
	</tr>
</table>

$Form.EndFormTag()

<div id="newCategory"></div>