<?xml version="1.0" standalone="yes" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="mvc" type="castle.mvc.Configuration.ConfigurationSectionHandler, castle.mvc"/>
		
	<!--	 <section name="castle" type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler, Castle.Windsor" />
	-->
	</configSections>

	<mcv> 
		<webViews>
			<view id="control.id" path="/views/cart/cart.aspx" />
			<view id="cart" path="/views/cart/cart.aspx" />
			<view id="browsecatalog" path="/views/catalog/browsecatalog.aspx"  />
			<view id="error"  path="/views/error.aspx" />
		</webViews>
		
		<!-- not yet implemented -->
		<winViews>
			<view id="cart" type="Application.WinUI.cart, Application.WinUI" />
			<view id="browsecatalog" type="Application.WinUI.browsecatalog, Application.WinUI"  />
			<view id="error" type="Application.WinUI.error, Application.WinUI"/>
		</winViews>
		
		<global-commands>
			<command id="goHome" view="Default" />
			<command id="showCategory" view="Category" />
			<command id="showCart" view="Cart" />
			<command id="signIn" view="SignIn" />
			<command id="signOut" view="SignOut" />
			<command id="editAccount" view="AccountEdition" />
			<command id="showResult" view="SearchProduct" />
			<command id="register" view="Register" />
		</global-commands>
		
		<command-mappings>
			<commands view="cart">
				<command id="resume" view="browsecatalog" />
				<command id="checkout" view="checkout" />
				<command id="fail" view="error" />
				<command id="stop" view="logon"/>
			</commands>
		</command-mappings>
	</mvc> 

</configuration>