<?xml version="1.0" standalone="yes" encoding="utf-8" ?>
<configuration>
	<sectionGroup name="castle">
		<section name="mvc" type="castle.mvc.Configuration.ConfigurationSectionHandler, castle.mvc"/>
	</sectionGroup>

	<castle> 
		<mvc>
			<webViews>
				<view id="control.id" path="/views/cart/cart.aspx" />
				<view id="cart" path="/views/cart/cart.aspx" />
				<view id="browsecatalog" path="/views/catalog/browsecatalog.aspx"  />
				<view id="error"  path="/views/error.aspx" />
			</webViews>
			
			<winViews>
				<view id="cart" type="Application.WinUI.cart, Application.WinUI" />
				<view id="browsecatalog" type="Application.WinUI.browsecatalog, Application.WinUI"  />
				<view id="error" type="Application.WinUI.error, Application.WinUI"/>
			</winViews>
			
			<command-mappings>
				<commands view="cart">
					<command id="resume" view="browsecatalog" />
					<command id="checkout" view="checkout" />
					<command id="fail" view="error" />
					<command id="stop" view="logon"/>
				</commands>
			</command-mappings>
		</mvc>
	</castle> 

</configuration>