<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<facilities>
		<facility id="db4o" type="Castle.Facilities.Db4oIntegration.Db4oFacility, Castle.Facilities.Db4oIntegration">
			<container 
					id="db4o.container"
					databaseFile="dump.yap" />
			<!-- 
			<container 
					id="db4o.container"
					databaseFile="dump.yap"
					hostName="localhost"
					remotePort="8080" 
					user="me" 
					password="my" /> 
			-->
		</facility>
	</facilities>
</configuration>
