<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="castle">
			<section name="mvc" type="Castle.MVC.Configuration.ConfigurationSectionHandler, castle.mvc"/>
		</sectionGroup>
	</configSections>
	<castle> 
		<mvc>
			<webViews>
				<view id="page2" path="/views/home/page2.aspx" />
				<view id="index" path="/views/home/index.aspx"  />
				<view id="error"  path="/views/error.aspx" />
			</webViews>

			<command-mappings>
				<commands view="index">
					<command id="Login" view="page2" />
				</commands>
				<commands view="page2">
					<command id="GoPage1" view="index" />
				</commands>
			</command-mappings>
		</mvc>
	</castle> 
	
  <system.web>

    <compilation 
         defaultLanguage="c#"
         debug="true"
    />

	 <!--<httpModules>
		<add name="MVCModule" type="Castle.MVC.MVCModule, Castle.MVC"/>
	</httpModules>
	
     MESSAGES D'ERREUR PERSONNALISÉS
          Affectez au mode customErrors les valeurs "On" ou "RemoteOnly" pour activer les messages d'erreur personnalisés, "Off" pour les désactiver. 
          Ajoutez des balises <error> pour chacune des erreurs à gérer.

          "On" Toujours afficher des messages (conviviaux) personnalisés.
          "Off" Toujours afficher les informations d'erreur ASP.NET détaillées.
          "RemoteOnly" Afficher des messages (conviviaux) personnalisés uniquement aux utilisateurs qui ne s'exécutent pas 
           sur le serveur Web local. Ce paramètre est recommandé à des fins de sécurité, afin de 
           ne pas afficher d'informations détaillées sur l'application aux clients distants.
    -->
    <customErrors 
    mode="RemoteOnly" 
    /> 

    <!--  AUTHENTIFICATION 
          Cette section définit les stratégies d'authentification de l'application. Les modes possibles sont "Windows", 
          "Forms", "Passport" et "None"

          "None" aucune authentification n'est effectuée. 
          "Windows" IIS effectue l'authentification (authentification de base, Digest ou intégrée de Windows) selon 
           ses paramètres pour l'application. L'accès anonyme doit être désactivé dans IIS. 
          "Forms" Vous fournissez un formulaire personnalisé (page Web) aux utilisateurs pour leur permettre d'entrer leurs informations d'authentification, puis vous les 
           authentifiez dans votre application. Un jeton d'informations d'authentification utilisateur est stocké dans un cookie.
          "Passport" L'authentification s'effectue via un service d'authentification centralisé fourni
           par Microsoft, qui offre des services d'ouverture de session unique et de profil principal aux sites membres.
    -->
    <authentication mode="Windows" /> 

	<!--  AUTORISATION 
          Cette section définit les stratégies d'autorisation de l'application. Vous pouvez autoriser ou refuser l'accès
          aux ressources de l'application par utilisateur ou rôle. Les caractères génériques : "*" signifient tout le monde, "?" signifie utilisateurs 
          (non authentifiés) anonymes.
    -->

    <authorization>
        <allow users="*" /> <!-- Autoriser tous les utilisateurs -->
            <!--  <allow     users="[liste des utilisateurs séparés par une virgule]"
                             roles="[liste des rôles séparés par une virgule]"/>
                  <deny      users="[liste des utilisateurs séparés par une virgule]"
                             roles="[liste des rôles séparés par une virgule]"/>
            -->
    </authorization>

    <!--  ENREGISTREMENT DANS UN JOURNAL DES TRACES AU NIVEAU DE L'APPLICATION
          Les traces au niveau de l'application peuvent être enregistrées dans un journal pour chaque page dans une application. 
          Définissez trace enabled="true" pour activer l'enregistrement des traces dans un journal.  Si pageOutput="true", les
          informations des traces seront affichées en bas de chaque page.  Dans le cas contraire, vous pouvez afficher le
          journal des traces de l'application en parcourant la page "trace.axd" à partir de la racine de votre application
          Web. 
    -->
    <trace
        enabled="false"
        requestLimit="10"
        pageOutput="false"
        traceMode="SortByTime"
		localOnly="true"
    />

    <!--  PARAMÈTRES DE L'ÉTAT DE SESSION
          Par défaut ASP.NET utilise des cookies pour identifier les demandes qui appartiennent à une session donnée. 
          Si les cookies ne sont pas disponibles, une session peut être suivie en ajoutant un identificateur de session à l'URL. 
          Pour désactiver les cookies, définissez sessionState cookieless="true".
    -->
    <sessionState 
            mode="InProc"
            stateConnectionString="tcpip=127.0.0.1:42424"
            sqlConnectionString="data source=127.0.0.1;Trusted_Connection=yes"
            cookieless="false" 
            timeout="20" 
    />

    <!--  GLOBALISATION
          Cette section définit les paramètres de globalisation de l'application. 
    -->
    <globalization 
            requestEncoding="utf-8" 
            responseEncoding="utf-8" 
   />
   
 </system.web>

</configuration>
