Content only visible to authenticated users

<p> 
Authentication details: 
<p> 

<pre>
$context.CurrentUser

$context.CurrentUser.Identity

Identity.Name: $context.CurrentUser.Identity.Name

Identity.AuthenticationType: $context.CurrentUser.Identity.AuthenticationType

Identity.IsAuthenticated: $context.CurrentUser.Identity.IsAuthenticated
</pre>

