<?xml version="1.0" encoding="utf-8" ?> 

<configuration>

    <configSections>
        <section name="castle"
                 type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler, Castle.Windsor" />
    </configSections>

    <appSettings>
        <add key="tests.src" value="../Castle.Windsor.Tests" />
    </appSettings>

	<castle>
		<facilities>

			<facility id="testidengine">
				<item>value</item>
			</facility>
			<facility id="testidengine2">
			<![CDATA[
			value within CDATA section
			]]>
			</facility>
		
		</facilities>

		<components>

			<component id="testidcomponent1">
				<item>value1</item>
			</component>

			<component id="testidcomponent2">
				<item>value2</item>
			</component>

		</components>
	</castle>

</configuration>