<?xml version="1.0" encoding="utf-8" ?> 

<configuration>

    <configSections>
        <section name="castle"
                 type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler, Castle.Windsor" />
    </configSections>

	<castle>
		<facilities>

			<facility id="testidengine">
				<item>value</item>
			</facility>

		</facilities>

		<components>

			<component id="testidcomponent1">
				<item>value1</item>
			</component>

			<component id="testidcomponent2">
				<item>value2</item>
			</component>

		</components>
	</castle>

</configuration>