# User-specific files
*.suo
*.user
.vs
_ReSharper*/
*.csproj.ReSharper

# Build output
build/
artifacts/
src/**/obj/
src/**/bin/
buildscripts/**/obj/
buildscripts/**/bin/
project.lock.json
/.dnx/
/.dotnet/
tools/**/obj/
tools/**/build/

# Docs artifacts
docs/obj/
docs/bin/

# Xml doc/test files
*.xml
src/Castle.Core/Castle.Core.xml
src/Castle.Services.Logging.NLogIntegration/Castle.Services.Logging.NLogIntegration.xml
src/Castle.Services.Logging.SerilogIntegration/Castle.Services.Logging.SerilogIntegration.xml
src/Castle.Services.Logging.log4netIntegration/Castle.Services.Logging.log4netIntegration.xml
