image:
- Visual Studio 2022
- Ubuntu2204


# ----------------
#  ALL BUILD JOBS
# ----------------
skip_tags: false
test: off


for:
- # -----------------
  #  LINUX BUILD JOB
  # -----------------
  matrix:
    only:
    - image: Ubuntu2204

  # install .NET 10 SDK
  install:
  - curl -L https://dot.net/v1/dotnet-install.sh -o dotnet-install.sh
  - chmod +x ./dotnet-install.sh
  - sudo ./dotnet-install.sh --channel 10.0 --install-dir /usr/share/dotnet

  # build and run tests
  build_script:
  - uname -a
  - ./build.sh

  # upload test results
  after_build:
  - find "$APPVEYOR_BUILD_FOLDER" -type f -name '*TestResults.xml' -print0 | xargs -0 -I '{}' curl -F 'file=@{}' "https://ci.appveyor.com/api/testresults/nunit3/$APPVEYOR_JOB_ID"

  # deployment is handled exclusively by the Windows build job (below)
  deploy: off


- # -------------------
  #  WINDOWS BUILD JOB
  # -------------------
  matrix:
    only:
    - image: Visual Studio 2022

  # update AppVeyor build version; this matters for deployments
  init:
  - ps: |
      if ($env:APPVEYOR_REPO_TAG -eq "true")
      {
          Update-AppveyorBuild -Version ($env:APPVEYOR_REPO_TAG_NAME).TrimStart("v")
      }

  # install .NET 10 SDK
  install:
  - cmd: choco install dotnet-10.0-sdk

  # build and run tests
  build_script:
  - cmd: build.cmd

  # upload test results
  after_build:
  - ps: |
      $wc = New-Object System.Net.WebClient
      $wc.UploadFile("https://ci.appveyor.com/api/testresults/nunit/$($env:APPVEYOR_JOB_ID)", (Resolve-Path "Net80TestResults.xml"))
      $wc.UploadFile("https://ci.appveyor.com/api/testresults/nunit/$($env:APPVEYOR_JOB_ID)", (Resolve-Path "Net80WeakNamedTestResults.xml"))
      $wc.UploadFile("https://ci.appveyor.com/api/testresults/nunit/$($env:APPVEYOR_JOB_ID)", (Resolve-Path "DesktopClrTestResults.xml"))
      $wc.UploadFile("https://ci.appveyor.com/api/testresults/nunit/$($env:APPVEYOR_JOB_ID)", (Resolve-Path "DesktopClrWeakNamedTestResults.xml"))

  # push packages to NuGet on tag builds
  on_success:
  - ps: |
      if ($env:APPVEYOR_REPO_TAG -eq "true")
      {
          nuget push ".\build\Castle.Core.${env:APPVEYOR_BUILD_VERSION}.nupkg" -ApiKey $env:NUGET_API_KEY -Source https://api.nuget.org/v3/index.json
          nuget push ".\build\Castle.Core-log4net.${env:APPVEYOR_BUILD_VERSION}.nupkg" -ApiKey $env:NUGET_API_KEY -Source https://api.nuget.org/v3/index.json
          nuget push ".\build\Castle.Core-NLog.${env:APPVEYOR_BUILD_VERSION}.nupkg" -ApiKey $env:NUGET_API_KEY -Source https://api.nuget.org/v3/index.json
          nuget push ".\build\Castle.Core-Serilog.${env:APPVEYOR_BUILD_VERSION}.nupkg" -ApiKey $env:NUGET_API_KEY -Source https://api.nuget.org/v3/index.json
          nuget push ".\build\Castle.Core-DiagnosticsLogger.${env:APPVEYOR_BUILD_VERSION}.nupkg" -ApiKey $env:NUGET_API_KEY -Source https://api.nuget.org/v3/index.json
      }

  # upload packages to AppVeyor
  artifacts:
  - path: build\*.nupkg
    name: core
