<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />

    <!-- This package source is required for package Microsoft.TargetingPack.NETFramework.v4.6.1,
         which is not available on NuGet.org. This package contains the reference assemblies
         required to compile for .NET Framework on Unix. -->
    <add key="dotnet.myget.org" value="https://dotnet.myget.org/F/dotnet-core/api/v3/index.json" />
  </packageSources>
</configuration>
