#*

@test sample.vm

This template is used for Velocity regression testing.
If you alter this template make sure you change the
corresponding comparison file so that the regression 
test doesn't fail incorrectly.

*#

<html>
<head><title>Sample velocity page</title></head>
<body bgcolor="#ffffff">
<center>

<h2>Hello from velocity!</h2>
<i>Here's the list of people</i>
<table cellspacing="0" cellpadding="5" widht="100%">
    <tr>
        <td bgcolor="#eeeeee" align="center">
            Names
        </td>
    </tr>
    #foreach ($name in $provider.Customers)
    <tr>
        <td bgcolor="#eeeeee">$name</td>
    </tr>
    #end
</table>
</center>
</html>
