<% @page_title = "Documentation" %>
<% @main_title = "Available documentation" %>
<%= render "/documentation/deflinks" %>

The following projects have documentation available online:

<% projects.each do |project| %>
<% next if project.docs.nil? %>
<p>
	<ul><li><a href="<%= project.docs %>"><%= project.name %></a></li></ul>
</p>
<% end %>

<p>&nbsp;</p>
