<table width="250px" border="1">
  <tr>
    <td class="smallstrong">Name</td>
    <td class="smallstrong">Email</td>
  </tr>
#foreach( $c in $contacts )
  <tr>
    <td class="small">${c.name}</td>
    <td class="small">${c.email}</td>
  </tr>
#end
</table>