<div align="center">
  <h2>Ajax Support - FormRemoteTag</h2>
</div>

<div class="container">
  
  The BuildFormRemoteTag helper method creates a form tag that
  submits the contents using XMLHttpRequest instead of the using the standard way.
  
</div>

<h3>Overloads:</h3>

<div class="container">

<ul>
  <li><code>public String BuildFormRemoteTag(String url, String idOfElementToBeUpdated, String with)</code></li>
  <li><code>public String BuildFormRemoteTag(String url, String idOfElementToBeUpdated, 
			String with, String loading, String loaded, String interactive, String complete)</code></li>
  <li><code>public String BuildFormRemoteTag(IDictionary options)</code></li>
</ul>

</div>

<h3>Examples:</h3>

<div class="container">

<a href="${siteRoot}/code/showCode.mr?file=Views/AjaxArea/formremotetag/index.vm">Check this view source code</a>.

<p>
  Simple
  
  <div id="contacts">
    
  </div>

  Add contact:

<br>
$AjaxHelper.BuildFormRemoteTag("AddContact.mr", "contacts", "Form.Serialize(this)")
<br>
    Name: <input name="name"> <br>
    Email: <input name="email"> <br>
    <input type="submit" value="Add">
  </form>
  
</p>

<hr>

<p>
  Using callbacks
  
  <div id="status" style="display: none;"></div>
  
  <div id="contacts2">
    
  </div>

  Add contact:

<br>
$AjaxHelper.BuildFormRemoteTag("AddContact2.mr", "contacts2", "Form.Serialize(this)", "Toggle.display('status');$('status').innerHTML='<b>Saving, please cross your fingers!</b>'", null, "$('status').innerHTML='Phew! Completed'", "Toggle.display('status')")
<br>
    Name: <input name="name"> <br>
    Email: <input name="email"> <br>
    <input type="submit" value="Add">
  </form>
  
</p>

</div>

