#macro(showexception $exc)
	$exc.GetType().Name

	Message:
	$exc.Message

	#if($exc.StackTrace)
	StackTrace:
	$exc.StackTrace
	#end

	#if($exc.InnerException)
	<b>Inner exception:</b>
	#set($inner = $exc.InnerException)
	#showexception($inner)
	#end
#end

<h2>Unexpected error happenend</h2>

<p> 
A really unexpected error happened. The problem has been logged. 
If the error persists, please contact the site administrator.
</p>

<!--
#set($exception = $context.LastException)
#showexception($exception)
-->