<?xml version="1.0" encoding="utf-8" ?>

<configuration>

  <system.diagnostics>
    <sources>
      <source name="Default">
        <listeners>
          <add name="default" type="Castle.Core.Logging.Tests.TraceLoggerTests+Listener, Castle.Core.Tests" initializeData="defaultrule" />
        </listeners>
      </source>
      <source name="Castle.Core.Logging.Tests.TraceLoggerTests">
        <listeners>
          <add name="tests" type="Castle.Core.Logging.Tests.TraceLoggerTests+Listener, Castle.Core.Tests" initializeData="testsrule"/>
        </listeners>
      </source>
      <source name="Castle.Core.Configuration">
        <listeners>
          <add name="config" type="Castle.Core.Logging.Tests.TraceLoggerTests+Listener, Castle.Core.Tests" initializeData="configrule"/>
        </listeners>
      </source>
    </sources>
  </system.diagnostics>

</configuration>
