<html>
<body>
<form action="insert.castle" method="post">
  <p>
  Name: 
  $FormHelper.TextField("condtype.name") 
  </p>

  <input type="submit" id="insertbutton" value="Insert" />

</form>
</body>
</html>
