<h2>Products</h2>

<p>$HtmlHelper.LinkTo("Create new product", "new")</p>

<div style="border: 1px solid black;">
<table class="scaffoldtable" cellpadding="5" cellspacing="0" border="0" width="100%">
  <tr>
    <th>&nbsp;</th>
    <th>Name</th>
    <th>Description</th>
    <th>Price</th>
    <th>Category</th>
    <th>&nbsp;</th>
  </tr>
#if ($list.TotalItems == 0)
  <tr class="scaffoldrow">
    <td colspan="6" align="center">No products in the database.</td>
  </tr>
#end
#foreach($product in $list)
  <tr class="scaffoldrow">
    <td align="center">$product.Id</td>
    <td>$product.Name</td>
    <td>$product.Description</td>
    <td align="center">$product.Price.ToString("C")</td>
    <td align="center">$product.Category.Name</td>
    <td width="1%" nowrap><a href="">edit</a> <a href="">delete</a></td>
  </tr>
#end
</table>

<div class="pagination">
<table width="100%" border="0">
  <tr>
  <td>Showing $list.FirstItem - $list.LastItem of $list.TotalItems</td>
  <td align="right">
#if($list.HasFirst) $pagination.CreatePageLink( 1, "first" ) #end
#if(!$list.HasFirst) first #end
#if($list.HasPrevious) | $pagination.CreatePageLink( $list.PreviousIndex, "prev" ) #end
#if(!$list.HasPrevious) | prev #end
#if($list.HasNext) | $pagination.CreatePageLink( $list.NextIndex, "next" ) #end
#if(!$list.HasNext) | next #end
#if($list.HasLast) | $pagination.CreatePageLink( $list.LastIndex, "last" ) #end
#if(!$list.HasLast) | last #end
  </td>
  </tr>
</table>
</div>

</div>