<h2>New Product</h2>

<div id="error">
#parse("shared/inlineerror.vm")
</div>

#set ($validatorForm = "return validateForm( this, false, false, false, false, 5 ) " )

$HtmlHelper.Form("create.rails", $DictHelper.CreateDict("method=post", "onsubmit=${validatorForm}", "enctype=multipart/form-data"))

<table border="0" cellpadding="2" width="360px">
  <tr>
    <td>$HtmlHelper.LabelFor("product.name", "Name:")</td>
    <td>$HtmlHelper.InputText("product.name", $product.name, 25, 25, $DictHelper.CreateDict("validators=blank"))</td>
  </tr>
  <tr>
    <td>$HtmlHelper.LabelFor("product.description", "Description:")</td>
    <td>$HtmlHelper.TextArea("product.description", 30, 3, $product.Description)</td>
  </tr>
  <tr>
    <td>$HtmlHelper.LabelFor("product.price", "Price:")</td>
    <td>$HtmlHelper.InputText("product.price", $product.price.ToString(), 5, 5)</td>
  </tr>
  <tr>
    <td>$HtmlHelper.LabelFor("product.category.id", "Category:")</td>
    <td>
    <!-- See how we manage to save a relation -->
    $HtmlHelper.Select("product.category.id")
      $HtmlHelper.CreateOptions($categories, "Name", "Id", $product.category.id)
    $HtmlHelper.EndSelect()
    </td>
  </tr>
  <tr>
    <td>$HtmlHelper.LabelFor("picture", "Picture:")</td>
    <td>$HtmlHelper.InputFile("picture")</td>
  </tr>
</table>

<p>
$HtmlHelper.SubmitButton("Create")
</p>

$HtmlHelper.EndForm()
