<% @title = "Export" %>

<p>You can export all the pages in this web as a zip file in either HTML (with working links and all) or the pure markup (to import in another wiki).</p> 

<ul id="feedsList">
  <li><a href="../export_html">HTML</a>
  <li><a href="../export_markup">Markup (<%= @web.markup %>)</a>
<% if OPTIONS[:pdflatex] && @web.markup == :textile %>
  <li><a href="../export_tex">TeX</a>
  <li><a href="../export_pdf">PDF</a>
<% end %>
</ul>
