<% @title = "#{@web_name} Login" %><% @hide_navigation = true %>

<form action="authenticate" method="post">
<p>
    <b>Password</b><br />
    <input type="password" name="password" />
</p>
</form>
