<% 
  @title = @page.plain_name
  @hide_navigation = true
  @style_additions = ".newWikiWord { background-color: white; font-style: italic; }"
  @inline_style = true
%>

<%= @page.display_content_for_export %>

<div class="byline">
  <%= @page.revisions? ? "Revised" : "Created" %> on <%= @page.pretty_created_at %> 
  by
  <%= @page.author_link({ :mode => (@link_mode || :show) }) %>
</div>
