<%
  @title = @page.plain_name
  @hide_navigation = false
  @style_additions = ".newWikiWord { background-color: white; font-style: italic; }"
  @inline_style = true
%>

<%= @page.display_published %>
