<div align="center">
  <h2>Rescues</h2>
</div>

<div class="container">

<p>
  Rescue is a way to associate a nice page to display some nasty error information. 
  It's better than showing a stack trace to your final user.
</p>

<p>
  This very controller has two rescues associate. One for the entire class and another
  that overrides the rescue for an action.
  <a href="error.rails">Click here</a> to perform an erroneous action or 
  <a href="othererror.rails">click here</a> to perform another erroneous action
  with an specialized rescue.
</p>
  
  The rescue views are
  <a href="${siteRoot}/code/showCode.rails?file=Views/Rescues/lie.vm">lie.vm</a> 
  and <a href="${siteRoot}/code/showCode.rails?file=Views/Rescues/sincere.vm">sincere.vm</a> 

<p>
  To associate a layout with your controller, use the Rescue attribute.
  Using it on class means that all actions will use it by default. You can override 
  the rescue for an action using the same attribute on the method.
</p>

<pre><code>
  [Rescue("generalerror")]
  public class HomeController : Controller
  {
    public void Index()
    {
    }

    [Rescue("databaseerror")]
    public void Save()
    {
      ...
    }
  }
</code></pre>

</div>
