namespace ${projectName}
{
	using System.Web;
#if($useWindsor)
	using Castle.Windsor;
	using Castle.Windsor.Configuration.Interpreters;
#end

	public class GlobalApplication : HttpApplication#if($useWindsor), IContainerAccessor #end 
	{
#if($useWindsor)
		private static IWindsorContainer container;
#end

		public GlobalApplication()
		{
		}
		
#if($useWindsor)
		#region IContainerAccessor

		public IWindsorContainer Container
		{
			get { return container; }
		}

		#endregion

		public void Application_OnStart()
		{
			container = new WindsorContainer(new XmlInterpreter());
		}

		public void Application_OnEnd() 
		{
			container.Dispose();
		}
#end
	}
}
