<h2>Contact us - FormHelper usage example</h2>

$Form.FormTag("%{action='SendContact'}")

<div class="formrow">
$Form.LabelFor("contact.name", "Your name:") <br/>
$Form.TextField("contact.name", "%{style='width: 300px;'}") <br/>
</div>

<div class="formrow">
$Form.LabelFor("contact.email", "Your e-mail:") <br/>
$Form.TextField("contact.email", "%{style='width: 300px;'}") <br/>
</div>

<div class="formrow">
$Form.LabelFor("contact.email", "Country:") <br/>
$Form.Select("contact.country.id", $countries, "%{value='Id', text='Name', firstoption='Please select', firstoptionvalue=''}") <br/>
</div>

<div class="formrow">
$Form.LabelFor("contact.message", "Message:") <br/>
$Form.TextArea("contact.message", "%{style='width: 300px; height: 120px;'}") <br/>
</div>

$Form.Submit("Send")

$Form.EndFormTag()