
<h3>Radio</h3>

$Form.FormTag("%{action='process'}")

<p>Using with an enum:</p>

<p>
  FileMode: <br/>
  
  $Form.RadioField("mode", "Append") FileMode.Append <br/> 
  $Form.RadioField("mode", "Create") FileMode.Create <br/> 
  $Form.RadioField("mode", "CreateNew") FileMode.CreateNew <br/> 
  $Form.RadioField("mode", "Open") FileMode.Open <br/> 
  $Form.RadioField("mode", "OpenOrCreate", "%{id='customhtmlid'}") FileMode.OpenOrCreate <br/> 
  $Form.RadioField("mode", "Truncate") FileMode.Truncate <br/> 
</p>

<p>
Kind of license agreement sample:
</p>

<p>

$Form.RadioField("agreement", true) I have read and agreed with the license <br/>

$Form.RadioField("agreement", false) I do not agree with the license terms <br/>

</p>

$Form.Submit("Send")

$Form.EndFormTag()
