<?xml version="1.0"?>
<configuration>

	<!--
		Version for .NET Core.

		The `<system.diagnostics>` section is not preregistered,
		and must be declared in `<configSections>` before use.
	-->

	<configSections>
		<section name="system.diagnostics" type="System.Diagnostics.DiagnosticsConfigurationHandler" />
	</configSections>

	<system.diagnostics>
		<trace autoflush="true"/>
		<sources>
			<source name="Default" switchValue="All">
				<listeners>
					<add name="default" type="Castle.Core.Logging.Tests.TraceLoggerTests+Listener, Castle.Core.Tests" initializeData="defaultrule"/>
				</listeners>
			</source>
			<source name="Castle.Core.Logging.Tests.TraceLoggerTests" switchValue="All">
				<listeners>
					<add name="tests" type="Castle.Core.Logging.Tests.TraceLoggerTests+Listener, Castle.Core.Tests" initializeData="testsrule"/>
				</listeners>
			</source>
			<source name="Castle.Core.Configuration" switchValue="All">
				<listeners>
					<add name="config" type="Castle.Core.Logging.Tests.TraceLoggerTests+Listener, Castle.Core.Tests" initializeData="configrule"/>
				</listeners>
			</source>
		</sources>
	</system.diagnostics>
</configuration>