
<h2>Castle's CCNet Dashboard</h2>

<h4>Projects</h4>

<table width="100%" cellspacing="0" cellpadding="3" class="general" border="0">
<tr>
  <th>Name</th>
  <th>Status</th>
  <th>Activity</th>
  <th>Last build</th>
  <th>Next build</th>
  <th>Last label</th>
  <th>WebURL</th>
</tr>
#foreach($stat in $status)
<tr class="simpletr" onMouseOver="this.className='simpletrover';" onMouseOut="this.className='simpletr';">
  <td align="center"><strong><a href="${siteRoot}/cruise/view.rails?name=${stat.Name}">$stat.Name</a></strong></td>
  <td align="center">$stat.Status</td>
  <td align="center">$stat.Activity</td>
  <td align="center">$stat.LastBuildDate</td>
  <td align="center">$stat.NextBuildTime</td>
  <td align="center">$stat.LastBuildLabel</td>
  <td align="center">$stat.WebURL</td>
</tr>
#end
</table>

<p>
$HtmlHelper.LinkTo("Manage Projects", "projects", "manage")
</p>


