

$!summary

#if($summary)
<ul>
	<li>$AjaxHelper.LinkToRemote("Summary", "ViewSpecific.rails", $DictHelper.CreateDict("update=contents", "with='name=${name}&log=${log}&detail=Summary'") ) </li>
	<li>$AjaxHelper.LinkToRemote("Modifications", "ViewSpecific.rails", $DictHelper.CreateDict("update=contents", "with='name=${name}&log=${log}&detail=Modifications'") ) </li>
	<li>$AjaxHelper.LinkToRemote("Compilation", "ViewSpecific.rails", $DictHelper.CreateDict("update=contents", "with='name=${name}&log=${log}&detail=Compilation'") ) </li>
	<li>$AjaxHelper.LinkToRemote("UnitTestsSummary", "ViewSpecific.rails", $DictHelper.CreateDict("update=contents", "with='name=${name}&log=${log}&detail=UnitTestsSummary'") ) </li>
	<li>$AjaxHelper.LinkToRemote("UnitTestsDetail", "ViewSpecific.rails", $DictHelper.CreateDict("update=contents", "with='name=${name}&log=${log}&detail=UnitTestsDetail'") ) </li>
</ul>
#end

