
<h2>Project $name</h2>

<table width="100%" cellspacing="2" cellpadding="2" border="0">

<tr>
  <td align="left" valign="top" width="15%">
  Latest builds
<p>  
#foreach($logname in $names)
  $AjaxHelper.LinkToRemote($viewhelper.BuildName($logname), "ViewSummary.rails", $DictHelper.CreateDict("update=contents", "with='name=${name}&log=${logname}'") )<br>
#end
</p>
  </td>
  
  <td align="left" valign="top">
  
<div id="contents" style="overflow: scroll;">
#parse("cruise\\partial_summary.vm")
</div>

  </td>
</tr>

</table>

<p>
$HtmlHelper.LinkTo("Back", "cruise", "index")
</p>


