<% @page_title = "Facilities" %>
<% @subarea = "Facilities" %>
<% @main_title = "External projects bindings" %>
<%= render "/home/deflinks" %>

The following facilities to external projects are planned:

<ol>

  <li>Aspect#
  <li>NHibernate
  <li>Bamboo.Prevalence
  <li>OJB.Net
  <li>iBatis.Net

</ol>