
#foreach($error in $errorlist)
  binding error $error.Key $error.Parent $error.Property $error.Exception <br/>
#end

<h3>Created</h3>


<span id="newid">$category.id</span><br/>
<span id="name">$category.Name</span>

<p>
<ul>
<li><a href="../category/new.rails">Add new Category</a></li>
<li><a href="../home/index.rails">Back to main page</a></li>
</ul>
</p>

