
#foreach($error in $errorlist)
  binding error $error.Key $error.Parent $error.Property $error.Exception <br/>
#end

<span id="newid">$category.id</span>
<span id="name">$category.Name</span>

