<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
		<title>${projectName} - $!{title}</title>
		<!--
		<link rel="stylesheet" href="$siteroot/Content/css/style.css" type="text/css" media="screen" />
		-->
		
		$!head

		<!-- We have added the common js files to the project. You can either bring them as static files: -->

		<script type="text/javascript" src="$siteroot/Content/javascripts/prototype.js"></script>
		<script type="text/javascript" src="$siteroot/Content/javascripts/scriptaculous.js"></script>
		<script type="text/javascript" src="$siteroot/Content/javascripts/behaviour.js"></script>
		<script type="text/javascript" src="$siteroot/Content/javascripts/formhelper.js"></script>

		<script type="text/javascript">
		$!scripts
		</script>

	</head>

<body>

	$childContent
	
</body>

</html>
