Microsoft Visual Studio Solution File, Format Version 8.00
Project("{FAE04EC0-301F-11D3-BF4B-00C04F79EFBC}") = "${basename}", "${basename}\\${basenameproj}", "{${projid}}"
	ProjectSection(ProjectDependencies) = postProject
	EndProjectSection
EndProject
Project("{FAE04EC0-301F-11D3-BF4B-00C04F79EFBC}") = "${basename}.Tests", "${basename}.Tests\\${basenameprojtests}", "{${projtestid}}"
	ProjectSection(ProjectDependencies) = postProject
	EndProjectSection
EndProject
Global
	GlobalSection(SolutionConfiguration) = preSolution
		Debug = Debug
		Release = Release
	EndGlobalSection
	GlobalSection(ProjectConfiguration) = postSolution
		{${projid}}.Debug.ActiveCfg = Debug|.NET
		{${projid}}.Debug.Build.0 = Debug|.NET
		{${projid}}.Release.ActiveCfg = Release|.NET
		{${projid}}.Release.Build.0 = Release|.NET
		{${projtestid}}.Debug.ActiveCfg = Debug|.NET
		{${projtestid}}.Debug.Build.0 = Debug|.NET
		{${projtestid}}.Release.ActiveCfg = Release|.NET
		{${projtestid}}.Release.Build.0 = Release|.NET
	EndGlobalSection
	GlobalSection(ExtensibilityGlobals) = postSolution
	EndGlobalSection
	GlobalSection(ExtensibilityAddIns) = postSolution
	EndGlobalSection
EndGlobal
