<?xml version="1.0" encoding="utf-8" ?> 
<configuration>

    <configSections>
    </configSections>

    <appSettings>
        <add key="web.physical.dir" value="${webapppath}" />
        <add key="web.virtual.dir" value="/" />
    </appSettings>

</configuration>
