<?xml version="1.0" encoding="utf-8" ?> 

<configuration>

    <configSections>
        <section name="monoRail"
                 type="Castle.MonoRail.Framework.Configuration.MonoRailSectionHandler, Castle.MonoRail.Framework" />
#if($useWindsorIntegration)
        <section name="castle"
                 type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler, Castle.Windsor" />
#end
    </configSections>

#if($useWindsorIntegration)
    <monoRail useWindsorIntegration="true">
#else
    <monoRail>
		<controllers>
			<assembly>${name}</assembly>
		</controllers>
#end
		<viewEngine 
			viewPathRoot="$viewpath" 
			customEngine="$viewenginetypename" />
		<!-- These are a few routing rules samples 
		  (dont forget to enable the http module below)
		<routing>
			<rule> 
				<pattern>(/blog/posts/)(\d+)/(\d+)/(.)*$</pattern>
				<replace><![CDATA[ /blog/view.rails?year=$2&month=$3 ]]></replace>
			</rule>
			<rule> 
				<pattern>(/news/)(\d+)/(\d+)/(.)*$</pattern>
				<replace><![CDATA[ /news/view.rails?year=$2&month=$3 ]]></replace>
			</rule>
		</routing>
		-->
    </monoRail>
#if($useWindsorIntegration)

	<castle>
		<facilities>
		    <!-- Facilities declarations goes here -->
		  
		    <!-- For example, to use the active record integration: -->
		    
		    <!-- 
			<facility id="arintegration" type="Castle.Facilities.ActiveRecordIntegration.ActiveRecordFacility, Castle.Facilities.ActiveRecordIntegration">

				<assemblies>
					<item>${name}</item>
				</assemblies>

				<config>
					<add key="hibernate.connection.driver_class" value="NHibernate.Driver.SqlClientDriver" />
					<add key="hibernate.dialect"                 value="NHibernate.Dialect.MsSql2000Dialect" />
					<add key="hibernate.connection.provider"     value="NHibernate.Connection.DriverConnectionProvider" />
					<add key="hibernate.connection.connection_string" value="Data Source=.;Initial Catalog=yourdb;Integrated Security=SSPI" />
				</config>
		    
			</facility>
			-->

		</facilities>

		<components>
		  
		  <!-- Components declarations/configuration goes here -->
		  
		</components>
		
	</castle>
#end

    <system.web>
        <httpHandlers>
            <!-- 
              The .rails extension is just a suggestion, you can use 
              whatever extension you want and for shared hosting, you can use .ashx
             -->
            <add verb="*" path="*.rails" 
               type="Castle.MonoRail.Framework.MonoRailHttpHandlerFactory, Castle.MonoRail.Framework" />
        </httpHandlers>

	    <!-- If'd like to enable Routing...
		<httpModules>
			<add name="routing" type="Castle.MonoRail.Framework.RoutingModule, Castle.MonoRail.Framework" /> 
		</httpModules> 
		-->
    </system.web>

</configuration>
