<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<components>
		<!-- Repositories -->
		<component
			id="product.repository"
			service="!NAMESPACE!.Core.ProductModule.Repositories.IProductRepository, !NAMESPACE!.Core"
			type="!NAMESPACE!.Core.ProductModule.Repositories.ProductRepository, !NAMESPACE!.Core" />

		<component
			id="category.repository"
			service="!NAMESPACE!.Core.ProductModule.Repositories.ICategoryRepository, !NAMESPACE!.Core"
			type="!NAMESPACE!.Core.ProductModule.Repositories.CategoryRepository, !NAMESPACE!.Core" />

		<!-- Services -->
		<component
			id="product.service"
			type="!NAMESPACE!.Core.ProductModule.Services.ProductService, !NAMESPACE!.Core" />

		<component
			id="category.service"
			type="!NAMESPACE!.Core.ProductModule.Services.CategoryService, !NAMESPACE!.Core" />
	</components>
</configuration>