<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.diagnostics>
    <sources>      
      <source name="Default" switchValue="Information">
        <listeners>
          <add name="stdout"/>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="stdout" type="System.Diagnostics.ConsoleTraceListener"/>
    </sharedListeners>
  </system.diagnostics>
</configuration>
