<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<targets>
		<target name="memory" xsi:type="Memory"/>
	</targets>
	<targets>
		<target name="memory1" xsi:type="Memory" layout="${longdate}|${level:uppercase=true}|${logger}|${gdc:item=flim}|${mdc:item=foo}|${ndc}|${message}"/>
	</targets>

	<rules>
		<logger name="*" minlevel="Info" writeTo="memory"/>
	</rules>
	<rules>
		<logger name="*" minlevel="Debug" writeTo="memory1"/>
	</rules>

</nlog>