<h2>Please enter your username and password to log in</h2>

<form action="$UrlHelper.For("%{action='ValidateLogin'}")" method="post">

<table>
	<tr>
		<th>Username:</th>
		<td>$FormHelper.TextField("username")</td>
	</tr>

	<tr>
		<th>Password: </th>
		<td>$FormHelper.PasswordField("password")</td>
	</tr>

	<tr>
		<th>Auto Login:</th>
		<td>$FormHelper.CheckboxField("autoLogin")</td>
	</tr>

	<tr>
		<td colspan="2" align="right">
			<input type="submit" value="Log in">
		</td>
	</tr>
</table>

</form>