
#foreach($error in $errorlist)
  binding error $error.Key $error.Parent $error.Property $error.Exception <br/>
#end

<span id="newid">$account.id</span>
<span id="name">$account.Name</span>
<span id="email">$account.Email</span>
<span id="password">$account.password</span>
<span id="pl">$account.ProductLicense.Id</span>
<span id="permissions">#foreach($it in $account.Permissions)$it.Id,#end</span>
