<form action="insert.rails" method="post">
  <p>
  Name: 
  $FormHelper.TextField("account.name") 
  </p>
  <p>
  Email:
  $FormHelper.TextField("account.email")
  </p>
  <p>
  Password:
  $FormHelper.PasswordField("account.password")
  </p>
  <p>
  Confirm password:
  $FormHelper.PasswordField("account.confirmationpassword")
  </p>
  <p>
  Licenses:
  $FormHelper.Select("account.ProductLicense.id", $licenses, "%{value='Id', firstoption='Please Select'}")
  </p>
  <p>
  Permissions:
#set($list = $FormHelper.CreateCheckboxList("account.Permissions", $permissions, "%{value='Id', id='account_permissions'}"))
#foreach($it in $list)
  $list.Item() $it
#end
  </p>

  <input type="submit" id="insertbutton" value="Insert" />

</form>
