<form action="insert.rails" method="post">
  <p>
  Name: 
  $FormHelper.TextField("account.name") 
  </p>
  <p>
  Email:
  $FormHelper.TextField("account.email")
  </p>
  <p>
  Password:
  $FormHelper.PasswordField("account.password")
  </p>
  <p>
  Confirm password:
  $FormHelper.PasswordField("account.confirmationpassword")
  </p>
  <p>
  Licenses:
  $FormHelper.Select("account.ProductLicense.id", $licenses, "%{value='Id', firstoption='Please Select'}")
  </p>
  <p>
  Permissions:
#foreach($perm in $permissions)
  <input type="checkbox" id="account_permissions" name="account.Permissions" value="$perm.Id" id="account_permissions" /> $perm.Name
#end
  </p>

  <input type="submit" id="insertbutton" value="Insert" />

</form>
