<h1>
$textres.welcome
</h1>

<p>
$textres.intro
</p>

<hr noshade="yes" size="1"/>

$Form.FormTag("%{action='SetLanguage',id='form1'}")
<select name="langCode" onchange="document.getElementById('form1').submit();">
	<option>Please select a language</option>
	<option value="es">Spanish</option>
	<option value="pt">Portuguese</option>
	<option value="en">English</option>
</select>
$Form.EndFormTag()