<h2>Delete Category</h2>

<form action="delete.rails" method="post">

$FormHelper.HiddenField("category.id")

<table border="0" width="300px" cellpadding="3" cellspacing="2">
<tr>
	<td>
	Name:
	</td>
	
	<td>
	$category.name
	</td>
</tr>

</table>

<p>
	<input type="submit" value="Delete" />
</p>

</form>