<h2>Categories</h2>

<p>
<a href="new.rails">Add a category</a>
</p>

<table border="0" width="100%">
<tr>
	<th>&nbsp;</th>
	<th>Name</th>
	<th width="110px">&nbsp;</th>
</tr>
#foreach($item in $items)
#nodata
<tr>
	<td colspan="3">No categories found</td>
</tr>

#each
<tr>
	<td align="center">$item.Id</td>
	<td align="center">$item.Name</td>
	<td align="center"><a href="edit.rails?id=$item.Id">Edit</a> | <a href="confirmdelete.rails?id=$item.Id">Delete</a></td>
</tr>

#end
</table>
