<html>
<head> 
  	<title>Castle's CCNet Dashboard</title>
	<link rel="STYLESHEET" type="text/css" href="${siteRoot}/content/css/cruisecontrol.css">
	<link rel="STYLESHEET" type="text/css" href="${siteRoot}/content/css/common.css">
</head>

<body>
$AjaxHelper.GetJavascriptFunctions()
$Effects2Helper.GetJavascriptFunctions()
$ValidationHelper.InstallScripts()


$childContent


</body>
</html>

