<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<configSections>
		<section name="castle" type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler,Castle.Windsor"/>
	</configSections>
	
	<castle>
		<facilities>
			<facility id="nhibernate">
				<factory id="nhibernate.factory">
					<settings>
						<item key="hibernate.connection.driver_class">NHibernate.Driver.MySqlDataDriver</item>
						<item key="hibernate.connection.connection_string">Database=minddump_test;Data Source=localhost;User Id=theuser;Password=opauser</item>
						<item key="hibernate.dialect">NHibernate.Dialect.MySQLDialect</item>
					</settings>
					<assemblies>
						<assembly>Castle.Facilities.ActiveRecordFacility.Tests</assembly>
					</assemblies>
				</factory>
			</facility>
			<facility id="activerecord">
				<engine id="activerecordengine">
					<nhibernate-factory>nhibernate.factory</nhibernate-factory>
				</engine>
			</facility>
		</facilities>
	</castle>
</configuration>
