$Form.FormTag("%{action='Update'}")

  $FormHelper.HiddenField("account.id") 

  <div style="padding: 10px;">
  Name: 
  $FormHelper.TextField("account.name") 
  </div>
  <div style="padding: 10px;">
  Email:
  $FormHelper.TextField("account.email")
  </div>
  <div style="padding: 10px;">
  Password:
  $FormHelper.PasswordField("account.password")
  </div>
  <div style="padding: 10px;">
  Confirm password:
  $FormHelper.PasswordField("account.confirmationpassword")
  </div>
  <div style="padding: 10px;">
  Licenses:
  $FormHelper.Select("account.ProductLicense.id", $licenses, "%{value='Id', firstoption='Please Select', firstoptionvalue=''}")
  </div>
  <div style="padding: 10px;">  
  Permissions:  <br />
  Total: $account.Permissions.Count <br />
#set($list = $FormHelper.CreateCheckboxList("account.Permissions", $permissions, "%{value='Id'}"))
#foreach($it in $list)
  $list.Item() $it
#end
  </div>
  <div style="padding: 10px;">
  User:
#set($list = $FormHelper.CreateCheckboxList("account.Users", $users, "%{value='Id'}"))
#foreach($it in $list)
  $list.Item() $it.Name
#end
  </div>

  <input type="submit" id="updatebutton" value="Update" />

$Form.EndFormTag()

