$Form.FormTag("%{action='insert'}")
  <div style="padding: 10px;">
  Name: 
  $FormHelper.TextField("account.name") 
  </div>
  <div style="padding: 10px;">
  Email:
  $FormHelper.TextField("account.email")
  </div>
  <div style="padding: 10px;">
  Password:
  $FormHelper.PasswordField("account.password")
  </div>
  <div style="padding: 10px;">
  Confirm password:
  $FormHelper.PasswordField("account.confirmationpassword")
  </div>
  <div style="padding: 10px;">
  Licenses:
  $FormHelper.Select("account.ProductLicense.id", $licenses, "%{value='Id', firstoption='Please Select'}")
  </div>
  <div style="padding: 10px;">
  Permissions:
#foreach($perm in $permissions)
  <input type="checkbox" id="account_permissions" name="account.Permissions" value="$perm.Id" id="account_permissions" /> $perm.Name
#end
  </div>
  <div style="padding: 10px;">
  User:
#set($list = $FormHelper.CreateCheckboxList("account.Users", $users, "%{value='Id', id='account_users'}"))
#foreach($it in $list)
  $list.Item() $it.Name
#end
  </div>

  <input type="submit" id="insertbutton" value="Insert" />

$Form.EndFormTag()