<div align="center">
  <h2>Layouts</h2>
</div>

<div class="container">

<p>
  Layouts allow you to set a, well, layout for your pages. 
  This very site is using a NVelocity layout, <a href="${siteRoot}/code/showCode.rails?file=Views/Layouts/default.vm">click here</a> to see its source
  and <a href="${siteRoot}/code/showCode.rails?file=Views/LayoutsArea/home/index.vm">click here</a> to see this page source.
</p>

<p>
  To associate a layout with your controller, use the Layout attribute:
</p>

<pre><code>
  [Layout("default")]
  public class HomeController : Controller
  {
	public void MyAction()
	{
	}

	public void OtherAction()
	{
	  // You can always override which layout should be used
	  LayoutName = "printable";
	}
  }
</code></pre>

</div>
