<% @page_title = "Download" %>
<% @main_title = "Download" %>
<%= render "/home/deflinks" %>

The file releases are kept in SourceForge. 
<a href="http://sourceforge.net/project/showfiles.php?group_id=124416">Click here</a>
to access the releases.
