<% @page_title = "Mailing lists" %>
<% @main_title = "Mailing lists" %>
<%= render "/home/deflinks" %>

The preferred way to contact the Castle's team 
is by subscribing to 
<a href="http://lists.sourceforge.net/mailman/listinfo/castleproject-devel">castle-devel mailing list</a>.

<p>&nbsp;</p>