<div align="center">
  <h2>Ajax Support - LinkToFunction</h2>
</div>

<div class="container">
  
  The LinkToFunction helper simply creates a anchor tag where the onclick event 
  is the function you specified.
  
</div>

<h3>Overloads:</h3>

<div class="container">

<ul>
<li><code>public String LinkToFunction(String name, String functionCodeOrName)</code></li>
<li><code>public String LinkToFunction(String name, String functionCodeOrName, String styleClass)</code></li>
</ul>

</div>

<h3>Examples:</h3>

<div class="container">

<a href="${siteRoot}/code/showCode.rails?file=Views/AjaxArea/linktofunction/index.vm">Check this view source code</a>.

<p>
  Back link:
  $AjaxHelper.LinkToFunction("Back", "window.history.back()")
</p>

<p>
  With nested html:
  $AjaxHelper.LinkToFunction("<b>Back</b>", "window.history.back()")
</p>

</div>

