
<h3>Product list</h3>

<p>
<a href="new.rails">Create new Product</a>
</p>

<table width="100%" border="1" cellpadding="2" cellspacing="0">
<tr>
	<th>Id</th>
	<th>Name</th>
	<th>Supplier</th>
	<th>&nbsp;</th>
</tr>
#foreach($product in $products)
<tr>
	<td align="center">$product.Id</td>
	<td align="center">$product.Name</td>
	<td align="center">$product.Supplier.Name</td>
	<td align="center">
		<a href="edit.rails?id=${product.Id}">Edit</a> | 
		<a href="delete.rails?id=${product.Id}">Delete</a>
	</td>
</tr>
#end
</table>

