<br>
<p align="center">
You can change your account settings:</p>
<br>
#if ($message)
<div align="center">
<strong>$message</strong>
<div>
#end

<form action="UpdateAccount.rails" method="post">

	<fieldset>
	  <legend>Account:</legend>

	<table width="380px" border="0" cellspacing="5" cellpadding="2">
	  <tr>
		<td width="120px">Login:</td>
		<td><b>${author.login}</b></td>
	  </tr>
	  <tr>
		<td>Name:</td>
		<td><input type="text" name="name" value="${author.name}" maxlength="45" size="30"></td>
	  </tr>
	  <tr>
		<td>E-mail:</td>
		  <td><input type="text" name="email" value="" maxlength="100" size="30"></td>
	  </tr>
	</table>
	
	</fieldset>

	<br>
	<div align="center">
	<input name="act" type="submit" value="Update"> 
	</div>
	<br>&nbsp;

</form>
