<br>
<p align="center">
You can change your blog settings:</p>
<br>
#if ($message)
<div align="center">
<strong>$message</strong>
<div>
#end

<form action="UpdateBlog.rails" method="post">

	<fieldset>
	  <legend>Blog:</legend>
	<table width="380px" border="0" cellspacing="5" cellpadding="2">
	  <tr>
		<td width="120px">Name:</td>
		<td><input type="text" name="blogname" value="${blog.name}" maxlength="20"></td>
	  </tr>
	  <tr>
		<td>Description:</td>
		<td><input type="text" name="blogdesc" value="${blog.description}" maxlength="45" size="30"></td>
	  </tr>
	  <tr>
		<td>Theme:</td>
		  <td>
<select name="theme">
	<option>defaulttheme</option>
	<option>anothertheme</option>
</select>
		  </td>
	  </tr>
	</table>
	
	</fieldset>	

	<br>
	<div align="center">
	<input name="act" type="submit" value="Update"> 
	</div>
	<br>&nbsp;

</form>
