<br>
<p align="center">
Show the world your thoughts and opinions
</p>
<br>

<form action="SaveNewEntry.rails" method="post">
	<fieldset>
	
	<legend>Entry contents:</legend>
	
	<table align="center" width="100%" border="0" cellspacing="2" cellpadding="2">
	<tr>
		<td>Title:</td>
		<td><input type="text" name="title" maxlength="45" size="45"></td>
	</tr>
	<tr>
		<td colspan="2">Contents:</td>
	</tr>
	<tr>
		<td colspan="2">
		<textarea name="contents" cols="60" rows="20"></textarea>
		</td>
	</tr>
	</table>
	</fieldset>

	<br>
	<div align="center">
	<input name="act" type="submit" value="Publish"> 
	</div>
	<br>&nbsp;

</form>
