<div id="userlist">
<table>
<tr>
  <td><strong>Name</strong></td>
  <td><strong>Email</strong></td>
</tr>
#foreach( $user in $users )
<tr>
  <td>$user.Name</td>
  <td>$user.Email</td>
</tr>
#end
</table>
</div>