body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: small;
	background-color: #FFFFFF;
	margin: 0px;
	padding: 0px;

}
.container {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: small;
	color: #000000;
	padding: 5px;
	margin: 0px;
	border: 1px solid #CCCCCC;


}
.titlecontainer {
	background-color: #306576;
	color: #FFFFFF;
	font-size: medium;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	padding: 5px;

}
.formtable {
	background-color: #E8F5CB;
	border: 1px solid #000000;

}
tr {
	font-size: small;
}
