<html>
<head>
  <style>

	body
	{
		font-family: Verdana, Arial;
		font-size: small;
		background-color: white;
	}
	.errorList
	{
	}
	.errorMessage
	{
		color: #993333;
	}

  </style>
</head>

<body>

  $childContent

</body>

</html>
