<html>
<head>
  <style>

	body
	{
		font-family: Verdana, Arial;
		font-size: small;
		background-color: white;
		margin: 15px;
	}
	th
	{
		background-color: #DDDDDD;
		font-size: small;
		border-right: solid 1px gray;
	}
	td
	{
		font-size: small;
	}
	.errorList
	{
	}
	.errorMessage
	{
		color: #993333;
	}
	.scaffoldrow
	{
		background-color: #EFEFEF;
	}
	.scaffoldaltrow
	{
		background-color: White;
	}
	.scaffoldrow td
	{
		border-right: solid 1px gray;
	}
	.scaffoldaltrow td
	{
		border-right: solid 1px gray;
	}
	.pagination
	{
		border: solid 1px gray;
		padding: 2px;
	}
	.pagination table tr td
	{
		font-size: 10;
	}
  </style>
</head>

<body>

  $childContent

</body>

</html>
