package $package;

$license

import org.apache.turbine.services.TurbineBaseService;

/**
 *
 * @author <a href="mailto:$email">$name</a>
 * @occupation $occupation
 */
public class Turbine${baseName}Service extends TurbineBaseService
    implements ${baseName}Service

{
    /**
     * Initialize the Turbine${baseName} Service.
     */
    public void init()
    {
        setInit(true);
    }
}
