<h2>This example demonstrate a more advanced use of MonoRail's DataBinding capabilities.</h2>

<h3>First off, populate the database</h3>

<p>
The following uses Scaffolding to provide simple CRUDs.
</p>

<div>
	<ul>
		<li>$Url.Link('Books',"%{action='listbook'}")</li>
		<li>$Url.Link('Publishers',"%{action='listpublisher'}")</li>
	</ul>
</div>

<h3>Now check the different approaches</h3>

<div>
	<ul>
		<li>$Url.Link('First approach',"%{controller='Approach1',action='index'}")</li>
		<li>$Url.Link('Second approach',"%{controller='Approach2',action='index'}")</li>
		<li>$Url.Link('Third approach',"%{controller='Approach3',action='index'}")</li>
	</ul>
</div>