/* Feuille CSS réalisée par blueshit http://designdesk.org
Feuille de style vadide W3C ! */

body {
margin : 10px 0; 
padding : 0; 
text-align : center; 
font : 0.8em "Trebuchet MS", helvetica, sans-serif; 
background : #fff repeat; 
} 
div#conteneur {
width : 770px; 
margin : 0 auto; 
text-align : left; 
} 
h1#header {
height : 80px; 
background : #fff url(header.png) no-repeat 0% 0%; 
margin : 0; 
border-top : 2px solid #000; 
border-right : 2px solid #000; 
border-bottom : 1px solid #000; 
border-left : 2px solid #000; 
} 
h1#header a {
position : relative; 
left : 90px; 
top : 20px; 
font-size : 25px; 
color : #000; 
text-decoration : none; 
} 
div#contenu {
margin : 0 0 0 155px; 
padding : 0 15px 0 20px; 
background : #fff; 
border-top : 1px solid #000; 
border-right : 2px solid #000; 
border-bottom : 1px solid #000; 
border-left : 2px solid #000; 
} 
div#contenu h2 {
padding-left : 30px; 
line-height : 30px; 
font-size : 1.4em; 
background : url(h2.png) no-repeat 0% 100%; 
color : #000; 
border-bottom : 1px solid #000; 
} 
div#contenu h3 {
margin-left : 10px; 
padding-left : 5px; 
border-bottom : 1px solid #000; 
border-left : 3px solid #000; 
color : #000; 
} 
div#contenu p {
margin-left : 15px; 
text-align : left; 
line-height : 1.7em; 
color : #000; 
} 
div#contenu table {
margin-left : 7px; 
text-align : left; 
line-height : 1.7em; 
color : #000; 
} 
div#contenu a {
color : #000; 
border : 1px solid #e0fa8f; 
text-decoration : none;
padding: 1px;
} 
div#contenu a:hover {
color : #000; 
border : 1px solid #d3f75f;
} 
div#contenu h2 a , div#contenu h3 a {
color : #000; 
text-decoration : overline; 
} 
div#contenu h2 a:hover , div#contenu h3 a:hover {
color : #000; 
text-decoration : none; 
} 
pre {
overflow : auto; 
} 
#vertical {
position : relative; 
float : left; 
left : 0; 
text-align : left; 
background : #c5f52e; 
border-top : 1px solid #000; 
border-right : 2px solid #000; 
border-bottom : 2px solid #000; 
border-left : 2px solid #000; 
padding : 0; 
width : 160px; 
} 
div#vertical h2 {
padding-left : 10px; 
line-height : 30px; 
font-size : 1.4em; 
color : #000; 
border-bottom : 2px solid #000; 
text-align : left; 
} 
div#vertical h2 a {
color : #000; 
text-decoration : none; 
} 
div#vertical p {
margin-left : 5px; 
color : #000; 
} 
.menuv {
list-style-type : none; 
margin : 0; 
padding : 0; 
cursor : pointer; 
} 
ul.menuv li {
text-align : left; 
} 
ul.menuv li a {
display : block; 
width : 140px; 
padding : 2px 0 2px 10px; 
font-size : 11px; 
color : #000; 
background : #d3f75f; 
border-top : 1px solid #e0fa8f; 
text-decoration : none; 
} 
ul.menuv li a:hover {
color : #000; 
background : #e0fa8f; 
} 
p#footer {
position : relative; 
right : 0; 
margin : 0 0 0 155px; 
padding : 5px 15px; 
background : #fff; 
border-top : 1px solid #000; 
border-right : 2px solid #000; 
border-bottom : 2px solid #000; 
border-left : 2px solid #000; 
text-align : right; 
color : #000; 
background : #c5f52e; 
} 
p#footer a {
color : #000; 
background : #d3f75f; 
border : 1px solid #e0fa8f; 
text-decoration : none; 
} 
p#footer a:hover {
color : #000; 
background : #e0fa8f; 
text-decoration : none; 
} 