<VisualStudioProject>
    <CSHARP
        ProjectType = "Local"
        ProductVersion = "7.10.3077"
        SchemaVersion = "2.0"
        ProjectGuid = "{${projid}}"
    >
        <Build>
            <Settings
                ApplicationIcon = ""
                AssemblyKeyContainerName = ""
                AssemblyName = "${basename}"
                AssemblyOriginatorKeyFile = ""
                DefaultClientScript = "JScript"
                DefaultHTMLPageLayout = "Grid"
                DefaultTargetSchema = "IE50"
                DelaySign = "false"
                OutputType = "Library"
                PreBuildEvent = ""
                PostBuildEvent = ""
                RootNamespace = "${basename}"
                RunPostBuildEvent = "OnBuildSuccess"
                StartupObject = ""
            >
                <Config
                    Name = "Debug"
                    AllowUnsafeBlocks = "false"
                    BaseAddress = "285212672"
                    CheckForOverflowUnderflow = "false"
                    ConfigurationOverrideFile = ""
                    DefineConstants = "DEBUG;TRACE"
                    DocumentationFile = ""
                    DebugSymbols = "true"
                    FileAlignment = "4096"
                    IncrementalBuild = "false"
                    NoStdLib = "false"
                    NoWarn = ""
                    Optimize = "false"
                    OutputPath = "bin\"
                    RegisterForComInterop = "false"
                    RemoveIntegerChecks = "false"
                    TreatWarningsAsErrors = "false"
                    WarningLevel = "4"
                />
                <Config
                    Name = "Release"
                    AllowUnsafeBlocks = "false"
                    BaseAddress = "285212672"
                    CheckForOverflowUnderflow = "false"
                    ConfigurationOverrideFile = ""
                    DefineConstants = "TRACE"
                    DocumentationFile = ""
                    DebugSymbols = "false"
                    FileAlignment = "4096"
                    IncrementalBuild = "false"
                    NoStdLib = "false"
                    NoWarn = ""
                    Optimize = "true"
                    OutputPath = "bin\"
                    RegisterForComInterop = "false"
                    RemoveIntegerChecks = "false"
                    TreatWarningsAsErrors = "false"
                    WarningLevel = "4"
                />
            </Settings>
            <References>
                <Reference
                    Name = "System"
                    AssemblyName = "System"
                    HintPath = "${frameworkpath}\System.dll"
                />
                <Reference
                    Name = "System.Data"
                    AssemblyName = "System.Data"
                    HintPath = "${frameworkpath}\System.Data.dll"
                />
                <Reference
                    Name = "System.XML"
                    AssemblyName = "System.XML"
                    HintPath = "${frameworkpath}\System.XML.dll"
                />
                <Reference
                    Name = "System.Web"
                    AssemblyName = "System.Web"
                    HintPath = "${frameworkpath}\System.Web.dll"
                />
                <Reference
                    Name = "Castle.CastleOnRails.Engine"
                    AssemblyName = "Castle.CastleOnRails.Engine"
                    HintPath = "..\lib\Castle.CastleOnRails.Engine.dll"
                />
                <Reference
                    Name = "Castle.CastleOnRails.Framework"
                    AssemblyName = "Castle.CastleOnRails.Framework"
                    HintPath = "..\lib\Castle.CastleOnRails.Framework.dll"
                />
#if ($isNVelocity)
                <Reference
                    Name = "Castle.CastleOnRails.Framework.Views.NVelocity"
                    AssemblyName = "Castle.CastleOnRails.Framework.Views.NVelocity"
                    HintPath = "..\lib\Castle.CastleOnRails.Framework.Views.NVelocity.dll"
                />
#end
#if ($useWindsorIntegration)
                <Reference
                    Name = "Castle.CastleOnRails.WindsorExtension"
                    AssemblyName = "Castle.CastleOnRails.WindsorExtension"
                    HintPath = "..\lib\Castle.CastleOnRails.WindsorExtension.dll"
                />
                <Reference
                    Name = "Castle.DynamicProxy"
                    AssemblyName = "Castle.DynamicProxy"
                    HintPath = "..\lib\Castle.DynamicProxy.dll"
                />
                <Reference
                    Name = "Castle.Model"
                    AssemblyName = "Castle.Model"
                    HintPath = "..\lib\Castle.Model.dll"
                />
                <Reference
                    Name = "Castle.MicroKernel"
                    AssemblyName = "Castle.MicroKernel"
                    HintPath = "..\lib\Castle.MicroKernel.dll"
                />
                <Reference
                    Name = "Castle.Windsor"
                    AssemblyName = "Castle.Windsor"
                    HintPath = "..\lib\Castle.Windsor.dll"
                />
#end
            </References>
        </Build>
        <Files>
            <Include>
                <File
                    RelPath = "web.config"
                    BuildAction = "None"
                />
#if ($useWindsorIntegration)
                <File
                    RelPath = "global.asax"
                    BuildAction = "Content"
                />
                <File
                    RelPath = "MyHttpApplication.cs"
                    SubType = "Code"
                    BuildAction = "Compile"
                />
                <File
                    RelPath = "MyContainer.cs"
                    SubType = "Code"
                    BuildAction = "Compile"
                />
#end
                <Folder RelPath = "Controllers\" />
                <Folder RelPath = "Models\" />
                <Folder RelPath = "Views\" />
            </Include>
        </Files>
    </CSHARP>
</VisualStudioProject>

