#*

@test parse1.vm

This template is used for Velocity regression testing.
If you alter this template make sure you change the
corresponding comparison file so that the regression 
test doesn't fail incorrectly.

*#
This is content from parse1.vm

#foreach($a in $stringarray )
	Hello $a.
#end

Now using a reference to get the next one :
#set($foo = "parse2.vm")
   --
#parse($foo)
   --
done with parse1.vm
