#**

@test vm_test1.vm

This template is used for Velocity regression testing.
If you alter this template make sure you change the
corresponding comparison file so that the regression 
test doesn't fail incorrectly.

Tests VM recursion. In our VM library, we have a VM callrecurse()
which calls recurse().  The point is to have the global def of
recurse() called since we don't define it here.

*#

#callrecurse()
