<log4net>
	<appender name="UdpAppender"
			  type="log4net.Appender.UdpAppender">
		<param name="RemoteAddress"
			   value="127.0.0.1" />
		<param name="RemotePort"
			   value="8080" />
		<layout type="log4net.Layout.XmlLayout">
			<param name="Prefix"
				   value="" />
		</layout>
	</appender>
	<root>
		<appender-ref ref="UdpAppender"/>
	</root>
</log4net>