#*

@test equality.vm

This template is used for Velocity regression testing.
If you alter this template make sure you change the
corresponding comparison file so that the regression 
test doesn't fail incorrectly.

*#

#set($user = "jason")
#set($login = false)
#set($count = 5)

#if ($user == "jason")
    the user $user is logged in!
#end


#if ($count == 5)
    the count is 5!
#end

#if ($login == false)
    the user isn't logged in.
#end

#if ($count != 3)
    \$count is not equal to 3
#end
