#*

@test get.vm

This template is used for Velocity regression testing.
If you alter this template make sure you change the
corresponding comparison file so that the regression 
test doesn't fail incorrectly.

*#

## Now the provider has been outfitted with
## a get(key) method so it will just return
## the key when asked for it.

$provider.Muck
$provider.Duck
$provider.Truck

