#**

@test subclass.vm

This template is used for Velocity regression testing.
If you alter this template make sure you change the
corresponding comparison file so that the regression 
test doesn't fail incorrectly.

*#

## This is our base class.
#set($person = $provider.Person)

## This is a subclass of Person
#set($child = $provider.Child)

#*

showPerson takes a person object, so check to
see that subclasses of Person work too!

*#

$provider.showPerson($person)
$provider.showPerson($child)
