<div align="center">
  <h2>Ajax Support</h2>
</div>

<div align="center" >

<p>
  If you don't know what Ajax is, please read 
  <a href="http://www.adaptivepath.com/publications/essays/archives/000385.php">this article</a>
</p>

<p>
  Disclaimer: Castle on Rails Ajax supports was achieve based on Ruby on Rails 
  Ajax support and by Sam Stephenson (http://prototype.conio.net/) prototype code.
</p>

</div>

<div class="container" >

<br><br>

<p>
  First of all, to use Ajax support you must make the javascript code available to
  your view. With NVelocity views, it will look like this:
</p>

<pre><code>
&lt;head&gt;
  $ AjaxHelper.GetJavascriptFunctions()
&lt;/head&gt;

</code></pre>

</div>

<div align="center" >

<p>
  To see complete samples, check the links below:
</p>

<p align="center">
<table width="75%" border="0" cellpadding="9" cellspacing="8" align="center">
  <tr>
    <td width="33%" class="smallstrong" align="center"><a href="${siteRoot}/ajaxarea/linktofunction/index.rails">LinkToFunction</a></td>
    <td width="33%" class="smallstrong" align="center"><a href="${siteRoot}/ajaxarea/linktoremote/index.rails">LinkToRemote</a></td>
    <td width="33%" class="smallstrong" align="center"><a href="${siteRoot}/ajaxarea/formremotetag/index.rails">BuildFormRemoteTag</a></td>
  </tr>
  <tr>
    <td class="smallstrong" align="center"><a href="${siteRoot}/ajaxarea/observerfield/index.rails">ObserverField</a></td>
    <td class="smallstrong" align="center"><a href="${siteRoot}/ajaxarea/observerform/index.rails">ObserverForm</a></td>
    <td class="smallstrong" align="center">&nbsp;</td>
  </tr>
</table>
</p>

</div>
