<!-- ================== -->
<!-- this is the layout -->
<!-- ================== -->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
<title>Simple Wizard</title>
</head>

<body>

<div>
$childContent
</div>

<hr>

<!-- Just for debugging purposes 
<pre>
Current index $session.get_Item("wizard.simplewizardcurrentstepindex") 
current step  $session.get_Item("wizard.simplewizardcurrentstep") 
just started  $session.get_Item("wizard.simplewizardjuststarted") 
</pre>
-->

</body>

</html>
