<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.serviceModel>
		<bindings>
		</bindings>
		<client>
			<endpoint address="http://localhost:27198/UsingWindsor.svc"
					  binding="basicHttpBinding"
			          contract="Castle.Facilities.WcfIntegration.Demo.IAmUsingWindsor"
			          name="WSHttpBinding_IAmUsingWindsor">
			</endpoint>
		</client>
		<services>
			<!-- Before deployment, you should remove the returnFaults behavior configuration to avoid disclosing information in exception messages -->
			<service name="Castle.Facilities.WcfIntegration.Demo.UsingWindsor">
				<endpoint address="http://localhost:27198/UsingWindsor.svc"
						  contract="Castle.Facilities.WcfIntegration.Demo.IAmUsingWindsor"
						  binding="basicHttpBinding"/>
			</service>
		</services>

	</system.serviceModel>
</configuration>