
<h2>Contact us!</h2>

<p>
We are interested in hearing from you.
</p>

<form action="SendContactMessage.rails" method="post">

<p>
From: $FormHelper.TextField("contact.from")
</p>

<p>
Area: $FormHelper.TextField("contact.area") (Sales, Support)
</p>

<p>
Subject: $FormHelper.TextField("contact.subject", "%{size='30'}")
</p>

<p>
Message: <br/> 
$FormHelper.TextArea("contact.message", "%{cols='35', rows='6'}")
</p>

<hr />

<p>
<input type="submit" value="Send the message" />
</p>

</form>