static 1
#blockcomponent(BlockViewComponent2 with "role=x")
Content 1
#end
static 2
#blockcomponent(BlockViewComponent2 with "role=y")
Content 2
#end
static 3
#blockcomponent(BlockViewComponent2 with "role=w")
Content 3
#end
static 4
#blockcomponent(BlockViewComponent2 with "role=h")
Content 4
#end
static 5
#blockcomponent(BlockViewComponent2 with "role=j")
Content 5
#end