<p align="center"> Please supply your login and password.</p>

<p>
<form action="PerformLogin.rails" method="post">
<table align="center" width="390px" border="0" cellspacing="2" cellpadding="2">
  <tr>
    <td>
#if ($errormessage)
    <p align="center">
    <strong>$errormessage</strong>
	</p>
#end

	<fieldset>
	  <legend>Authentication info:</legend>
	<table width="380px" border="0" cellspacing="5" cellpadding="2">
	  <tr>
		<td>Login:</td>
		<td><input type="text" name="login" maxlength="45"></td>
	  </tr>
	  <tr>
		<td>Password:</td>
		<td><input name="pwd" type="password" maxlength="12"></td>
	  </tr>
	</table>
	
	</fieldset>
	<br>
	<div align="center">
	<input name="act" type="submit" value="Log me in">
	
	</div>
	
	</td>
  </tr>
</table>


</form>
</p>

