body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: small;
	background-color: #EBEBEB;
	margin: 5px;
	text-align: justify;
}
code {
	font-family: "Lucida Console", "Courier New", Courier, mono;
	font-size: small;
}
.maincontainer {
	background-color: #FFFFFF;
	border: 1px solid #000000;
	font-size: small;
}
.maintitle {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: large;
	color: #333333;
	padding: 10px;
	font-weight: bold;
}
.mainimgcontainer {
	border-top-width: 3px;
	border-right-width: 3px;
	border-bottom-width: 3px;
	border-left-width: 3px;
	border-top-style: solid;
	border-top-color: #666666;
	border-right-color: #666666;
	border-bottom-color: #666666;
	border-left-color: #666666;
	background-color: #333333;
}
.innercontent {
	padding: 8px;
	font-size: small;


}
.menubar {
	color: #FFFFFF;
	background-color: #666666;
	padding: 1px 8px;
	font-size: small;

}
.menubar a {
	color: #FFFFFF;
	text-decoration: none;
	padding-right: 6px;
	padding-left: 6px;


}
.menubar a:hover {
	color: #FFFFFF;
	background-color: #000033;

}

.contentmenu {
	padding: 8px;
	font-size: small;
	margin: 0px 0px 0px 8px;
	background-color: #616161;
	text-align: left;
	text-decoration: none;
	color: #FFFFFF;
}
.contentmenuitem {
	margin-top: 3px;
	margin-bottom: 3px;
}
.contentmenuitem a {
	color: #FFFFFF;
	padding: 4px;
	text-decoration: none;
}
.contentmenuitem a:hover {
	padding: 4px;
	text-decoration: underline;
}
.sectiontitle {
	padding: 4px 2px 8px 4px;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #000000;
	margin: 10px 8px 20px;
	letter-spacing: 2px;
}
.maincontent {
	font-size: small;
	padding-right: 8px;
	padding-left: 8px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-right-style: dashed;
	border-bottom-color: #999999;
	margin-left: 7px;
	margin-right: 7px;
	border-bottom-style: dashed;
}
.source {
	font-family: "Courier New", Courier, mono;
	font-size: small;
	color: #000000;
	background-color: #EBEBEB;
	padding: 8px;
	border: 1px solid #333333;
	margin: 4px;
}
h3 {
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-top-color: #333333;
	border-right-color: #333333;
	border-bottom-color: #333333;
	border-left-color: #333333;
}
.nicetable {
	font-size: small;
	color: #000033;
	background-color: #EEEEEE;
}
.byline {
  font-size: 10px;
  font-style: italic;  
  margin-bottom: 10px;
  color: #999;
}

.references {
  font-size: 10px;
}

.diffdel, del.diffmod {
  background: pink;
}

.diffins, ins.diffmod {
   background: lightgreen;
}

.navigation {
  margin-top: 5px;
	font-size : 10px;
  color: #999;
}

.existingWikiWord
{
  color: navy
}
