<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" >
<HTML>

<HEAD>
	<title>${blog.name}</title>
	<meta content=".Text" name="GENERATOR">
	<link id="MainStyle" type="text/css" rel="stylesheet" href="/css/style.css"></link>
	<link id="SecondaryCss" type="text/css" rel="stylesheet" href="/css/blue.css"></link>
</HEAD>

<body>

<div id="top">
  <h1><a id="Header1_HeaderTitle" class="headermaintitle" href="http://localhost//${blog.author.login}/view.rails">${blog.name}</a></h1>
  <p id="tagline">${blog.description}</p>
</div>

<div id="leftmenu">

<h3>Links</h3>
<ul>
	<li><a id="MyLinks1_HomeLink" href="/${blog.author.login}/view.rails">Home</a></li>
	<li><a id="MyLinks1_Admin" href="/account/authentication.rails">Login</a></li>
</ul>
	
<h3>Last posts</h3>
<ul>
#foreach( $entry in $posts )
	<li><a id="SingleColumn1_Categories_CatList__ctl0_LinkList__ctl1_Link" href="view.rails?entryid=$entry.id">$entry.title</a> </li>
#end
</ul>
			
</div>

<div id="main">
	
	<div class="post">
		<h2><a id="viewpost.ascx_TitleUrl" href="view.rails?entryid=${lastpost.id}">${lastpost.title}</a>
		</h2>
		
		${lastpost.contents}
		
		<p class="postfoot">
			posted on ${lastpost.date}
		</p>
	</div>
	<link rel="pingback" href="http://blogs.msdn.com/alexbarn/Services/Pingback.aspx">
			
</div>

<p id="footer">
	Powered by: 
	<br />
	Castle Project
	<br />&nbsp;<br />
	Copyright &copy; $blog.author.name
</p>

</body>
</HTML>
