body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: Black;
	background-color: White;
	margin: 4px;
}
li {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: Black;
	background-color: White;
	margin: 4px;
}
p
{
	color: Black;
}
h3
{
	margin: 14px;
	border-bottom: solid 1px black;
}
h4
{
	margin: 14px;
	border-bottom: solid 1px gray;
}
.smallstrong {
	font-size: 10px;
	font-weight: bold;
}
.small {
	font-size: 10px;
	font-weight: normal;
}
.container 
{
	color: Black;
	font-size: 10px;
	font-weight: normal;
	margin: 12px;
	padding: 12px;
}
pre {
	font-family: "Lucida Console", "Courier New", Courier, mono;
	font-size: 12px;
	color: #003366;
	font-weight: bold;
	border: 1px dotted #CCCCCC;
	background-color: #F2EDFA;
	margin: 2px;
	padding: 15px;
}
code {
	font-family: "Lucida Console", "Courier New", Courier, mono;
	font-size: 12px;
}
