/* Elements style */

#content
{
	/* color: #444343; */
	color: #222222;
}

#content h1, h2, h3, h4, h5, h6 
{
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	color: #036;
	margin: 30px 0 10px 0;
	padding: 3px; 
}
#content h1 
{
	font-size: 1.7em;
	border-bottom: solid #CCC 1px;
}
/*
#content h1.firstHeading 
{
	border-bottom: none;
	margin-top: 7px;
	font-size: 1.7em;
}
*/
#content h1.firstHeading 
{
	display: block;
	margin-top: 5px;
	font-size: 1.7em;
	vertical-align: middle;
	border: 1px solid white;
	font-weight: bold;
}
#content h2
{
	font-size: 1.6em;
	border-bottom: solid #CCC 1px;
}
#content h3 
{
	font-size: 1.5em;
}
#content p 
{
	line-height: 1.5em;
	margin: 10px 0 10px 0; 
	padding-left: 5px;
	padding-right: 5px;
	/*color: #373737;*/
}

#siteSub 
{
	display: none;
}

.printfooter 
{
	display: none;
}

tt
{
	color: black;
	font-weight: bold;
	font-size: 1.1em;
}

pre.commonpre 
{
	background: #EEE;
	font-size: 1.1em;
	line-height: 1.1em;
	border: dashed #666 1px;
	padding: 15px 20px 15px 20px;
	overflow: auto;
}

.prewrong {
	padding: 0; margin: 0;
}

.prewrong pre {
	background: #FDD;
	border: dashed #644 1px;
}

.wrong {
	background: #FDD;
	border: solid #644 1px;
	padding: 5px; 
	margin: 5px 0 5px 0;
}
.wrong-inline {
	background: #FDD;
	border: solid #644 1px;
	padding: 0 3px 0 3px; 
}


/* List Styles ****************************************************************** */
#content ul li 
{
	list-style: square;
}
#content ol li 
{
	list-style: decimal;
}

/* TOC Styles ******************************************************************* */

#toc 
{
    /*border:1px solid #2f6fab;*/
	border:1px solid #aaaaaa;
	background-color:#f9f9f9;
	padding:5px;
	margin: 0 0 10px 0;
	font-size: 0.90em;
}
#toc h2 
{
	margin: 0; padding: 0 0 2px 0;
	font-size: 1.4em;
}
#toc .tocindent { margin-left: 1em; }
#toc .tocline { margin-bottom: 0px; }
#toc p { margin: 0; }
#toc .toctoggle { font-size: 90%; }
#toc .editsection 
{
	margin-top: 0.7em;
	font-size: 94%;
	display: none;
}
#toc ul 
{
	margin: 0; padding: 0;
}
#toc li 
{
	list-style: none;
	margin-left: 1.2em;
}
#toc li a 
{
	text-decoration: none;
}

.callout-box
{
	float:right;
	border: solid gray 1px;
	text-align: center;
	width: 220px;
	margin: 0px 0px 15px 15px;
	padding: 10px;
	background: #EEE;
}

.callout-pic
{
	/*border: solid gray 1px;*/
	float:right;
	text-align: center;
	width: 220px;
	padding-top: 5px;
	padding-left: 10px;
}

#content ul li 
{
	padding: 0;
	margin: 0px 0px 12px 0px;
	list-style: square;
}
#content ol li 
{
	margin: 0px 0px 12px 0px;
	list-style: decimal;
}

#content li
{
}