
<p>
$PresentationHelper.LinkToNew( $model, $useModelName, "Create a new $Form.TextHelper.PascalCaseToWord($model.Type.Name)", "%{}" )
</p>

#set($cols = $properties.Count + 2)
<div style="border: 1px solid black;">
<table class="scaffoldtable" cellpadding="5" cellspacing="0" border="0" width="100%">
  <tr>
    <th>&nbsp;</th>
  #foreach($prop in $properties)
    <th>$Form.TextHelper.PascalCaseToWord( $prop.Name )</th>
  #end
    <th>&nbsp;</th>
  </tr>

#if($items.Length == 0)
  <tr>
    <td colspan="$cols" align="center">Empty</td>
  </tr>
#end

#foreach($row in $items)
#set ($rowid = $keyprop.GetValue($row, null) )
  $PresentationHelper.StartAlternateTR($velocityCount, "scaffoldrow", "scaffoldaltrow")
  
  <td width="1%" nowrap="nowrap" align="$PresentationHelper.BestAlignFor( $keyprop.PropertyType )" class="idRow">$rowid</td>
  
  #foreach($prop in $properties)
  <td align="$PresentationHelper.BestAlignFor( $prop.PropertyType )">$!prop.GetValue($row, null)</td>
  #end
  
  <td align="center" nowrap="nowrap" width="1%">
$PresentationHelper.LinkToEdit( $model, $useModelName, "edit", $rowid, "%{class='editlink'}" )
$PresentationHelper.LinkToConfirm( $model, $useModelName, "remove", $rowid, "%{class='deletelink'}" )
  </td>
  </tr>
#end
</table>
<div class="pagination">
<table width="100%" border="0">
  <tr>
  <td>Showing $items.FirstItemIndex - $items.LastItemIndex of $items.TotalItems</td>
  <td align="right">
		#if($items.HasPreviousPage) $PaginationHelper.CreatePageLink( 1, "first" ) #end
		#if(!$items.HasPreviousPage) first #end
		#if($items.HasPreviousPage) | $PaginationHelper.CreatePageLink( $items.PreviousPageIndex, "prev" ) #end
		#if(!$items.HasPreviousPage) | prev #end
		#if($items.HasNextPage) | $PaginationHelper.CreatePageLink( $items.NextPageIndex, "next" ) #end
		#if(!$items.HasNextPage) | next #end
		#if($items.HasNextPage) | $PaginationHelper.CreatePageLink( $items.TotalPages, "last" ) #end
		#if(!$items.HasNextPage) | last #end
	</td>
  </tr>
</table>
</div>
</div>
