body
{
	font-family: Tahoma, Verdana, Arial;
	font-size: medium;
}

table.list
{
	margin-top: 10px;
	border: solid 3px #ccc;
	border-collapse: collapse;
	width: 100%;
}
table.list th
{
	padding: 3px;
	background-color: #ccc;
	color: #fff;
}
table.list td
{
	padding: 4px;
	border-right: dotted 1px #ccc;
}
table.list .item0
{
	background-color: #f0f0f0;
}
table.list td.actions
{
	text-align: right;
}

table.list .pages
{
	font-size: small;
}
table.list .currentpage
{
	text-align: left;
}
table.list .pagebrowser
{
	text-align: right;
}

.fields
{
	padding: 10px;
	border: solid 3px #ccc;
	background-color: #f0f0f0;
}

.field
{
	margin-top: 10px;
}

.actions
{
	margin-top: 10px;
}

#errors
{
	margin: 10px 0 10px 0;
	padding: 10px;
	border: solid 3px #c00;
	color: #c00;
	background-color: #fbb;
}

