#if ($ScaffoldHelper.HasError($<%= SingularVarName %>))
<div id="errors">
	$ScaffoldHelper.ErrorsFor($<%= SingularVarName %>)
</div>
$Effects2Helper.Shake("errors")
#end

<div class="fields">
#foreach($prop in $ScaffoldHelper.GetProperties($<%= SingularVarName %>.GetType()))
	<div class="field">
		<label for="<%= SingularVarName %>.$prop.Property.Name">$ScaffoldHelper.ToHumanName($prop)</label><br />
		$ScaffoldHelper.InputFor("<%= SingularVarName %>", $<%= SingularVarName %>, $prop)
	</div>
#end
</div>
