#set ($title = "List <%= PluralHumanName %>")

<div class="actions">
	$HtmlHelper.LinkTo("Add a new <%= SingularHumanName %>", "<%= ControllerLink %>", "new")
</div>

#if (!$ScaffoldHelper.HasItems($<%= PluralVarName %>))
	<p>No <%= SingularHumanName %></p>
#else
	<table class="list">
		<tr>
			## Show each column
			#foreach ($prop in $ScaffoldHelper.GetProperties($<%= PluralVarName %>))
				<th>$ScaffoldHelper.ToColumnName($prop)</th>
			#end
			<th></th>
		</tr>
	
		#set ($alt = 0)
		#foreach ($<%= SingularVarName %> in $<%= PluralVarName %>)
			<tr id="<%= SingularVarName %>$<%= SingularVarName %>.Id" class="item$alt#if ($edited == $<%= SingularVarName %>.Id) fade#end">
				
				## Show each <%= SingularVarName %>
				#foreach ($prop in $ScaffoldHelper.GetProperties($<%= SingularVarName %>.GetType()))
					<td>$!ScaffoldHelper.GetPropertyValue($<%= SingularVarName %>, $prop)</td>
				#end
				
				## <%= SingularVarName %> specific actions
				<td class="actions">
					$HtmlHelper.LinkTo("View", "<%= ControllerLink %>", "view", $<%= SingularVarName %>.Id)
					$HtmlHelper.LinkTo("Edit", "<%= ControllerLink %>", "edit", $<%= SingularVarName %>.Id)
					$AjaxHelper.LinkToRemote("Delete", "delete.<%= ActionExtension %>", $DictHelper.CreateDict("with='id=$<%= SingularVarName %>.Id'", "condition=confirm('Delete?')", "onsuccess=new Effect.Fade('<%= SingularVarName %>$<%= SingularVarName %>.Id')"))
				</td>
			
			</tr>
			#set ($alt = 1 - $alt)
		#end
	
		## Pages browser
		<tr class="pages">
			<th class="currentpage" colspan="$ScaffoldHelper.GetProperties($<%= PluralVarName %>).Length">
				<%= PluralHumanName %> $<%= PluralVarName %>.FirstItem - $<%= PluralVarName %>.LastItem of $<%= PluralVarName %>.TotalItems
			</th>
			<th class="pagebrowser" align="right">
				$ScaffoldHelper.PageBrowser($<%= PluralVarName %>)
			</th>
		</tr>
	</table>
#end
