#set ($title = "View <%= SingularHumanName %>")

<div class="fields">
#foreach($prop in $ScaffoldHelper.GetProperties($<%= SingularVarName %>.GetType()))
	<div class="field">
		<b>$ScaffoldHelper.ToHumanName($prop) : </b>
		$!ScaffoldHelper.GetPropertyValue($<%= SingularVarName %>, $prop)
	</div>
#end
</div>

<div class="actions">
	$HtmlHelper.LinkTo("Edit", "<%= ControllerLink %>", "edit", $<%= SingularVarName %>.Id)
	$HtmlHelper.LinkTo("Back", "<%= ControllerLink %>", "list")
</div>
