<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<facilities>
		<facility id="nhibernate">
		</facility>
	</facilities>
	
	<components>
		<component id="SimpleListener">
			<listeners>
				<listener publisherId="SimplePublisher" listening="PublishEvent1" handler="OnPublish"/>
			</listeners>
		</component>
		
		<component id="MultiListener">
			<listeners>
					<listener 
						publisherId="MultiPublisher" 
						handler="OnPublish" 
						listening="PublishEvent1"  />
					<listener 
						publisherId="MultiPublisher" 
						handler="OnPublish2" 
						listening="PublishEvent2"  />
					<listener 
						publisherId="PublisherListener" 
						handler="OnPublish"
						listening="Publish" />
				</listeners>
		</component>
		
		<component id="PublisherListener">
			<listeners>
				<listener handler="OnPublish" id="SimplePublisher" listening="Publish" />
			</listeners>
		</component>
	</components>
	
</configuration>
