
<h3>Using the DataBind attribute and SmartDispatcherController</h3>

#if($Flash.message)
<div>$Flash.message</div>
#end

$Form.FormTag("%{action='update'}")

<h4>Publisher</h4>

$Form.HiddenField("publisher.id")

Name: $Form.TextField("publisher.name")

<h4>Books</h4>

<table>
  <tr>
	<td>&nbsp;</td>
	<td>Name</td>
	<td>Author</td>
  </tr>
#foreach($book in $publisher.Books)
  <tr>
	<td>
	$book.Id
	</td>
	<td>
  $Form.HiddenField("bookids", $book.Id)
  $Form.TextFieldValue("booknames", $book.name)
	</td>
	<td>
  $Form.TextFieldValue("bookauthors", $book.author)
	</td>
  </tr>
#end
</table>

<br/>

$Form.Submit("Save")

$Form.EndFormTag()
