
<h3>Using only DataBind attribute</h3>

<h4>Publishers</h4>

<ul>
#foreach($pub in $publishers)
  <li><a href="editpublisher.rails?publisherId=$pub.id">$pub</a></li>
#end
</ul>

$HtmlHelper.EndForm()
