<div class="item" id="product${product.id}">
	<div class="itemImg"> 
	#component(ImageLocationComponent with "image=${product.PictureFile}" "border=1" "width=140" "height=110")
	</div>
	<div class="title">$product.name</div>
	<br/>
	<div class="price">
	Price: <span>$product.Price.ToString("C")</span>
	</div>
	
	$AjaxHelper.BuildFormRemoteTag( $DictHelper.CreateDict("url=${siteRoot}/Cart/AddToCart.rails", "Onsuccess=productAdded", "Onfailure=productNotAdded") )
	<input type="text" name="quantity" id="quantity" value="1" size="1" maxlength="1" />
	<input type="submit" value="Add to cart"  />
	</form>

	<div class="description">$product.Description</div>
	
	<div class="bottombuttons"> 
	<span class="details"><a href="${siteRoot}/Product/Details.rails?productid=${product.Id}">More details</a></span> 
	<span class="comments"><a href="${siteRoot}/Product/Details.rails?productid=${product.Id}#Comments">View comments</a></span> 
	</div>
</div>

