<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="activerecord"
                 type="Castle.ActiveRecord.Framework.Config.ActiveRecordSectionHandler, Castle.ActiveRecord" />
    <section name="log4net"
				 type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
  </configSections>


  <activerecord default-lazy="false">

    <config>
      <add key="connection.driver_class" value="NHibernate.Driver.SqlClientDriver" />
      <add key="dialect"                 value="NHibernate.Dialect.MsSql2005Dialect" />
      <add key="connection.provider"     value="NHibernate.Connection.DriverConnectionProvider" />
      <add key="connection.connection_string" value="Data Source=.;Initial Catalog=Test;Integrated Security=True" />
      <add key="proxyfactory.factory_class" value="NHibernate.ByteCode.Castle.ProxyFactoryFactory, NHibernate.ByteCode.Castle" />
    </config>

  </activerecord>

  <!-- This section contains the log4net configuration settings -->
  <log4net debug="false">

    <appender name="console"
				  type="log4net.Appender.ConsoleAppender, log4net">
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern"
					   value="%d{ABSOLUTE} %-5p %c{1}:%L - %m%n" />
      </layout>
    </appender>

    <root>
      <priority value="OFF" />
      <appender-ref ref="console" />
    </root>

  </log4net>

</configuration>