<html>
<body>
<form action="update.castle" method="post">

  $FormHelper.HiddenField("user.id") 

  <p>
  First Name: 
  $FormHelper.TextField("user.first") 
  </p>
  <p>
  Middle Name:
  $FormHelper.TextField("user.middle")
  </p>
  <p>
  Last Name:
  $FormHelper.TextField("user.last")
  </p>
  <p>
  User Name:
  $FormHelper.TextField("user.username")
  </p>
  <p>
  Password:
  $FormHelper.TextField("user.password")
  </p>


<input type="submit" id="updatebutton" value="Update" />

</form>
</body>
</html>
