<html>
<body>
<form action="insert.castle" method="post">
  <p>
  First Name: 
  $FormHelper.TextField("user.first") 
  </p>
  <p>
  Middle Name:
  $FormHelper.TextField("user.middle")
  </p>
  <p>
  Last Name:
  $FormHelper.TextField("user.last")
  </p>
  <p>
  User Name:
  $FormHelper.TextField("user.username")
  </p>
  <p>
  Password:
  $FormHelper.TextField("user.password")
  </p>

  <input type="submit" id="insertbutton" value="Insert" />

</form>
</body>
</html>
