<html>
<body>

#foreach($error in $errorlist)
  binding error $error.Key $error.Parent $error.Property $error.Exception <br/>
#end

<span id="newid">$user.id</span>
<span id="first">$user.First</span>
<span id="middle">$user.Middle</span>
<span id="last">$user.Last</span>
<span id="username">$user.UserName</span>
<span id="password">$user.Password</span>

</body>
</html>
