
$Form.FormTag("%{action='save.rails', immediate='true', usetitles='true'}")

$Form.Push("supplier")

<p>
	$Form.LabelFor("id", "Id:")
	$Form.TextField("id")
</p>

<p>
	$Form.LabelFor("email", "E-mail:")
	$Form.TextField("email")
</p>

<p>
	$Form.Submit("Save")
</p>

$Form.Pop()

$Form.EndFormTag()