/* Main site style sheet */

body
{
	background-color: White;
	font-family: Verdana, Tahoma;
	font-size: 90%;
	color: #0A0A0A;
}

div#error
{
	font-weight: bold;
	color: Red;
}

input.errHilite, select.errHilite, textarea.errHilite 
{
	border: 2px solid #DDC;
	background-color: #FFE;
}

label.errHilite 
{
	color: #C00;
}