<?xml version="1.0" encoding="utf-8" ?> 
<settings>
	<!--   User application and configured property settings go here.-->
	<!--   Example: <add key="settingName" value="settingValue"/> -->
	<add key="userid" value="IBatisNet" />
	<add key="password" value="test" />
	<add key="database" value="iBatisNet" />
	<add key="datasource" value="(local)\NetSDK" />
	<add key="useridHibernate" value="NHibernate" />
	<add key="databaseHibernate" value="NHibernate" />
	<add key="driverOdbc" value="{SQL Server}" />
	<add key="datasourceMySql" value="localhost" />
</settings>