<% @subarea = "Castle on Rails" %>

<% add_topmenu( 'Home', '/home/' ) %>

<% add_rightmenu( 'Castle on Rails', 'index' ) %>
<% add_rightmenu( 'How to use', 'howtouse' ) %>

<% add_rightmenu_separator( ) %>

<%= render "/home/deflinks" %>
