<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>Castle Project
<% if !@page_title.nil? %>
- <%= @page_title %>
<% end %>
</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<link href="/css/def.css" rel="stylesheet" type="text/css">
</head>

<body>

<table width="768" border="0" cellpadding="0" cellspacing="0" bordercolor="#000000" align="center" class="maincontainer">
  <tr>
    <td>
	<table width="100%" border="0" cellspacing="0" cellpadding="0">
	  <tr>
		<td><div class="maintitle">Castle 
<% if !@subarea.nil? %>
- <%= @subarea %>
<% end %>
</div></td>
	  </tr>
	  <tr>
		<td>
		<div class="mainimgcontainer"><img src="/images/bar1.png"></div>
		</td>
	  </tr>
	  <tr>
		<td>
<% if has_topmenu %>
		<div class="menubar">
        <%= show_topmenu() %>
		</div>
<% end %>
		</td>
	  </tr>
	  <tr>
		<td>

		<div class="sectiontitle"><%= @main_title %></div>
		
		<table width="100%" border="0" cellspacing="0" cellpadding="0">
		  <tr>
			<td valign="top">
			<div class="maincontent">
<%= @content_for_layout %>
			</div>
			</td>
			<td width="180px" valign="top">
<%= render "rightmenu" %>
			</td>
		  </tr>
		</table>

		</td>
	  </tr>
	  <tr>
	    <td colspan="2" class="innercontent" align="center">
	        <p>&nbsp;</p>
            Sponsored by <a href="">DigitalCraftsmen</a>
            </td>
	  </tr>
	</table>

	</td>
  </tr>
</table>


</body>
</html>
