<h3>Wiki words</h3>
<p style="border-top: 1px dotted #ccc; margin-top: 0px">
  Two or more uppercase words stuck together (camel case) or any phrase surrounded by double 
  brackets is a wiki word. A camel-case wiki word can be escaped by putting \ in front of it.
</p>
<p>
  Wiki words: <i>HomePage, ThreeWordsTogether, [[C++]], [[Let's play again!]]</i><br/>
  Not wiki words: <i>IBM, School</i>
</p>
