<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<configSections>  
		<section 
			name="monorail" 
			type="Castle.MonoRail.Framework.Configuration.MonoRailSectionHandler, Castle.MonoRail.Framework" />
!SECTIONS!
	</configSections>

    <monorail smtpHost="yoursmtphost" useWindsorIntegration="!ENABLEWINDSOR!">
!MONORAILNODE!
    </monorail>

!CASTLENODE!

    <system.web>
        <httpHandlers>	
            <add verb="*" path="*.rails" 
               type="Castle.MonoRail.Framework.MonoRailHttpHandlerFactory, Castle.MonoRail.Framework" />
        </httpHandlers>
		<httpModules>
			<add name="monorail" type="Castle.MonoRail.Framework.EngineContextModule, Castle.MonoRail.Framework" />
		</httpModules>
    </system.web>

</configuration>
