<% @subarea = "Sample Applications" %>

<% add_topmenu( 'Home', '/home/' ) %>

<% add_rightmenu( 'PestControl', 'pestcontrol' ) %>

<% add_rightmenu_separator( ) %>

<%= render "/home/deflinks" %>
