<% @page_title = "Sample Applications" %>
<% @main_title = "List of sample applications" %>
<%= render "/sample/deflinks" %>

Here is a list of Castle sample applications:
<br>

<p>
  <strong><a href="pestcontrol">PestControl</a></strong> 
  <p>
  Simulates a web application to manage application's build. 
  Exemplifies the integration between Windsor and Castle on Rails and
  some patterns to ask the kernel for similar components.
  </p>
</p>
