<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<facilities>
		<facility id="nhibernate">
		</facility>
	</facilities>
	
	<components>
		<component id="SimpleListener">
			<subscribes>
				<subscribe-to publisher="SimplePublisher" event="PublishEvent1" handler="OnPublish"/>
			</subscribes>
		</component>
		
		<component id="MultiListener">
			<subscribes>
					<subscriber 
						publisher="MultiPublisher" 
						handler="OnPublish" 
						event="PublishEvent1"  />
					<subscriber 
						publisher="MultiPublisher" 
						handler="OnPublish2" 
						event="PublishEvent2"  />
					<subscriber 
						publisher="PublisherListener" 
						handler="OnPublish"
						event="Publish" />
				</subscribes>
		</component>
		
		<component id="PublisherListener">
			<subscribes>
				<subscriber handler="OnPublish" publisher="SimplePublisher" event="Publish" />
			</subscribes>
		</component>
	</components>
	
</configuration>
