<html>
<head>
$AjaxHelper2.GetJavascriptFunctions()
$Effects2Helper.GetJavascriptFunctions()

  <style type="text/css">
    body {
		font-family: Verdana, Arial, Helvetica, sans-serif;
		font-size: 10px;
		color: Black;
		background-color: White;
    }
    
    div.auto_complete {
      position:absolute;
      width:250px;
      background-color:white;
      border:1px solid #888;
      margin:0px;
      padding:0px;
    }
    ul.names  {
      list-style-type: none;
      margin:0px;
      padding:0px;
    }
    ul.names li.selected { background-color: #ffb; }
    li.name {
      list-style-type: none;
      display:block;
      margin:0;
      padding:2px;
    }
    #list {
      margin:0;
      margin-top:10px;
      padding:0;
      list-style-type: none;
      width:250px;
    }
    #list li {
      margin:0;
      margin-bottom:4px;
      padding:5px;
      border:1px solid #888;
      cursor:move;
    }
  </style>

</head>

<body>
Auto completion:<br>

$AjaxHelper2.InputTextWithAutoCompletion( "name", "nameautocompletion.rails", null, null )

</body>

</html>
