<html>
<head>
$AjaxHelper.GetJavascriptFunctions()
</head>

<body>

#parse("userlist.vm")

<br>
<b>Add New User:</b>
$AjaxHelper.BuildFormRemoteTag("AddUserWithAjax.rails", "%{update='userlist'}" )
<table>  
	<tr>
		<td>Name:</td>
		<td><input type="text" id="name" name="name"></td>
	</tr>
	<tr>
		<td>EMail:</td>
		<td><input type="text" id="email" name="email"></td>
	</tr>
	<tr>
		<td colspan="2" align="center">
		<input type="submit" id="sub" value="Add">
		</td>
	</tr>
</table>  
</form>

</p>

</body>

</html>
