<html>
<head>
$AjaxHelper.GetJavascriptFunctions()
$AjaxHelper.GenerateJSProxy("myproxy")

</head>

<body>

<input type="button" id="invocableMethodButton" value="invocableMethod1" onclick="javascript:$('result').innerHTML = myproxy.invocableMethod1();" />

<input type="button" id="anotherMethodButton" value="friendlyName" onclick="javascript:$('result').innerHTML = myproxy.friendlyName('something');" />

<div id="result">
</div>

</body>
</html>