<html>
<head>
$AjaxHelper.GetJavascriptFunctions()
</head>

<body>

<form id="myform">
  Fill the field below to create an account:<br>
  
  Name: <input type="text" name="name" id="name"> <br>
  Address: <input type="text" name="addressf" id="addressf"> 
  
  <br>
  <div id="message">
  </div>

$AjaxHelper.ObserveForm("%{form='myform', frequency='1', url='accountformvalidate.rails', update='message'}")

</form>
</p>


</body>

</html>
