<html>
<head>
$AjaxHelper.GetJavascriptFunctions()
</head>

<body>
Observer field example:

<form id="theform">
  Please enter the zip code:<br>
  <input type="text" name="zip" id="zip"> 
  
  <br>
  <div id="address">
  </div>
</form>

$AjaxHelper.ObserveField("%{field='zip', frequency='1', url='inferaddress.rails', update='address'}")

</body>
</html>