<html>
<head>
$AjaxHelper2.GetJavascriptFunctions()
$Effects2Helper.GetJavascriptFunctions()

  <style type="text/css">
    body {
		font-family: Verdana, Arial, Helvetica, sans-serif;
		font-size: 10px;
		color: Black;
		background-color: White;
    }
  </style>

</head>

<body>
Period invocation:<br>

$AjaxHelper2.PeriodicallyCallRemote( "PeriodInvokeTarget.rails", $DictHelper.CreateDict( "frequency=1", "complete=alert('invoked');" ) )

</body>

</html>
