<html>
<head>
$AjaxHelper.GetJavascriptFunctions()
<script>
function update(req)
{
	// $('value').value = req.responseText;
}
</script>
</head>


<body>

<form id="theform">
  Please enter the zip code:<br>
  <input type="text" name="value" id="value" value="1"> 
  
  <br>
  <div id="newValue">
  </div>
</form>

$AjaxHelper.PeriodicallyCallRemote("%{frequency='1', onsuccess='update(request)', url='periodicallycalled.rails', update='newValue', with='Form.serialize(theform)'}")

</body>
</html>