<div style="width: 400px; background: #ffffef; border: 1px solid gray; padding: 10px;">
	$Ajax.BuildFormRemoteTag("AddCustomer.castle", "%{}")
	
	<div style="float: right; width: 90px; text-align:center;">
		$Form.Submit("Save")
		<br/><br/>
		<input type="button" value="Cancel" onclick="Effect.toggle('container', 'appear');Element.show('addnewcustomerlink');" /> <br/>
	</div>
	
	<div style="padding: 3px; width: 300px;">
		Id: $Form.NumberField("customer.id") 
	</div>
	<div style="padding: 3px; width: 300px;">
		Name: $Form.TextField("customer.name") <br/>
	</div>
	<div style="padding: 3px; width: 300px;">
		E-mail: $Form.TextField("customer.email") <br/>
	</div>
	
	$Form.EndFormTag()
</div>
