<table style="width: 600px; border: 1px solid gray; border-bottom: 1px solid white;" cellpadding="2">
<tbody id="maintbody">
	<tr>
		<th>&nbsp;</th>
		<th>Name</th>
		<th>Contact</th>
	</tr>
#foreach($customer in $customers)
	<tr>
		<td>$customer.id</td>
		<td align="center">$customer.name</td>
		<td align="center">$customer.email</td>
	</tr>
</tbody>
#end
</table>
<div style="width: 598px; border: 1px solid gray;">
	#component(DiggStylePagination with "page=$customers")
</div>

<br/>

<div id="container" style="display: none;"></div>

<p id="addnewcustomerlink">
	$Ajax.LinkToRemote("Add customer", "NewCustomer.castle", "%{}")
</p>