<?xml version="1.0" encoding="utf-8" ?> 
<!-- 
This configuration file is not used as of yet,
the idea is however that there should only be
one configuration file for all the different
hooks so that you dont have to repeat where 
to find svnlook, and having 1 config per hook
exe.
-->
<configuration 
	svnlook="C:\Program Files\Subversion\bin\svnlook.exe">	
	<pre-commit>
		<hook 
			type="Castle.SvnHooks.CastleProject.PreCommitSourceHeader"
			assembly="CastleProjectHooks">
			<parameters>
				<extensions>cs|vb</extensions>
			</parameters>
		</hook>
		<hook 
			type="Castle.SvnHooks.CastleProject.PreCommitEolStyle"
			assembly="CastleProjectHooks">
			<parameters>
				<extensions>cs|vb</extensions>
			</parameters>
		</hook>
	</pre-commit>
</configuration>