
<h2>Configure the smtp host first</h2>

<p>
Before trying anything, change the smtp host on 
the web.config, node <tt>monorail</tt>.
</p>

<h3>Simple text email</h3>

<p>
This example uses <tt>RenderEmailAndSend</tt> and the
view <tt>simple.vm</tt>.
</p>

<p>
The <tt>Message</tt> is configured based on the headers
on the view template.
</p>

$Form.FormTag("%{action='SendSimple'}")

<p> To: $Form.TextField("to") </p> 
<p> Subject: $Form.TextFieldValue("subject", "Welcome to Castle MonoRail") </p> 

<hr size="1" />

$Form.Submit("Send")

$Form.EndFormTag()

<h3>Simple html email</h3>

<p>
This example uses <tt>RenderMailMessage</tt> and <tt>DeliverEmail</tt>
and the view <tt>htmlemail.vm</tt>.
</p>

<p>
The <tt>Message</tt> is configured manually.
</p>

$Form.FormTag("%{action='SendHtml'}")

<p> To: $Form.TextField("to") </p> 
<p> Subject: $Form.TextFieldValue("subject", "Welcome to Castle MonoRail") </p> 

<hr noshade="" size="1" />

$Form.Submit("Send")

$Form.EndFormTag()


