<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
		<title>Layout</title>
		<style type="text/css" media="screen">
body
{
	background-color: white;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: small;
}		
		</style>
		
		$Ajax.InstallScripts()
		$Scriptaculous.InstallScripts()
		$Form.InstallScripts()
		
		<script type="text/javascript">

			var globalHandlers = 
			{
				onCreate: function()
				{
					Element.show('systemWorking');
				},

				onComplete: function() 
				{
					if (Ajax.activeRequestCount == 0)
					{
						Element.hide('systemWorking');
					}
				}
			};

			Ajax.Responders.register(globalHandlers);
		
		</script>
		
	</head>
	<body>

<div id="systemWorking" style="display: none; position: absolute; width: 100px; padding: 5px; height: 20px; background: #ffffcf; right: 300px; text-align: center;">
<img src="$siteRoot/Content/images/spinner.gif" /> Hang on!
</div>

$childContent	
	
	</body>
</html>
