<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<facilities>
		<facility id="integration.facility" type="Castle.MonoRail.WindsorExtension.RailsFacility, Castle.MonoRail.WindsorExtension" />
		<facility id="transaction.management.facility" type="Castle.Facilities.AutomaticTransactionManagement.TransactionFacility, Castle.Facilities.AutomaticTransactionManagement" />
		
		<facility 
			id="loggingfacility" 
			type="Castle.Facilities.Logging.LoggingFacility, Castle.Facilities.Logging" 
			loggingApi="Log4net" 
			configFile="Config/logging.config" />
		
		<facility
			id="arfacility"
			type="Castle.Facilities.ActiveRecordIntegration.ActiveRecordFacility, Castle.Facilities.ActiveRecordIntegration"
			isWeb="true">

			<assemblies>
				<item>!NAMESPACE!.Core</item>
			</assemblies>

			<config>
				<add key="hibernate.connection.driver_class" value="NHibernate.Driver.SqlClientDriver" />
				<add key="hibernate.dialect"                 value="NHibernate.Dialect.MsSql2000Dialect" />
				<add key="hibernate.connection.provider"     value="NHibernate.Connection.DriverConnectionProvider" />
				<add key="hibernate.connection.connection_string" value="#{connectionString}" />
			</config>

		</facility>
	</facilities>
</configuration>