<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<properties>
		<?if test?>
		<connectionString>Data Source=.;Initial Catalog=!NAMESPACE!Test;Integrated Security=SSPI</connectionString>
		<?else?>
		<connectionString>Data Source=.;Initial Catalog=!NAMESPACE!;Integrated Security=SSPI</connectionString>
		<?end?>
	</properties>
</configuration>