<?xml version="1.0" encoding="utf-8" ?> 

<configuration>

    <configSections>
        <section name="rails"
                 type="Castle.CastleOnRails.Engine.Configuration.RailsSectionHandler, Castle.CastleOnRails.Engine" />
    </configSections>

    <rails>
		<controllers>
			<assembly>TestSite</assembly>
		</controllers>
		<viewEngine viewPathRoot="views" />
    </rails>

    <system.web>
		<compilation defaultLanguage="C#" debug="true"/>
        <httpHandlers>
            <add verb="*" path="*.rails" 
               type="Castle.CastleOnRails.Engine.RailsHttpHandlerFactory, Castle.CastleOnRails.Engine" />
        </httpHandlers>
    </system.web>

</configuration>
