<div align="center">
  <h2>Helpers</h2>
</div>

<div class="container">

<p>
  The Helper feature is the ability to associate a class with a bunch of 
  methods with your controller so the bunch of methods can be used from 
  the view.
</p>

<p>
  You can associate helpers to controller using the Helper attribute:
</p>

<pre><code>
  public class MyHelper
  {
    public String BuildUserLink(User user)
    {
      return String.Format("&lt;a href='/users/showuser.mr?id={0}'&gt;{1}&lt;/a&gt;", user.Id, user.Name);  
    }
  }

  [Helper( typeof(MyHelper) )]
  public class MemberController : Controller
  {
    public void List()
    {
      PropertyBag.Add("users", ObtainUsers() );
    }
  }
</code></pre>

<p>
  And then use it from the View (in this case, NVelocity):
</p>

<pre><code>
# foreach ($user in $users)
  $MyHelper.BuildUserLink( ${user} )
# end
</code></pre>


</div>
