<h2>Remove ${model.Type.Name}</h2>

<p>
Do you really want to remove this $model.Type.Name ?
</p>

#if($useModelName)
$Form.FormTag("%{action='remove${model.Type.Name}'}")
#else
$Form.FormTag("%{action='remove'}")
#end

$Form.HiddenField("id")

$Form.Submit("Yes")
$Form.Button("No", "%{onclick='javascript:history.go(-1);'}")

$Form.EndFormTag()

<p>
$PresentationHelper.LinkToBack("Back", null) | 
$PresentationHelper.LinkToList($model, $useModelName, "List", null)
</p>
