$ValidationHelper.InstallScripts()

<h2>Edit ${model.Type.Name}</h2>

#if($flash.errors)
<ul id="errors">
#foreach($error in $flash.errors)
  <li>$error</li>
#end
</ul>
#end

#set ($validatorForm = "return validateForm( this, false, false, false, false, 5 )" )

#if($useModelName)
$PresentationHelper.Form( "update${model.Type.Name}", "scaffoldingform", "post", $validatorForm )
#else
$PresentationHelper.Form( "update", "scaffoldingform", "post", $validatorForm )
#end

$HtmlHelper.InputHidden("${prefix}.${keyprop.Name}", ${id})

<div id="scaffoldmain">

#foreach($model in $HtmlHelper.GetModelHierarchy($model, $instance))

#if($model.IsNestedType)
  $HtmlHelper.FieldSet("${model.Type.Name}:")
#end

#foreach($field in $model.Fields)
#if($HtmlHelper.CanHandle($field))
<p>$HtmlHelper.CreateControl($model, $prefix, $field, $instance)</p>
#end
#end

#foreach($prop in $model.Properties)
#if($HtmlHelper.CanHandle($prop))
<p>$HtmlHelper.CreateControl($model, $prefix, $prop, $instance)</p>
#end
#end

#foreach($prop in $model.NotMappedProperties)
#if($HtmlHelper.CanHandle($prop))
<p>$HtmlHelper.CreateControl($model, $prefix, $prop, $instance)</p>
#end
#end

#foreach($prop in $model.BelongsTo)
#if($HtmlHelper.CanHandle($prop))
<p>$HtmlHelper.CreateControl($model, $prefix, $prop, $instance)</p>
#end
#end

#foreach($prop in $model.HasMany)
#if($HtmlHelper.CanHandle($prop))
<p>$HtmlHelper.CreateControl($model, $prefix, $prop, $instance)</p>
#end
#end

#foreach($prop in $model.HasAndBelongsToMany)
#if($HtmlHelper.CanHandle($prop))
<p valign="top">$HtmlHelper.CreateControl($model, $prefix, $prop, $instance)</p>
#end
#end

#if($model.IsNestedType)
  $HtmlHelper.EndFieldSet()
#end

#end

$HtmlHelper.SubmitButton("Save")

</div>

<p>
$PresentationHelper.LinkToBack("Back", null) | $PresentationHelper.LinkToList($model, $useModelName, "List", null)
</p>

$HtmlHelper.EndForm()
