
<p>
$presentation.LinkToCreate( $model, "Create a new $model.Type.Name", $DictHelper.CreateDict() )
</p>

#set($cols = $properties.Count + 2)
<div style="border: 1px solid black;">
<table class="scaffoldtable" cellpadding="5" cellspacing="0" border="0" width="100%">
  <tr>
    <th>&nbsp</th>
  #foreach($prop in $properties)
    <th>$prop.Name</th>
  #end
    <th>&nbsp</th>
  </tr>

#if($items.Length = 0)
  <tr>
    <td colspan="$cols" align="center">Empty</td>
  </tr>
#end

#foreach($row in $items)
#set ($rowid = $keyprop.GetValue($row, null) )
  $presentation.StartAlternateTR($velocityCount, "scaffoldrow", "scaffoldaltrow")
  
  <td width="1%" nowrap align="$presentation.BestAlignFor( $keyprop.PropertyType )">$rowid</td>
  
  #foreach($prop in $properties)
  <td align="$presentation.BestAlignFor( $prop.PropertyType )">$!prop.GetValue($row, null)</td>
  #end
  
  <td align="center" nowrap width="1%">
$presentation.LinkToEdit( $model, "edit", $rowid, $DictHelper.CreateDict() )
$presentation.LinkToConfirm( $model, "remove", $rowid, $DictHelper.CreateDict() )
  </td>
  </tr>
#end
</table>
</div>