
<p>
$PresentationHelper.LinkToNew( $model, "Create a new $model.Type.Name", $DictHelper.CreateDict() )
</p>

#set($cols = $properties.Count + 2)
<div style="border: 1px solid black;">
<table class="scaffoldtable" cellpadding="5" cellspacing="0" border="0" width="100%">
  <tr>
    <th>&nbsp;</th>
  #foreach($prop in $properties)
    <th>$prop.Name</th>
  #end
    <th>&nbsp;</th>
  </tr>

#if($items.Length == 0)
  <tr>
    <td colspan="$cols" align="center">Empty</td>
  </tr>
#end

#foreach($row in $items)
#set ($rowid = $keyprop.GetValue($row, null) )
  $PresentationHelper.StartAlternateTR($velocityCount, "scaffoldrow", "scaffoldaltrow")
  
  <td width="1%" nowrap align="$PresentationHelper.BestAlignFor( $keyprop.PropertyType )">$rowid</td>
  
  #foreach($prop in $properties)
  <td align="$PresentationHelper.BestAlignFor( $prop.PropertyType )">$!prop.GetValue($row, null)</td>
  #end
  
  <td align="center" nowrap width="1%">
$PresentationHelper.LinkToEdit( $model, "edit", $rowid, $DictHelper.CreateDict() )
$PresentationHelper.LinkToConfirm( $model, "remove", $rowid, $DictHelper.CreateDict() )
  </td>
  </tr>
#end
</table>
<div class="pagination">
<table width="100%" border="0">
  <tr>
  <td>Showing $items.FirstItem - $items.LastItem of $items.TotalItems</td>
  <td align="right">
#if($items.HasFirst) $PaginationHelper.CreatePageLink( 1, "first" ) #end
#if(!$items.HasFirst) first #end
#if($items.HasPrevious) | $PaginationHelper.CreatePageLink( $items.PreviousIndex, "prev" ) #end
#if(!$items.HasPrevious) | prev #end
#if($items.HasNext) | $PaginationHelper.CreatePageLink( $items.NextIndex, "next" ) #end
#if(!$items.HasNext) | next #end
#if($items.HasLast) | $PaginationHelper.CreatePageLink( $items.LastIndex, "last" ) #end
#if(!$items.HasLast) | last #end
  </td>
  </tr>
</table>
</div>
</div>
