$Ajax.InstallScripts()
$Scriptaculous.InstallScripts()
$Form.InstallScripts()

<h2>New ${model.Type.Name}</h2>

#if($flash.errors)
<ul id="errors">
#foreach($error in $flash.errors)
  <li>$error</li>
#end
</ul>
#end

#if($useModelName)
$Form.FormTag("%{action='create${model.Type.Name}', id='scaffoldingform'}")
#else
$Form.FormTag("%{action='create', id='scaffoldingform'}")
#end

<div id="scaffoldmain">

#foreach($curmodel in $Form.GetModelHierarchy($model, $instance))

#if($curmodel.IsNestedType)
  $Form.FieldSet("${curmodel.Type.Name}:")
#end

#foreach($field in $curmodel.Fields)
#if($Form.CanHandle($field))
<div>$Form.CreateControl($curmodel, $prefix, $field, $instance)</div>
#end
#end

#foreach($prop in $curmodel.Properties)
#if($Form.CanHandle($prop))
<div>$Form.CreateControl($curmodel, $prefix, $prop, $instance)</div>
#end
#end

#foreach($prop in $curmodel.NotMappedProperties)
#if($Form.CanHandle($prop))
<div>$Form.CreateControl($curmodel, $prefix, $prop, $instance)</div>
#end
#end

#foreach($prop in $curmodel.BelongsTo)
#if($Form.CanHandle($prop))
<div>$Form.CreateControl($curmodel, $prefix, $prop, $instance)</div>
#end
#end

#foreach($prop in $curmodel.HasMany)
#if($Form.CanHandle($prop))
<div>$Form.CreateControl($curmodel, $prefix, $prop, $instance)</div>
#end
#end

#foreach($prop in $curmodel.HasAndBelongsToMany)
#if($Form.CanHandle($prop))
<div valign="top">$Form.CreateControl($curmodel, $prefix, $prop, $instance)</div>
#end
#end

#if($curmodel.IsNestedType)
  $Form.EndFieldSet()
#end

#end

<input type="submit" value="Create" />

</div>

<p>
$PresentationHelper.LinkToBack("Back", null) | $PresentationHelper.LinkToList($model, $useModelName, "List", null)
</p>

$Form.EndFormTag()
