
#if($exception)
  <h2>${model.Type.Name} could not be removed</h2>

  <p>
  Error message:
  </p>

  <pre>
  $exception.Message
  </pre>

#else
  
  <h2>${model.Type.Name} removed</h2>

#end

<p>
 $PresentationHelper.LinkToList($model, $useModelName, "List", null)
</p>
