<?xml version="1.0" encoding="utf-8" ?> 

<configuration>

    <configSections>
        <section name="monoRail"
                 type="Castle.MonoRail.Engine.Configuration.MonoRailSectionHandler, Castle.MonoRail.Engine" />
    </configSections>

    <monoRail>
		<controllers>
			<assembly>TestSite</assembly>
		</controllers>
		<viewEngine viewPathRoot="views" />
    </monoRail>

    <system.web>
		<compilation defaultLanguage="C#" debug="true"/>
        <httpHandlers>
            <add verb="*" path="*.ashx" 
               type="Castle.MonoRail.Engine.MonoRailHttpHandlerFactory, Castle.MonoRail.Engine" />
            <add verb="*" path="*.rails" 
               type="Castle.MonoRail.Engine.MonoRailHttpHandlerFactory, Castle.MonoRail.Engine" />
        </httpHandlers>
    </system.web>

</configuration>
