<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="activerecord" type="Castle.ActiveRecord.Framework.Config.ActiveRecordSectionHandler, Castle.ActiveRecord" />
		<section name="monoRail" type="Castle.MonoRail.Framework.Configuration.MonoRailSectionHandler, Castle.MonoRail.Framework" />
	</configSections>

	<monoRail>
		<controllers>
			<assembly>TestSiteARSupport</assembly>
		</controllers>
		<viewEngine viewPathRoot="views" customEngine="Castle.MonoRail.Framework.Views.NVelocity.NVelocityViewEngine, Castle.MonoRail.Framework.Views.NVelocity" />
	</monoRail>

	<activerecord isWeb="true">
		<config>
			<add key="hibernate.connection.driver_class" value="NHibernate.Driver.SqlClientDriver" />
			<add key="hibernate.dialect" value="NHibernate.Dialect.MsSql2000Dialect" />
			<add key="hibernate.connection.provider" value="NHibernate.Connection.DriverConnectionProvider" />
			<add key="hibernate.connection.connection_string" value="Server=(local);initial catalog=test;Integrated Security=SSPI" />
		</config>
	</activerecord>

	<system.web>
		<compilation defaultLanguage="C#" debug="false" />
		<trace enabled="false" pageOutput="false" requestLimit="15" />
		<httpHandlers>
			<add verb="*" path="*.castle" type="Castle.MonoRail.Framework.MonoRailHttpHandlerFactory, Castle.MonoRail.Framework" />
		</httpHandlers>
		<httpModules>
			<add name="monorail" type="Castle.MonoRail.Framework.EngineContextModule, Castle.MonoRail.Framework" />
			<!-- <add name="ar" type="Castle.ActiveRecord.Framework.SessionScopeWebModule, Castle.ActiveRecord" /> -->
		</httpModules>
		<pages validateRequest="true" />
		<globalization culture="en-US" uiCulture="en-US"/>
	</system.web>
</configuration>
