
<hr noshade="true" size="1" />

<h3> Context information </h3>

<a href="javascript:Toggle.display('contextinfo');void(0);">Toggle context information</a>

<div id="contextinfo" style="display:none; border: 1px dashed gray; padding: 10px;">

<h4> PropertyBag </h4>

#if($controller.PropertyBag.Count == 0)
  <p> The PropertyBag is empty </p>
#else

  <p> The following entries were on the PropertyBag: </p>

<ul>
#foreach($entry in $controller.PropertyBag)
<li> $entry.Key : $entry.Value  </li>
#end
</ul>

#end

<h4> Flash </h4>

#if($controller.Flash.Count == 0)
  <p> The Flash is empty </p>
#else

  <p> The following entries were on the Flash: </p>

<ul>
#foreach($entry in $controller.Flash)
<li> $entry.Key : $entry.Value  </li>
#end
</ul>

#end

<h4> Session </h4>

#if($session.Count == 0)
  <p> The Session is empty </p>
#else

  <p> The following entries exist on the Session: </p>

<ul>
#foreach($entry in $session)
<li> $entry.Key : $entry.Value  </li>
#end
</ul>

#end

<h4> Context.Items </h4>

#if($$controller.Context.UnderlyingContext.Items.Count == 0)
  <p> The Context.Items is empty </p>
#else

  <p> The following entries were on the Context.Items: </p>

<ul>
#foreach($entry in $controller.Context.UnderlyingContext.Items)
<li> $entry.Key : $entry.Value  </li>
#end
</ul>

#end

<h4> Params </h4>

<p> The following entries were on the Params: </p>

<ul>
#foreach($entry in $controller.Params)
<li> $entry : $controller.Params.get_Item($entry)  </li>
#end
</ul>

</div>