<% @page_title = "DynamicProxy" %>
<% @main_title = "Tests coverage" %>
<%= render "/dynamicproxy/deflinks" %>

We use NCover to generate coverage reports and we try to 
keep at least 80% of coverage.

<p>
Check the coverage for DynamicProxy 
<a href="/coverage/dynamicproxy/Coverage.Xml">here</a>.
</p>