<% @page_title = "DynamicProxy" %>
<% @main_title = "Download" %>
<%= render "/dynamicproxy/deflinks" %>

Currently there is no release available. You can checkout the source code from
our SVN repository:

<p><strong><a href="http://svn.digitalcraftsmen.com.br/svn/castle/trunk/Tools/DynamicProxy/">DynamicProxy</a></strong><p>  
