<% @page_title = "DynamicProxy" %>
<% @main_title = "Download" %>
<%= render "/dynamicproxy/deflinks" %>

<a href="http://sourceforge.net/project/showfiles.php?group_id=124416&package_id=136035">
DynamicProxy releases</a> at SourceForge.

<h3>SVN Repository</h3>
<p>
You can checkout the latest source code from
our SVN repository:

<p>
<strong>
<a href="http://svn.digitalcraftsmen.com.br/svn/castle/trunk/Tools/DynamicProxy/">DynamicProxy</a>
</strong>
</p>