#*

@test method.vm

This template is used for Velocity regression testing.
If you alter this template make sure you change the
corresponding comparison file so that the regression 
test doesn't fail incorrectly.

*#

$provider.concat(["I", "am", "a", $provider.concat(["running", "man"])])

