#macro( quietnull $a)
#if($a)$a#end
#end

#macro( recurse $a )
  global recurse $a
  #set( $a = $a - 1)
  #if ($a > 0)
    #recurse( $a )
  #end
#end

#macro( callrecurse )
   #set( $count = 5)
   #recurse( $count )
#end

#macro( testbool $b )
 #if($b)
  arg true
 #end
 #if( ! $b )
  arg false
 #end
#end


