<?xml version="1.0" encoding="utf-8" ?> 
<configuration>
	<configSections>
		<section name="castle"
				 type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler, Castle.Windsor" />
	</configSections>

	<appSettings>
		<add key="tests.src" value="../Castle.Facilities.NHibernateIntegration.Tests" />
	</appSettings>
</configuration>
