<?xml version="1.0" encoding="utf-8" ?>

<configuration>
	<appSettings>
		<add key="tests.src" value="../Castle.Facilities.NHibernateIntegration.Tests" />
		<add key="ar.dialect" value="NHibernate.Dialect.MsSql2000Dialect" />
		<add key="ar.connection.driver_class" value="NHibernate.Driver.SqlClientDriver" />
		<add key="ar.connection.provider" value="NHibernate.Connection.DriverConnectionProvider" />
		<add key="ar.connection.connection_string" value="Server=(local);initial catalog=test;Integrated Security=SSPI" />
		<add key="ar.proxyfactory.factory_class" value="NHibernate.ByteCode.Castle.ProxyFactoryFactory, NHibernate.ByteCode.Castle" />
	</appSettings>
</configuration>
