<div align="center">
  <h2>Advanced Usage</h2>
</div>

<div class="container">

<p>
  Advanced usage includes the usage of the ControllerTree class to dynamically 
  manipulate the controllers hierarchy (adding/removing). For the beta 2 we will 
  not include this under the hood information.
</p>


</div>
