
<h3>Categories</h3>

<p>
<ul>
<li><a href="../category/new.rails">Add new Category</a></li>
</ul>
</p>

#component(ListComponent with "source=$categories" "controllername=category")

<h3>Account Permissions</h3>

<p>
<ul>
<li><a href="../AccountPermission/new.rails">Add new Account Permission</a></li>
</ul>
</p>

#component(ListComponent with "source=$accountpermissions" "controllername=AccountPermission")

<h3>Accounts</h3>

<p>
<ul>
<li><a href="../account/new.rails">Add new Account</a></li>
</ul>
</p>

#component(ListComponent with "source=$accounts" "controllername=account")


<h3>Product Licenses</h3>

<p>
<ul>
<li><a href="../productlicense/new.rails">Add new License</a></li>
<li><a href="../productlicense/newwithaccounts.rails">Add new License with accounts</a></li>
</ul>
</p>

#component(ListComponent with "source=$prodlicenses" "controllername=productlicense")

