$HtmlHelper.InputText( "name", "value", 30, 20, $DictHelper.CreateDict("style=something", "eol=true") )

  $HtmlHelper.DateTime( "name", $DateTime.Now, $DictHelper.CreateDict("style=something", "eol=true") )
  
  
