<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<!-- General Config -->
	<configSections>
		<section name="aspectsharp" 
			type="AspectSharp.Builder.SectionHandler.AspectSharpConfigurationHandler, AspectSharp" />
	</configSections>
	
	<!-- AspectSharp settings -->
	<aspectsharp>
	    <configuration>
	    <![CDATA[
        import AspectSharp.Tests.Classes in AspectSharp.Tests 
        
        interceptors [ "key" : DummyInterceptor ] 
        mixins [ "key" : DummyMixin  ] 

        aspect McBrother for DummyCustomer  
            include "key" 

            pointcut method(*) 
                advice("key") 
            end 
        end 
		]]>
	    </configuration>
	</aspectsharp>
</configuration>
