Introduction


$wizardhelper <br/>
HasNextStep : $wizardhelper.HasNextStep() <br/>
HasPreviousStep : $wizardhelper.HasPreviousStep() <br/>
PreviousStepName : $wizardhelper.PreviousStepName <br/>
NextStepName : $wizardhelper.NextStepName <br/>
LinkToNext : $wizardhelper.LinkToNext('text') <br/>
LinkToPrevious : $wizardhelper.LinkToPrevious('previous') <br/>

