<?xml version="1.0" encoding="utf-8" ?> 

<configuration>

    <configSections>
        <section name="rails"
                 type="Castle.CastleOnRails.Engine.Configuration.RailsSectionHandler, Castle.CastleOnRails.Engine" />
    </configSections>

    <rails>
		<customControllerFactory type="Castle.CastleOnRails.WindsorExtension.WindsorControllerFactory, Castle.CastleOnRails.WindsorExtension" />
		<customFilterFactory type="Castle.CastleOnRails.WindsorExtension.WindsorFilterFactory, Castle.CastleOnRails.WindsorExtension" />
		<viewEngine viewPathRoot="views" />
    </rails>

    <system.web>
		<compilation defaultLanguage="C#" />
        <httpHandlers>
            <add verb="*" path="*.rails" 
               type="Castle.CastleOnRails.Engine.RailsHttpHandlerFactory, Castle.CastleOnRails.Engine" />
        </httpHandlers>

        <authentication mode="Forms">
          <forms name="auth" loginUrl="/home/index.rails" />
        </authentication>
    </system.web>
    
    

</configuration>
