body, table, form, input, td, th, p, textarea, select
{
	font-family: verdana, helvetica, arial;
	font-size: 11px;
}

a:hover { color:#FC0; }

.main-panel { color:#FC0; }

.link { color:#FFF; text-decoration:none; }
.link-failed { color:#F30; text-decoration:none; }
.buildresults-header { color: #FFF; font-weight: bold; }
.buildresults-data { color: #9F3; }
.buildresults-data-failed { color: #F30; }

.stylesection { margin-left: 4px; }
.header-title { font-size:12px; color:#000; font-weight:bold; padding-bottom:10pt; }
.header-label { font-weight:bold; }
.header-data { color:#000; }
.header-data-error { font-family:courier, monospaced; color:#000; white-space:pre; }

.section-table { margin-top:10px; }
.sectionheader { background-color:#006; color:#FFF; }
.section-data { font-size:9px; color:#000; }
.section-oddrow { background-color:#F0F7FF; }
.section-evenrow { background-color:#FFF; }
.section-error { font-size:9px; color:#F30; white-space:pre; }

.warning { color: darkorange; }
.error { color:red }
.pluginLinks { float:right; margin-top:10px; padding:10px; background-color:#000066; color:White }