<div align="center">
  <h2>Ajax Support - ObserverField</h2>
</div>

<div class="container">
  
  The ObserverField helper method creates an inline script that 
  start to observe a field for value change in the specified interval.
  When a change is detected, a remote method is invoked.
  
</div>

<h3>Overloads:</h3>

<div class="container">

<ul>
  <li><code>public String ObserveField(String fieldId, int frequency, String url, String idOfElementToBeUpdated, String with)</code></li>
  <li><code>public String ObserveField(String fieldId, int frequency, String url, IDictionary options)</code></li>
</ul>

</div>

<h3>Examples:</h3>

<div class="container">

<a href="${siteRoot}/code/showCode.rails?file=Views/AjaxArea/observerfield/index.vm">Check this view source code</a>.

<p>
  Zip Code: <input type="text" name="zipcode" id="zipcode">
  <br>Address:
  <div id="address">
  </div>
  $AjaxHelper.ObserveField("zipcode", 2, "AddressFromZip.rails", "address", "'value='+value") 
</p>

<hr>

<p>
  Country: 
  <select name="country" id="country">
    <option selected value="br">BR</option>
    <option value="uk">UK</option>
    <option value="us">US</option>
    <option value="ca">CA</option>
    <option value="ch">CH</option>
    <option value="jp">JP</option>
  </select>

  State: 
  <span id="statesplaceholder">
	<select name="states">
		<option selected>Select the country first</option>
	</select>
  </span>
  
  $AjaxHelper.ObserveField("country", 2, "GetStatesFromCountry.rails", "statesplaceholder", "'value='+value")
</p>

</div>

