
<h3>${action_executed}</h3>

<table border="0" cellspacing="5" cellpadding="5" width="100%">
<tr>
	<td width="10%"> Id: </td>
	<td> <strong>$!product.id</strong> </td>
</tr>
<tr>
	<td> Name: </td>
	<td> <strong>$!product.name</strong> </td>
</tr>
<tr>
	<td> Available in stock: </td>
	<td> <strong>$product.inStock</strong> </td>
</tr>
</table>

<br/>

<fieldset>
  <legend>Supplier Information</legend>

<table border="0" cellspacing="5" cellpadding="5" width="95%">
<tr>
	<td width="10%"> Brand: </td>
	<td> <strong>$!product.SupplierInfo.brand</strong> </td>
</tr>
<tr>
	<td> Weight: </td>
	<td> <strong>$!product.SupplierInfo.Weight $product.SupplierInfo.WeightUnit</strong> </td>
</tr>
<tr>
	<td> Warranty: </td>
	<td> <strong>$!product.SupplierInfo.WarrantyInMonths months</strong> </td>
</tr>
</table>

</fieldset>

<br/>

<fieldset>
  <legend>Categories</legend>

<p>
<ul>
#foreach($cat in $product.categories)
  <li> $cat.Name </li>
#end
</ul>
</p>

</fieldset>

<br/>

<hr noshade="" size="1" />

<a href="index.rails">Back to main product page</a>
	
