<h3>New Product</h3>

<form method="post" action="create.rails">

<table border="0" cellspacing="5" cellpadding="5" width="100%">
<tr>
	<td width="10%"> Id: </td>
	<td> <input type="text" name="product.id" /> </td>
</tr>
<tr>
	<td> Name: </td>
	<td> <input type="text" name="product.name" /> </td>
</tr>
<tr>
	<td> Available in stock: </td>
	<td> 
		<input type="checkbox" name="product.inStock" id="instock" value="true" /> 
		<label for="instock">Yes</label> 
	</td>
</tr>
</table>

<br/>

<fieldset>
  <legend>Supplier Information</legend>

<table border="0" cellspacing="5" cellpadding="5" width="95%">
<tr>
	<td width="10%"> Brand: </td>
	<td> <input type="text" name="product.supplierinfo.brand" /> </td>
</tr>
<tr>
	<td> Weight: </td>
	<td> 
	
	<input type="text" name="product.supplierinfo.Weight" value="0" /> 
	
	<select name="product.supplierinfo.WeightUnit">
		<option value="Kilos">In Kg</option>
		<option value="Pounds">In Pounds</option>
	</select>
	
	</td>
</tr>
<tr>
	<td> Warranty: </td>
	<td> <input type="text" name="product.supplierinfo.WarrantyInMonths" value="12" /> months  </td>
</tr>
</table>

</fieldset>

<br/>

<fieldset>
  <legend>Categories</legend>

<p>
<ul>
#foreach($cat in $categories)
  <li> 
  <input type="checkbox" name="product.categories[${velocityCount}].name" id="cat${velocityCount}" value="$cat.name" /> 
  <label for="cat${velocityCount}">$cat.Name</label>
  </li>
#end
</ul>
</p>

</fieldset>

<br/>

<hr noshade="" size="1" />

<input type="submit" value="Create product" />

</form>

	
