<% @page_title = "Container" %>
<% @main_title = "Download" %>
<%= render "/container/deflinks" %>

Currently there is no release available. You can checkout the source code from
our SVN repository:

<p><strong><a href="http://svn.digitalcraftsmen.com.br/svn/castle/trunk/MicroKernel/">MicroKernel</a></strong><p>  
