
<h3>Using DataBinder with Arrays</h3>

#if($Flash.message)
<div>$Flash.message</div>
#end

$Form.FormTag("%{action='update'}")

<h4>Publisher</h4>

$Form.HiddenField("publisher.id")

Name: $Form.TextField("publisher.name")

<h4>Books</h4>

<table>
  <tr>
    <td>&nbsp;</td>
    <td>Name</td>
    <td>Author</td>
  </tr>
#set($counter = 0)
#foreach($book in $publisher.Books)
  <tr>
    <td>
    $book.Id
    </td>
    <td>
  $Form.HiddenField("book[${counter}].Id", $book.Id)
  $Form.TextFieldValue("book[${counter}].Name", $book.name)
    </td>
    <td>
  $Form.TextFieldValue("book[${counter}].Author", $book.author)
    </td>
  </tr>
#set($counter = $counter + 1)
#end
</table>

<br/>

$Form.Submit("Save")

$Form.EndFormTag()
