#if ($context.CurrentUser.Identity.IsAuthenticated)
<p>
  <strong>Welcome back $context.CurrentUser.Identity.Name!</strong>
  If you're not $context.CurrentUser.Identity.Name, then this application has some
  serious identity problems :-)<br>
  Would you like to publish a <a href="/maintenance/newentry.rails">new post</a> on your blog?
</p>
#end

<p>
MindDump is a simple blog application. To create your blog and start to dump 
your thoughts and opinions, please create <a href="/account/new.rails">an account</a>.
</p>

<p>
If you have an account, please <a href="/account/authentication.rails">log on</a>
</p>

<br>
<font size="+1">Last updates</font>
<br>

<p>
<table width="100%" border="1">
#foreach( $post in $posts )
  <tr>
    <td><a href="/${post.blog.author.login}/view.rails?entryid=${post.id}">$post.title</td>
    <td>$post.date</td>
  </tr>
#end
</table>
</p>

<br>
<font size="+1">Blogs registered</font>
<br>

<p>

<table width="100%" border="1">
#foreach( $blog in $blogs )
  <tr>
    <td><a href="/$blog.author.login/view.rails">$blog.name</td>
    <td>$blog.description</td>
  </tr>
#end
</table>
