<% @page_title = "Documentation" %>
<% @main_title = "F.A.Q for MicroKernel" %>
<%= render "/containerdocs/deflinks" %>

<h3>Internals</h3>

<ul>
  <li>Why I cannot use interceptors with the MicroKernel?<br>
  You can, just implement the IProxyFactory. See the Windsor implementation
  as a reference.
  </li>
</ul>

<h3>Usage</h3>


<p>&nbsp;</p>
