<h2>Edit Category</h2>

$Form.FormTag("%{action='update'}")

$Form.HiddenField("category.id")

<table border="0" width="300px" cellpadding="3" cellspacing="2">
<tr>
	<td>
	$Form.LabelFor("category.name", "Name:")
	</td>
	
	<td>
	$Form.TextField("category.name")
	</td>
</tr>

</table>

<p>
	$Form.Submit("Update")
</p>

$Form.EndFormTag()