<?xml version="1.0"?>
<configuration>
       <startup>
        <!-- .NET Framework 2.0 -->
        <supportedRuntime version="v2.0.50727" />
        <!-- .NET Framework 1.1 -->
        <supportedRuntime version="v1.1.4322" />
        <!-- .NET Framework 1.0 -->
        <supportedRuntime version="v1.0.3705" />
    </startup>
</configuration>
