body
{
	font-family: Verdana, Arial;
	background-color: white;
	font-size: small;
}
.errorList
{
}
.errorMessage
{
	color: #993333;
}
.item
{
	border-right: black 1px solid;
	border-top: medium none;
	border-left: medium none;
	border-bottom: medium none;
}
