body
{
	font-family: Verdana, Arial;
	font-size: small;
	background-color: white;
	margin: 15px;
}
th
{
	background-color: #DDDDDD;
	font-size: small;
	border-right: solid 1px gray;
}
td
{
	font-size: small;
}
.errorList
{
}
.errorMessage
{
	color: #993333;
}
.scaffoldrow
{
	background-color: #EFEFEF;
}
.scaffoldaltrow
{
	background-color: White;
}
.scaffoldrow td
{
	border-right: solid 1px gray;
}
.scaffoldaltrow td
{
	border-right: solid 1px gray;
}
.pagination
{
	border: solid 1px gray;
	padding: 2px;
}
.pagination table tr td
{
	font-size: 10;
}
input, select, textarea
{
	border: 1px solid gray;
}
input.errHilite, select.errHilite, textarea.errHilite 
{
	border: 1px solid #DDC;
	background-color: #FFE;
}
label.errHilite 
{
	color: red;
}
ul#errors 
{
	margin-top: 1em;
	margin-left: 0;
	background-color: #FFE;
	border: 1px solid #CC9;
	padding: .3em;
	color: #C00;
	font-weight: bold;
	margin: .5em 0;
}	
ul#errors li 
{
	margin: 0 0 0 0;
	padding: 5;
	list-style-type: none;
}
ul#errors li.heading 
{
	list-style-type: none;
	color: #000;
	font-weight: normal;
	font-style: italic;
	margin: .5em 0;
	padding: 0;
}
div#scaffoldmain
{
	border-left: solid 1px black;
	padding-left: 10px;
	margin-left: 5px;
	margin-top: 5px;
}
