body
{
	font-family: Verdana, Arial;
	background-color: white;
	font-size: small;
}
.errorList
{
}
.errorMessage
{
	color: #993333;
}
.item
{
	border-right: black 1px solid;
	border-top: medium none;
	border-left: medium none;
	border-bottom: medium none;
}
input.errHilite, select.errHilite, textarea.errHilite 
{
	border: 1px solid #DDC;
	background-color: #FFE;
}
label.errHilite 
{
	color: #C00;
}
ul#errors 
{
	display: none;
	margin-top: 1em;
	background-color: #FFE;
	border: 1px solid #CC9;
	padding: .3em;
	color: #C00;
	font-weight: bold;
}	
ul#errors li 
{
	margin-top: .5em;
	margin-bottom: .5em;
	padding: 0;
}
ul#errors li.heading 
{
	list-style-type: none;
	color: #000;
	font-weight: normal;
	font-style: italic;
	margin: .5em 0;
	padding: 0;
}
