<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" dir="ltr">
  <head>
    <title>Petstore - Sample Castle application</title>
    <link rel="STYLESHEET" type="text/css" href="${siteRoot}/Content/css/site.css">
    $AjaxHelper.GetJavascriptFunctions()
    $Effects2Helper.GetJavascriptFunctions()
    $ValidationHelper.InstallScripts()
  </head>

<body>

<div id="container">
  <div id="header"> 
    <h1> <a href="/" title="Main Page">Castle Petstore</a> </h1>
  </div>

  <div id="links">
	<ul id="toplinks">
		<li><a href="#">my cart</a></li>
		<li><a href="#">account</a></li>
    </ul>
  </div>
  
  <div id="page">
#if($categories)
	<div id="categories">
		<div>
		<h3>Check our sections</h3>
		<ul>
		  <li><a href="${siteRoot}/Product/List.rails">All products</a></li>
#foreach($cat in $categories)
 #if($cat.IsRoot)
		  <li><a href="${siteRoot}/Product/ListByCategory.rails?category=${cat.Id}">$cat.Name ($cat.Products.Count)</a></li>
		<ul>
  #foreach($sub in $cat.SubCategories)
		  <li><a href="${siteRoot}/Product/ListByCategory.rails?category=${sub.Id}">$sub.Name ($sub.Products.Count)</a></li>
  #end
		</ul>
 #end
#end
		</ul>
		<br>
		</div>
	</div>
#end
		
	<div id="content"> 

      $childContent
	
	</div>
	
  </div>

</div>

</body>

</html>
