<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
  <link rel="STYLESHEET" type="text/css" href="${siteRoot}/Content/css/scaffold.css">
</head>

<body>

$childContent

<br/>

<hr noshade/>

<div style="text-align: center;">
  $HtmlHelper.LinkTo("Back to maintenance", "admin", "index")
</div>

</body>

</html>
