<div style="border: solid 1px black; width: 70%;">
<table width="100%" border="0" cellpadding="2" cellspacing="2">
<tr style="background-color: #C0C0C0;">
  <th>Id</th>
  <th>Desc</th>
  <th>&nbsp;</th>
</tr>
#foreach($item in $page)
<tr>
  <td align="center" width="25%">$item.Id</td>
  <td>$item</td>
  <td align="center" width="10%">
  <a href="../${name}/edit.rails?id=${item.Id}">Edit</a>
  <a href="../${name}/removeconfirm.rails?id=${item.Id}">Remove</a>
  </td>
</tr>
#end
<tr>
  <td colspan="1" style="border-top: solid 1px gray;">
  Showing $page.FirstItem - $page.LastItem of $page.TotalItems
  </td>
  <td colspan="2" align="right" style="border-top: solid 1px gray;">
#if($page.HasFirst) $PaginationHelper.CreatePageLink( 1, "first" ) #end
#if(!$page.HasFirst) first #end
#if($page.HasPrevious) | $PaginationHelper.CreatePageLink( $page.PreviousIndex, "prev" ) #end
#if(!$page.HasPrevious) | prev #end
#if($page.HasNext) | $PaginationHelper.CreatePageLink( $page.NextIndex, "next" ) #end
#if(!$page.HasNext) | next #end
#if($page.HasLast) | $PaginationHelper.CreatePageLink( $page.LastIndex, "last" ) #end
#if(!$page.HasLast) | last #end
  </td>
</tr>
</table>
</div>