<?xml version="1.0" encoding="utf-8"?>
<package xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<metadata xmlns="http://schemas.microsoft.com/packaging/2010/07/nuspec.xsd">
		<id>$(Id)</id>
		<version>$(Version)</version>
		<title>$(Title)</title>
		<authors>Castle Project Contributors</authors>
		<requireLicenseAcceptance>false</requireLicenseAcceptance>
		<description>$(Description)</description>
		<summary>$(Summary)</summary>
		<language>en-US</language>
		<projectUrl>http://www.castleproject.org/</projectUrl>
		<licenseUrl>http://www.apache.org/licenses/LICENSE-2.0.html</licenseUrl>
		<iconUrl>$(IconUrl)</iconUrl>
		<created>2010-9-18T7:55:33Z</created>
		<modified>$(Modified)</modified>
	</metadata>
</package>
