<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
		<title>Simple Form</title>
		<style type="text/css" media="screen">
body
{
	background-color: white;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: small;
}		
		</style>
	</head>
	<body>
	
	<h3>Simple Form</h3>
	
	<form action="PostMessage.rails" method="post">
	
	<table border="0" cellspacing="5" cellpadding="5">
	<tr>
		<td> <label for="name">Name:</label> </td>
		<td> <input type="text" name="name" id="name" value="John Doe" /> </td>
	</tr>
	<tr>
		<td> <label for="email">E-mail:</label> </td>
		<td> <input type="text" name="email" id="email"  size="50" value="johndoe@mailserver.net" /> </td>
	</tr>
	<tr>
		<td> <label for="age">Age:</label> </td>
		<td> <input type="text" name="age" id="age"  value="30" /> </td>
	</tr>
	<tr>
		<td> <label for="country">Country:</label> </td>
		<td> 
		<select name="countryCode" id="country">
			<option value="55">Brazil</option>
		</select>	
		 </td>
	</tr>
	</table>
	
	<hr noshade="" size="1" />
	
	<input type="submit" value="Send" />
	
	</form>
	



	<h3>Using Arrays - Approach 1</h3>

	<p>
	The first approach is to repeat form element names
	</p>

	<form action="PostMessages.rails" method="post">
	
	<table border="0" cellspacing="5" cellpadding="5">
#foreach($item in [1..5])
	<tr>
		<td> <label for="name_${item}">Name:</label> </td>
		<td> <input type="text" name="name" id="name_${item}" value="John Doe ${item}" /> </td>
	</tr>
#end
	</table>

	<hr noshade="" size="1" />
	
	<input type="submit" value="Send" />
	
	</form>



	<h3>Using Arrays - Approach 2</h3>

	<p>
	Here the form elements uses the indexed notation
	<tt>name[index]</tt> for example <tt>name[1]</tt>.
	</p>

	<form action="PostMessages.rails" method="post">
	
	<table border="0" cellspacing="5" cellpadding="5">
#foreach($item in [1..5])
	<tr>
		<td> <label for="name_${item}">Name:</label> </td>
		<td> <input type="text" name="name[${item}]" id="name_${item}" value="John Doe ${item}" /> </td>
	</tr>
#end
	</table>

	<hr noshade="" size="1" />
	
	<input type="submit" value="Send" />
	
	</form>
	
	</body>
</html>
