<?xml version="1.0"?>

<?define VsVersion = "dummy"?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

	<?include Includes.wxi?>

	<Product 
		UpgradeCode="$(var.UpgradeGuid)"
		Id="*"
		Name="$(var.ProductName)"
		Language="1033"
		Version="$(var.VersionNumber)"
		Manufacturer="$(var.PackageManufacturer)">

		<Package 
			Description="All Castle Binaries, documentation, samples and source code" 
			Comments="All Castle Binaries, documentation, samples and source code" 
			InstallerVersion="200" Compressed="yes" />

		<Condition Message="An administrator must approve or install [ProductName].">Privileged</Condition>

		<Property Id="VS2005_SCHEMAS_DIR">
			<?undef VsVersion?>
			<?define VsVersion = "8.0"?>
			<RegistrySearch Id="SearchForCommonDirPath2005" Root="HKLM" Key="SOFTWARE\Microsoft\VisualStudio\$(var.VsVersion)\Setup\VC#" Name="ProductDir" Type="raw">
				<DirectorySearch Id="SearchForProjectsPath2005" Path="CSharpProjects" Depth="1" />
			</RegistrySearch>
		</Property>

		<Property Id='FRAMEWORK20'>
			<RegistrySearch Id='Framework20Registry' Type='raw'
				Root='HKLM' Key='Software\Microsoft\.NETFramework\Policy\v2.0' Name='50727' />
		</Property>

		<Media Id="1" Cabinet="Content.cab" EmbedCab="yes" CompressionLevel="high" />

		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLLOCATION" Name="CastleProject">

					<Directory Id="ReleaseNotesDir" Name="ReleaseNotes"/>

					<Directory Id="BinDir" Name="Bin" />

					<Directory Id="DocsDir" Name="Docs" />

					<Directory Id="SourceCodeDir" Name="Source Code" />

					<Directory Id="SamplesDir" Name="Samples" />

					<Directory Id="WizardTemplatesDir" Name="Wizard Templates">
						<Directory Id="TemplatesVs7Dir" Name="VS7">
						</Directory>

						<Directory Id="TemplatesVs8Dir" Name="VS8">
						</Directory>
					</Directory>

				</Directory>
			</Directory>

			<Directory Id="ProgramMenuFolder" Name="Programs">
				<Directory Id="SHORTCUTDIR" Name="Castle Project">
					<Directory Id="CastleShortCutDIR" Name="Release Candidate 3">
					</Directory>
				</Directory>
			</Directory>

		</Directory>

		<!-- Features -->
		<Feature Id="Complete" Title="Castle" 
			Display="expand" Level="1" Description="Castle Project" 
			ConfigurableDirectory="INSTALLLOCATION">

			<Feature 
				Id='MainProgram' Title='Binaries' 
				Description='Castle assemblies and dependencies' Level='1'>

				<ComponentRef Id="ReleaseNotesRoot" />
				<ComponentRef Id="ReleaseNotesComps" />
				<ComponentRef Id="ReleaseNotesFacilities" />
				<ComponentRef Id="ReleaseNotesServices" />

				<ComponentRef Id="ProductComponent20" />
				<ComponentRef Id="ProductComponentDeps" />
				<ComponentGroupRef Id="ProductComponent20Resources"/>
			</Feature>

			<Feature 
				Id='Documentation' Title='Documentation' 
				Description='Castle documentation in chm format' Level='1'>

				<ComponentRef Id='DocsComp' />
			</Feature>

			<Feature 
				Id='SourceCode' Title='Source Code' 
				Description='A zip file with the source code' Level='1'>

				<ComponentRef Id='SourceComp' />
			</Feature>

			<Feature 
				Id='Samples' Title='Samples' 
				Description='Zip files with sample applications' Level='1'>

				<ComponentRef Id='samplescomp' />
			</Feature>

			<Feature 
				Id='VSWizards2005' Title='Visual Studio 2005 Wizards' 
				Description='Wizards for VS.Net 2005 that helps in creating new projects' Level='1'>

				<ComponentRef Id='vs2005addin' />
				<ComponentRef Id='vs8comp' />
				<ComponentRef Id='ARProject' />
				<ComponentRef Id='ARProjectTest' />
				<ComponentRef Id='MRProject' />
				<ComponentRef Id='MRProject_Config' />
				<ComponentRef Id='MRProject_Content_css' />
				<ComponentRef Id='MRProject_Content_images' />
				<ComponentRef Id='MRProject_Content_js' />
				<ComponentRef Id='MRProject_Controllers' />
				<ComponentRef Id='MRProject_Models' />
				<ComponentRef Id='MRProject_Properties' />
				<ComponentRef Id='MRProject_Views_contact' />
				<ComponentRef Id='MRProject_Views_Home' />
				<ComponentRef Id='MRProject_Views_layouts' />
				<ComponentRef Id='MRProject_Views_login' />
				<ComponentRef Id='MRProject_Views_rescues' />
				<ComponentRef Id='MRProject_ViewsPlaceHolder' />
				<ComponentRef Id='MRProject_ViewsPlaceHolder_contact' />
				<ComponentRef Id='MRProject_ViewsPlaceHolder_home' />
				<ComponentRef Id='MRProject_ViewsPlaceHolder_login' />
				<ComponentRef Id='MRProjectTest' />
				<ComponentRef Id='MRProjectTest_Controllers' />
			</Feature>

		</Feature>

		<UIRef Id="FragmentUI" />

		<AdminExecuteSequence />

		<InstallExecuteSequence>
			<!-- <RemoveExistingProducts After='InstallFinalize' /> -->
		</InstallExecuteSequence>

	</Product>
</Wix>
