<?xml version="1.0"?>

<?define VsVersion = "dummy"?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	
	<?include Includes.wxi?>

	<Product 
		UpgradeCode="$(var.UpgradeGuid)"
		Id="*"
		Name="$(var.ProductName)"
		Language="1033"
		Version="$(var.VersionNumber)"
		Manufacturer="$(var.PackageManufacturer)">
		
		<Package 
			Id="00489AF3-C92D-465C-82F2-7F6042D75E2B" 
			Description="All Castle Binaries, documentation, samples and source code" 
			Comments="All Castle Binaries, documentation, samples and source code" 
			InstallerVersion="200" Compressed="yes" />

		<Condition Message="An administrator must approve or install [ProductName].">Privileged</Condition>

		<Property Id="VS2003_SCHEMAS_DIR">
			<?undef VsVersion?>
			<?define VsVersion = "7.1"?>
			<RegistrySearch Id="SearchForCommonDirPath2003" Root="HKLM" Key="SOFTWARE\Microsoft\VisualStudio\$(var.VsVersion)\Setup\VC#" Name="ProductDir" Type="raw">
				<DirectorySearch Id="SearchForProjectsPath2003" Path="CSharpProjects" Depth="1" />
			</RegistrySearch>
		</Property>

		<Property Id="VS2005_SCHEMAS_DIR">
			<?undef VsVersion?>
			<?define VsVersion = "8.0"?>
			<RegistrySearch Id="SearchForCommonDirPath2005" Root="HKLM" Key="SOFTWARE\Microsoft\VisualStudio\$(var.VsVersion)\Setup\VC#" Name="ProductDir" Type="raw">
				<DirectorySearch Id="SearchForProjectsPath2005" Path="CSharpProjects" Depth="1" />
			</RegistrySearch>
		</Property>

		<Property Id='FRAMEWORK11'>
			<RegistrySearch Id='Framework11Registry' Type='raw'
				Root='HKLM' Key='Software\Microsoft\.NETFramework\Policy\v1.1' Name='4322' />
		</Property>

		<Property Id='FRAMEWORK20'>
			<RegistrySearch Id='Framework20Registry' Type='raw'
				Root='HKLM' Key='Software\Microsoft\.NETFramework\Policy\v2.0' Name='50727' />
		</Property>
	
		<Media Id="1" Cabinet="Content.cab" EmbedCab="yes" CompressionLevel="high" />

		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLLOCATION" Name="CastleProject">
					
					<Directory Id="ReleaseNotesDir" Name="ReleaseNotes"/>
					
					<Directory Id="BinDir" Name="Bin" />
					
					<Directory Id="DocsDir" Name="Docs" />
					
					<Directory Id="SourceCodeDir" Name="Source Code" />

					<Directory Id="SamplesDir" Name="Samples" />

					<Directory Id="WizardTemplatesDir" Name="Wizard Templates">
						<Directory Id="TemplatesVs7Dir" Name="VS7">
						</Directory>
						
						<Directory Id="TemplatesVs8Dir" Name="VS8">
						</Directory>
					</Directory>
					
				</Directory>
			</Directory>
			
			<!--
			<Directory Id="ProgramMenuFolder" SourceName="Programs">
				<Directory Id="shortcutrootfolder" Name="Castle Project">
					<Directory Id="documentationfolder" Name="Docs" />
				</Directory>
			</Directory>
			-->
		</Directory>
		
		<!-- Features -->
		<Feature Id="Complete" Title="Castle" 
			Display="expand" Level="1" Description="Castle Project" 
			ConfigurableDirectory="INSTALLLOCATION">
			
			<Feature 
				Id='MainProgram' Title='Binaries' 
				Description='Castle assemblies and dependencies' Level='1'>
				
				<ComponentRef Id="ReleaseNotesRoot" />
				<ComponentRef Id="ReleaseNotesComps" />
				<ComponentRef Id="ReleaseNotesFacilities" />
				<ComponentRef Id="ReleaseNotesServices" />
				
				<ComponentRef Id="ProductComponent11" />
				<ComponentRef Id="ProductComponent20" />
				<ComponentRef Id="ProductComponentGac1" />
				<ComponentRef Id="ProductComponentGac2" />
			</Feature>

			<!--
			<Feature 
				Id='Documentation' Title='Documentation' 
				Description='Castle documentation' Level='1'>
				
				<ComponentRef Id='DocsComp' />
			</Feature>
			-->

			<Feature 
				Id='SourceCode' Title='Source Code' 
				Description='A zip file with the source code' Level='1'>
				
				<ComponentRef Id='SourceComp' />
			</Feature>
			
			<Feature 
				Id='Samples' Title='Samples' 
				Description='Zip files with sample applications' Level='1'>
				
				<ComponentRef Id='samplescomp' />
			</Feature>

			<Feature 
				Id='VSWizards2003' Title='Visual Studio 2003 Wizards' 
				Description='Wizards for VS.Net 2003 that helps in creating new projects' Level='1'>

				<ComponentRef Id='vs2003addin' />
				<ComponentRef Id='vs7comp' />
				<ComponentRef Id='componentvs2003_ARProject' />
				<ComponentRef Id='componentvs2003_ARProjectTest' />
				<ComponentRef Id='componentvs2003_MRProject' />
				<ComponentRef Id='componentvs2003_MRProject1' />
				<ComponentRef Id='componentvs2003_MRProject2' />
				<ComponentRef Id='componentvs2003_MRProject3' />
				<ComponentRef Id='componentvs2003_MRProject4' />
				<ComponentRef Id='componentvs2003_MRProject5' />
				<ComponentRef Id='componentvs2003_MRProject6' />
				<ComponentRef Id='componentvs2003_MRProjectTest' />
			</Feature>

			<Feature 
				Id='VSWizards2005' Title='Visual Studio 2005 Wizards' 
				Description='Wizards for VS.Net 2005 that helps in creating new projects' Level='1'>
				
				<ComponentRef Id='vs2005addin' />
				<ComponentRef Id='vs8comp' />
				<ComponentRef Id='componentvs2005_ARProject' />
				<ComponentRef Id='componentvs2005_ARProjectTest' />
				<ComponentRef Id='componentvs2005_MRProject' />
				<ComponentRef Id='componentvs2005_MRProject1' />
				<ComponentRef Id='componentvs2005_MRProject2' />
				<ComponentRef Id='componentvs2005_MRProject3' />
				<ComponentRef Id='componentvs2005_MRProject4' />
				<ComponentRef Id='componentvs2005_MRProject5' />
				<ComponentRef Id='componentvs2005_MRProject6' />
				<ComponentRef Id='componentvs2005_MRProjectTest' />
			</Feature>

		</Feature>
		
		<!-- <UIRef Id="FragmentUI" /> -->

	    <FragmentRef Id='FragmentUI' /> 

		<AdminExecuteSequence />

		<InstallExecuteSequence>
			<!-- <RemoveExistingProducts After='InstallFinalize' /> -->
		</InstallExecuteSequence>
		
	</Product>
</Wix>
