<?xml version='1.0' encoding='windows-1252'?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

<?include Includes.wxi?>

<Fragment Id='FragmentReleaseNotes'>

<DirectoryRef Id="ReleaseNotesDir">
	<Component Id="ReleaseNotesRoot" DiskId="1" Guid="4D11F06F-3E7B-4DBF-B15A-73413AC192A9">

		<File 
			Id="relnote1" 
			Name="ActiveRecord Release Notes.txt" 
			Source="$(var.ReleaseNotesDir)\ActiveRecord Release Notes.txt" />
		<File 
			Id="relnote2" 
			Name="AspectSharp Release Notes.txt" 
			Source="$(var.ReleaseNotesDir)\AspectSharp Release Notes.txt" />
		<File 
			Id="relnote3" 
			Name="Core Release Notes.txt" 
			Source="$(var.ReleaseNotesDir)\Core Release Notes.txt" />
		<File 
			Id="relnote4" 
			Name="DynamicProxy Release Notes.txt" 
			Source="$(var.ReleaseNotesDir)\DynamicProxy Release Notes.txt" />
		<File 
			Id="relnote5" 
			Name="MonoRail Release Notes.txt" 
			Source="$(var.ReleaseNotesDir)\MonoRail Release Notes.txt" />
		<File 
			Id="relnote6" 
			Name="InversionOfControl Release Notes.txt" 
			Source="$(var.ReleaseNotesDir)\InversionOfControl Release Notes.txt" />

	</Component>
	
	<Directory Id="ComponentsDir" Name="Components">
	<Component Id="ReleaseNotesComps" DiskId="1" Guid="E54A749A-DAF0-41AE-879C-7F06501C4243">
	
		<File 
			Id="relnotecomps1" 
			Name="AssemblyResolverDialog Release Notes.txt" 
			Source="$(var.ReleaseNotesDir)\Components\AssemblyResolverDialog Release Notes.txt" />
		<File 
			Id="relnotecomps2" 
			Name="Binder Release Notes.txt" 
			Source="$(var.ReleaseNotesDir)\Components\Binder Release Notes.txt" />
		<File 
			Id="relnotecomps3" 
			Name="EmailSender Release Notes.txt" 
			Source="$(var.ReleaseNotesDir)\Components\EmailSender Release Notes.txt" />
		<File 
			Id="relnotecomps4" 
			Name="TemplateEngine Release Notes.txt" 
			Source="$(var.ReleaseNotesDir)\Components\TemplateEngine Release Notes.txt" />

	</Component>
	</Directory>
	
	<Directory Id="FacilitiesDir" Name="Facilities">
	<Component Id="ReleaseNotesFacilities" DiskId="1" Guid="EBB8ECB9-E281-4973-AAF5-F686F98EBD32">
	

		<File 
			Id="relnotefac1" 
			Name="ActiveRecordIntegration Release Notes.txt" 
			Source="$(var.ReleaseNotesDir)\Facilities\ActiveRecordIntegration Release Notes.txt" />
		<File 
			Id="relnotefac2" 
			Name="AspectSharp Release Notes.txt" 
			Source="$(var.ReleaseNotesDir)\Facilities\AspectSharp Release Notes.txt" />
		<File 
			Id="relnotefac3" 
			Name="AutomaticTransactionManagement Release Notes.txt" 
			Source="$(var.ReleaseNotesDir)\Facilities\AutomaticTransactionManagement Release Notes.txt" />
		<File 
			Id="relnotefac4" 
			Name="BatchRegistration Release Notes.txt" 
			Source="$(var.ReleaseNotesDir)\Facilities\BatchRegistration Release Notes.txt" />
		<File 
			Id="relnotefac5" 
			Name="Cache Release Notes.txt" 
			Source="$(var.ReleaseNotesDir)\Facilities\Cache Release Notes.txt" />
		<!--
		<File 
			Id="relnotefac6" 
			Name="Db4o Release Notes.txt" 
			Source="$(var.ReleaseNotesDir)\Facilities\Db4o Release Notes.txt" />
		-->
		<File 
			Id="relnotefac7" 
			Name="IBatisNet Release Notes.txt" 
			Source="$(var.ReleaseNotesDir)\Facilities\IBatisNet Release Notes.txt" />
		<File 
			Id="relnotefac8" 
			Name="Logging Release Notes.txt" 
			Source="$(var.ReleaseNotesDir)\Facilities\Logging Release Notes.txt" />
		<!--
		<File 
			Id="relnotefac9" 
			Name="ManagementExtensions Release Notes.txt" 
			Source="$(var.ReleaseNotesDir)\Facilities\ManagementExtensions Release Notes.txt" />
		-->
		<File 
			Id="relnotefac10" 
			Name="NHibernateIntegration Release Notes.txt" 
			Source="$(var.ReleaseNotesDir)\Facilities\NHibernateIntegration Release Notes.txt" />
		<File 
			Id="relnotefac11" 
			Name="Prevalence Release Notes.txt" 
			Source="$(var.ReleaseNotesDir)\Facilities\Prevalence Release Notes.txt" />
	
	</Component>
	</Directory>
	
	<Directory Id="ServicesDir" Name="Services">
	<Component Id="ReleaseNotesServices" DiskId="1" Guid="C3238736-E99C-494B-B05D-5B7F54B11DDA">

		<File 
			Id="relnoteserv1" 
			Name="Logging Release Notes.txt" 
			Source="$(var.ReleaseNotesDir)\Services\Logging Release Notes.txt" />
		<File 
			Id="relnoteserv2" 
			Name="TransactionMangement Release Notes.txt" 
			Source="$(var.ReleaseNotesDir)\Services\TransactionMangement Release Notes.txt" />

	</Component>
	</Directory>

</DirectoryRef>

</Fragment>
</Wix>
