<?xml version='1.0' encoding='windows-1252'?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

<?include Includes.wxi?>

<Fragment Id='FragmentSamples'>

<DirectoryRef Id="SamplesDir">
	<Component Id="samplescomp" DiskId="1" Guid="F6638FC5-BD66-49E8-8B84-13CD74227146">
		<File Id="sample0" Name="ActiveRecord-Samples.zip" Source="$(var.BuildBaseDir)\ActiveRecord-Samples.zip" />
		<File Id="sample1" Name="Castle-Samples.zip" Source="$(var.BuildBaseDir)\Castle-Samples.zip" />
		<File Id="sample2" Name="Facilities-Samples.zip" Source="$(var.BuildBaseDir)\Facilities-Samples.zip" />
		<File Id="sample3" Name="InversionOfControl-Samples.zip" Source="$(var.BuildBaseDir)\InversionOfControl-Samples.zip" />
		<File Id="sample4" Name="MonoRail-Samples.zip" Source="$(var.BuildBaseDir)\MonoRail-Samples.zip" />
	</Component>
</DirectoryRef>
		
</Fragment>
</Wix>
