<?xml version='1.0' encoding='windows-1252'?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

<?include Includes.wxi?>

<Fragment Id='FragmentSources'>

	<DirectoryRef Id="SourceCodeDir">
		<Component Id="SourceComp" DiskId="1" Guid="54844DCA-C0EF-47F2-8151-34A6AE16B1AE">
			<File Id="src0" Name="castle-sourcecode.zip" Source="$(var.BuildBaseDir)\castle-sourcecode.zip" />
		</Component>
	</DirectoryRef>

</Fragment>
</Wix>
