<?xml version='1.0' encoding='windows-1252'?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

	<?include Includes.wxi?>

	<Fragment Id='FragmentWizardVs2005'>

		<DirectoryRef Id="TemplatesVs8Dir">

			<Component
				Id="vs2005addin" DiskId="1"
				Guid="4C692497-C333-4C7F-9898-D9CC8EED20B2">

				<File Id="addinfile"
					Name="Castle.VSNetIntegration.CastleWizards.dll"
					Source="$(var.BuildNet20Dir)\Castle.VSNetIntegration.CastleWizards.dll" />

				<RegistryKey Root="HKCR" Key="Castle.MonoRailProjectWizardVS8" Action="createAndRemoveOnUninstall">
					<RegistryValue Value="Castle.VSNetIntegration.CastleWizards.MonoRailProjectWizard" Type="string" />
					<RegistryKey Key="CLSID">
						<RegistryValue Value="{9FF77D9F-E4FC-47EE-8E8B-0079FC2F2478}" Type="string" />
					</RegistryKey>
				</RegistryKey>
				<RegistryKey Id="registryvs8_4" Root="HKCR" Key="CLSID\{9FF77D9F-E4FC-47EE-8E8B-0079FC2F2478}" Action="createAndRemoveOnUninstall">
					<RegistryValue Value="Castle.VSNetIntegration.CastleWizards.MonoRailProjectWizard" Type="string" />
					<RegistryKey Key="Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" />
					<RegistryKey Key="ProgId">
						<RegistryValue Value="Castle.MonoRailProjectWizardVS8" Type="string" />
					</RegistryKey>
					<RegistryKey Key="InprocServer32">
						<RegistryValue Value="mscoree.dll" Type="string" />
						<RegistryValue Name="ThreadingModel" Value="Both" Type="string"  />
						<RegistryValue Name="Class" Value="Castle.VSNetIntegration.CastleWizards.MonoRailProjectWizard" Type="string" />
						<RegistryValue Name="Assembly" Value="Castle.VSNetIntegration.CastleWizards, Version=1.0.6.10, Culture=neutral, PublicKeyToken=407dd0808d44fbdc" Type="string" />
						<RegistryValue Name="RuntimeVersion" Value="v2.0.50727" Type="string" />
						<RegistryValue Name="CodeBase" Value="file://[TemplatesVs8Dir]Castle.VSNetIntegration.CastleWizards.dll" Type="string" />
						<RegistryKey Key="1.0.6.10">
							<RegistryValue Name="Class" Value="Castle.VSNetIntegration.CastleWizards.MonoRailProjectWizard" Type="string" />
							<RegistryValue Name="Assembly" Value="Castle.VSNetIntegration.CastleWizards, Version=1.0.6.10, Culture=neutral, PublicKeyToken=407dd0808d44fbdc" Type="string" />
							<RegistryValue Name="RuntimeVersion" Value="v2.0.50727" Type="string" />
							<RegistryValue Name="CodeBase" Value="file://[TemplatesVs8Dir]Castle.VSNetIntegration.CastleWizards.dll" Type="string" />
						</RegistryKey>
					</RegistryKey>
				</RegistryKey>

				<RegistryKey Id="registryvs8_0" Root="HKCR" Key="Castle.ActiveRecordModelProjectWizardVS8" Action="createAndRemoveOnUninstall">
					<RegistryValue Value="Castle.VSNetIntegration.CastleWizards.ActiveRecordModelProjectWizard" Type="string" />
					<RegistryKey Key="CLSID" Action="createAndRemoveOnUninstall">
						<RegistryValue Value="{1D90721C-B0AA-4F9A-BDE5-A588911E38B6}" Type="string" />
					</RegistryKey>
				</RegistryKey>
				<RegistryKey Id="registryvs8_17" Root="HKCR" Key="CLSID\{1D90721C-B0AA-4F9A-BDE5-A588911E38B6}" Action="createAndRemoveOnUninstall">
					<RegistryValue Value="Castle.VSNetIntegration.CastleWizards.ActiveRecordModelProjectWizard" Type="string" />
					<RegistryKey Key="Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}"  Action="createAndRemoveOnUninstall" />
					<RegistryKey Key="ProgId">
						<RegistryValue Value="Castle.ActiveRecordModelProjectWizardVS8" Type="string" />
					</RegistryKey>
					<RegistryKey Key="InprocServer32">
						<RegistryValue Value="mscoree.dll" Type="string" />
						<RegistryValue Name="ThreadingModel" Value="Both" Type="string" />
						<RegistryValue Name="Class" Value="Castle.VSNetIntegration.CastleWizards.ActiveRecordModelProjectWizard" Type="string" />
						<RegistryValue Name="Assembly" Value="Castle.VSNetIntegration.CastleWizards, Version=1.0.6.10, Culture=neutral, PublicKeyToken=407dd0808d44fbdc" Type="string" />
						<RegistryValue Name="RuntimeVersion" Value="v2.0.50727" Type="string" />
						<RegistryValue Name="CodeBase" Value="file://[TemplatesVs8Dir]Castle.VSNetIntegration.CastleWizards.dll" Type="string" />
						<RegistryKey Key="1.0.6.10">
							<RegistryValue Name="Class" Value="Castle.VSNetIntegration.CastleWizards.ActiveRecordModelProjectWizard" Type="string" />
							<RegistryValue Name="Assembly" Value="Castle.VSNetIntegration.CastleWizards, Version=1.0.6.10, Culture=neutral, PublicKeyToken=407dd0808d44fbdc" Type="string" />
							<RegistryValue Name="RuntimeVersion" Value="v2.0.50727" Type="string" />
							<RegistryValue Name="CodeBase" Value="file://[TemplatesVs8Dir]Castle.VSNetIntegration.CastleWizards.dll" Type="string" />
						</RegistryKey>
					</RegistryKey>
				</RegistryKey>

				<!--
				<RegistryKey Id="registryvs8_30" Key="Component Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Action="createAndRemoveOnUninstall">
					<RegistryValue Name="0" Value=".NET Category" Type="string" />
				</RegistryKey>
		-->
			</Component>

			<Component Id="vs8comp" DiskId="1" Guid="FC67BB99-726E-4EEA-8BCA-B24FC643771C">
				<Condition>VS2005_SCHEMAS_DIR</Condition>

				<RegistryKey Action="createAndRemoveOnUninstall" Root="HKLM" Key="SOFTWARE\Castle">
					<RegistryValue Action="write" Name="vs8templatelocation" Type="string" Value="[TemplatesVs8Dir]" />
				</RegistryKey>

				<File
					Id="vs8comp_Castle_ActiveRecord_Project.vsz"
					Name="Castle ActiveRecord Project.vsz"
					Source="$(var.WizardDir)\Castle ActiveRecord Project VS8.vsz">

					<CopyFile Id="cp_vs8comp_Castle_ActiveRecord_Project.vsz" DestinationProperty="VS2005_SCHEMAS_DIR" />
				</File>

				<File
					Id="vs8compCastle_ActiveRecord_Project.ico"
					Name="Castle ActiveRecord Project.ico"
					Source="$(var.WizardDir)\CastlePiecesIcon.ico">

					<CopyFile Id="cp_vs8compCastle_ActiveRecord_Project.ico" DestinationProperty="VS2005_SCHEMAS_DIR" />
				</File>

				<File
					Id="vs8compCastle_MonoRail_Project.vsz"
					Name="Castle MonoRail Project.vsz"
					Source="$(var.WizardDir)\Castle MonoRail Project VS8.vsz">

					<CopyFile Id="cp_vs8compCastle_MonoRail_Project.vsz" DestinationProperty="VS2005_SCHEMAS_DIR" />
				</File>

				<File
					Id="vs8compCastle_MonoRail_Project.ico"
					Name="Castle MonoRail Project.ico"
					Source="$(var.WizardDir)\CastlePiecesIcon.ico">

					<CopyFile Id="cp_vs8compCastle_MonoRail_Project.ico" DestinationProperty="VS2005_SCHEMAS_DIR" />
				</File>

			</Component>

			<Directory Id="dirCSharp8" Name="CSharp">
				<Directory Id="dirARProject" Name="ARProject">
					<Component Id="ARProject" DiskId="1" Guid="83339276-5E48-4F9D-93DF-81EE45D89848">
						<File Id="ARProject_ARProject.csproj" Name="ARProject.csproj" Source="$(var.VSTemplates80)\CSharp\ARProject\ARProject.csproj" />
						<File Id="ARProject_ARProject.sln" Name="ARProject.sln" Source="$(var.VSTemplates80)\CSharp\ARProject\ARProject.sln" />
						<File Id="ARProject_AssemblyInfo.cs" Name="AssemblyInfo.cs" Source="$(var.VSTemplates80)\CSharp\ARProject\AssemblyInfo.cs" />
						<File Id="ARProject_Readme.txt" Name="Readme.txt" Source="$(var.VSTemplates80)\CSharp\ARProject\Readme.txt" />
						<File Id="ARProject_Sample.cs" Name="Sample.cs" Source="$(var.VSTemplates80)\CSharp\ARProject\Sample.cs" />
					</Component>
				</Directory>
				<Directory Id="dirARProjectTest" Name="ARProjectTest">
					<Component Id="ARProjectTest" DiskId="1" Guid="007A3EA6-D596-4777-BF6F-EA2E5B96E2CD">
						<File Id="ARProjectTest_AbstractModelTestCase.cs" Name="AbstractModelTestCase.cs" Source="$(var.VSTemplates80)\CSharp\ARProjectTest\AbstractModelTestCase.cs" />
						<File Id="ARProjectTest_App.config" Name="App.config" Source="$(var.VSTemplates80)\CSharp\ARProjectTest\App.config" />
						<File Id="ARProjectTest_ARProjectTest.csproj" Name="ARProjectTest.csproj" Source="$(var.VSTemplates80)\CSharp\ARProjectTest\ARProjectTest.csproj" />
						<File Id="ARProjectTest_AssemblyInfo.cs" Name="AssemblyInfo.cs" Source="$(var.VSTemplates80)\CSharp\ARProjectTest\AssemblyInfo.cs" />
					</Component>
				</Directory>
				<Directory Id="dirMRProject" Name="MRProject">
					<Component Id="MRProject" DiskId="1" Guid="E50E8ADF-D5CB-4B47-9022-576142F70EDC">
						<File Id="MRProject_ContainerGlobalApplication.cs" Name="ContainerGlobalApplication.cs" Source="$(var.VSTemplates80)\CSharp\MRProject\ContainerGlobalApplication.cs" />
						<File Id="MRProject_default.aspx" Name="default.aspx" Source="$(var.VSTemplates80)\CSharp\MRProject\default.aspx" />
						<File Id="MRProject_global.asax" Name="global.asax" Source="$(var.VSTemplates80)\CSharp\MRProject\global.asax" />
						<File Id="MRProject_logging.config" Name="logging.config" Source="$(var.VSTemplates80)\CSharp\MRProject\logging.config" />
						<File Id="MRProject_MRProject.csproj" Name="MRProject.csproj" Source="$(var.VSTemplates80)\CSharp\MRProject\MRProject.csproj" />
						<File Id="MRProject_MRProject.sln" Name="MRProject.sln" Source="$(var.VSTemplates80)\CSharp\MRProject\MRProject.sln" />
						<File Id="MRProject_Readme.txt" Name="Readme.txt" Source="$(var.VSTemplates80)\CSharp\MRProject\Readme.txt" />
						<File Id="MRProject_SimpleGlobalApplication.cs" Name="SimpleGlobalApplication.cs" Source="$(var.VSTemplates80)\CSharp\MRProject\SimpleGlobalApplication.cs" />
						<File Id="MRProject_Web.config" Name="Web.config" Source="$(var.VSTemplates80)\CSharp\MRProject\Web.config" />
						<File Id="MRProject_rescue_default.aspx" Name="rescue_default.aspx" Source="$(var.VSTemplates80)\CSharp\MRProject\rescue_default.aspx" />
						<File Id="MRProject_rescue_default.brail" Name="rescue_default.brail" Source="$(var.VSTemplates80)\CSharp\MRProject\rescue_default.brail" />
						<File Id="MRProject_rescue_default.vm" Name="rescue_default.vm" Source="$(var.VSTemplates80)\CSharp\MRProject\rescue_default.vm" />
					</Component>
					<Directory Id="dirMRProject_Config" Name="Config">
						<Component Id="MRProject_Config" DiskId="1" Guid="06BDA376-6C82-4a58-803C-FA26997BCD4F">
							<File Id="MRProject_Config_components.config" Name="components.config" Source="$(var.VSTemplates80)\CSharp\MRProject\Config\components.config" />
							<File Id="MRProject_Config_controllers.config" Name="controllers.config" Source="$(var.VSTemplates80)\CSharp\MRProject\Config\controllers.config" />
							<File Id="MRProject_Config_facilities.config" Name="facilities.config" Source="$(var.VSTemplates80)\CSharp\MRProject\Config\facilities.config" />
							<File Id="MRProject_Config_properties.config" Name="properties.config" Source="$(var.VSTemplates80)\CSharp\MRProject\Config\properties.config" />
						</Component>
					</Directory>
					<Directory Id="dirMRProject_Content" Name="Content">
						<Directory Id="dirMRProject_Content_css" Name="css">
							<Component Id="MRProject_Content_css" DiskId="1" Guid="125029A4-3C92-4EB4-AB47-1E280507C38C">
								<File Id="MRProject_Content_css_style.css" Name="style.css" Source="$(var.VSTemplates80)\CSharp\MRProject\Content\css\style.css" />
							</Component>
						</Directory>
						<Directory Id="dirMRProject_Content_images" Name="images">
							<Component Id="MRProject_Content_images" DiskId="1" Guid="589DDD73-DCFA-4087-B0C1-FA0E8E1A24A9">
								<File Id="MRProject_Content_images_ar.jpg" Name="ar.jpg" Source="$(var.VSTemplates80)\CSharp\MRProject\Content\images\ar.jpg" />
								<File Id="MRProject_Content_images_mr.png" Name="mr.png" Source="$(var.VSTemplates80)\CSharp\MRProject\Content\images\mr.png" />
								<File Id="MRProject_Content_images_top_bar.jpg" Name="top_bar.jpg" Source="$(var.VSTemplates80)\CSharp\MRProject\Content\images\top_bar.jpg" />
								<File Id="MRProject_Content_images_windsor.jpg" Name="windsor.jpg" Source="$(var.VSTemplates80)\CSharp\MRProject\Content\images\windsor.jpg" />
							</Component>
						</Directory>
						<Directory Id="dirMRProject_Content_js" Name="js">
							<Component Id="MRProject_Content_js" DiskId="1" Guid="72F9BB91-EEED-466b-AFE2-EF0BBBBE0628">
								<File Id="MRProject_Content_js_behaviour.js" Name="behaviour.js" Source="$(var.VSTemplates80)\CSharp\MRProject\Content\js\behaviour.js" />
								<File Id="MRProject_Content_js_formhelper.js" Name="formhelper.js" Source="$(var.VSTemplates80)\CSharp\MRProject\Content\js\formhelper.js" />
								<File Id="MRProject_Content_js_prototype.js" Name="prototype.js" Source="$(var.VSTemplates80)\CSharp\MRProject\Content\js\prototype.js" />
								<File Id="MRProject_Content_js_scriptaculous.js" Name="scriptaculous.js" Source="$(var.VSTemplates80)\CSharp\MRProject\Content\js\scriptaculous.js" />
							</Component>
						</Directory>
					</Directory>
					<Directory Id="dirMRProject_Controllers" Name="Controllers">
						<Component Id="MRProject_Controllers" DiskId="1" Guid="2978313B-8887-4BD8-8280-CFB06E5B08A6">
							<File Id="MRProject_Controllers_BaseController.cs" Name="BaseController.cs" Source="$(var.VSTemplates80)\CSharp\MRProject\Controllers\BaseController.cs" />
							<File Id="MRProject_Controllers_ContactController.cs" Name="ContactController.cs" Source="$(var.VSTemplates80)\CSharp\MRProject\Controllers\ContactController.cs" />
							<File Id="MRProject_Controllers_HomeController.cs" Name="HomeController.cs" Source="$(var.VSTemplates80)\CSharp\MRProject\Controllers\HomeController.cs" />
							<File Id="MRProject_Controllers_LoginController.cs" Name="LoginController.cs" Source="$(var.VSTemplates80)\CSharp\MRProject\Controllers\LoginController.cs" />
						</Component>
					</Directory>
					<Directory Id="dirMRProject_Models" Name="Models">
						<Component Id="MRProject_Models" DiskId="1" Guid="B7418DEE-0729-4fff-96A3-890D6D3775C6">
							<File Id="MRProject_Models_ContactInfo.cs" Name="ContactInfo.cs" Source="$(var.VSTemplates80)\CSharp\MRProject\Models\ContactInfo.cs" />
							<File Id="MRProject_Models_Country.cs" Name="Country.cs" Source="$(var.VSTemplates80)\CSharp\MRProject\Models\Country.cs" />
						</Component>
					</Directory>
					<Directory Id="dirMRProject_Properties" Name="Properties">
						<Component Id="MRProject_Properties" DiskId="1" Guid="CB98F3C2-FCC2-403C-B6FE-EE200A3E7F95">
							<File Id="MRProject_Properties_AssemblyInfo.cs" Name="AssemblyInfo.cs" Source="$(var.VSTemplates80)\CSharp\MRProject\Properties\AssemblyInfo.cs" />
						</Component>
					</Directory>
					<Directory Id="dirMRProject_Views" Name="Views">
						<Directory Id="dirMRProject_Views_contact" Name="contact">
							<Component Id="MRProject_Views_contact" DiskId="1" Guid="4DF17880-09AE-489a-8964-024AC9594B3E">
								<File Id="MRProject_Views_contact_empty.text" Name="empty.txt" Source="$(var.VSTemplates80)\CSharp\MRProject\Views\contact\empty.txt" />
							</Component>
						</Directory>
						<Directory Id="dirMRProject_Views_Home" Name="Home">
							<Component Id="MRProject_Views_Home" DiskId="1" Guid="2DC6C695-42C5-437B-BCFF-D3A945821A3C">
								<File Id="MRProject_Views_Home_empty.text" Name="empty.txt" Source="$(var.VSTemplates80)\CSharp\MRProject\Views\Home\empty.txt" />
							</Component>
						</Directory>
						<Directory Id="dirMRProject_Views_layouts" Name="layouts">
							<Component Id="MRProject_Views_layouts" DiskId="1" Guid="78C36AF9-354D-40f4-B4F0-0AF6306A5DED">
								<File Id="MRProject_Views_layouts_empty.text" Name="empty.txt" Source="$(var.VSTemplates80)\CSharp\MRProject\Views\layouts\empty.txt" />
							</Component>
						</Directory>
						<Directory Id="dirMRProject_Views_login" Name="login">
							<Component Id="MRProject_Views_login" DiskId="1" Guid="7B375A08-B37A-4041-A350-DD3C7865E765">
								<File Id="MRProject_Views_login_empty.text" Name="empty.txt" Source="$(var.VSTemplates80)\CSharp\MRProject\Views\login\empty.txt" />
							</Component>
						</Directory>
						<Directory Id="dirMRProject_Views_rescues" Name="rescues">
							<Component Id="MRProject_Views_rescues" DiskId="1" Guid="FEE7DB60-4CD9-4722-9AEA-B69941235D0D">
								<File Id="MRProject_Views_rescues_empty.txt" Name="empty.txt" Source="$(var.VSTemplates80)\CSharp\MRProject\Views\rescues\empty.txt" />
							</Component>
						</Directory>
					</Directory>
					<Directory Id="dirMRProject_ViewsPlaceHolder" Name="ViewsPlaceHolder">
						<Component Id="MRProject_ViewsPlaceHolder" DiskId="1" Guid="4FC1C962-3875-4cc3-A9E6-90A05C1D43B5">
							<File Id="MRProject_ViewsPlaceHolder_layout_default.aspx" Name="layout_default.aspx" Source="$(var.VSTemplates80)\CSharp\MRProject\ViewsPlaceHolder\layout_default.aspx" />
							<File Id="MRProject_ViewsPlaceHolder_layout_default.brail" Name="layout_default.brail" Source="$(var.VSTemplates80)\CSharp\MRProject\ViewsPlaceHolder\layout_default.brail" />
							<File Id="MRProject_ViewsPlaceHolder_layout_default.vm" Name="layout_default.vm" Source="$(var.VSTemplates80)\CSharp\MRProject\ViewsPlaceHolder\layout_default.vm" />
						</Component>
						<Directory Id="dirMRProject_ViewsPlaceHolder_contact" Name="contact">
							<Component Id="MRProject_ViewsPlaceHolder_contact" DiskId="1" Guid="B3221B3C-898C-4ef5-9883-A44FDEFD0B5C">
								<File Id="MRProject_ViewsPlaceHolder_contact_index.aspx" Name="index.aspx" Source="$(var.VSTemplates80)\CSharp\MRProject\ViewsPlaceHolder\contact\index.aspx" />
								<File Id="MRProject_ViewsPlaceHolder_contact_index.brail" Name="index.brail" Source="$(var.VSTemplates80)\CSharp\MRProject\ViewsPlaceHolder\contact\index.brail" />
								<File Id="MRProject_ViewsPlaceHolder_contact_index.vm" Name="index.vm" Source="$(var.VSTemplates80)\CSharp\MRProject\ViewsPlaceHolder\contact\index.vm" />
								<File Id="MRProject_ViewsPlaceHolder_contact_confirmation.vm" Name="confirmation.vm" Source="$(var.VSTemplates80)\CSharp\MRProject\ViewsPlaceHolder\contact\confirmation.vm" />
								<File Id="MRProject_ViewsPlaceHolder_contact_confirmation.brail" Name="confirmation.brail" Source="$(var.VSTemplates80)\CSharp\MRProject\ViewsPlaceHolder\contact\confirmation.brail" />
							</Component>
						</Directory>
						<Directory Id="dirMRProject_ViewsPlaceHolder_home" Name="home">
							<Component Id="MRProject_ViewsPlaceHolder_home" DiskId="1" Guid="4ED1235E-C12A-43f3-AD8E-17B240514669">
								<File Id="MRProject_ViewsPlaceHolder_home_index.aspx" Name="index.aspx" Source="$(var.VSTemplates80)\CSharp\MRProject\ViewsPlaceHolder\home\index.aspx" />
								<File Id="MRProject_ViewsPlaceHolder_home_index.brail" Name="index.brail" Source="$(var.VSTemplates80)\CSharp\MRProject\ViewsPlaceHolder\home\index.brail" />
								<File Id="MRProject_ViewsPlaceHolder_home_index.vm" Name="index.vm" Source="$(var.VSTemplates80)\CSharp\MRProject\ViewsPlaceHolder\home\index.vm" />
							</Component>
						</Directory>
						<Directory Id="dirMRProject_ViewsPlaceHolder_login" Name="login">
							<Component Id="MRProject_ViewsPlaceHolder_login" DiskId="1" Guid="F45FFF04-81A8-49df-B4E4-1FBD75A5B95C">
								<File Id="MRProject_ViewsPlaceHolder_login_index.aspx" Name="index.aspx" Source="$(var.VSTemplates80)\CSharp\MRProject\ViewsPlaceHolder\login\index.aspx" />
								<File Id="MRProject_ViewsPlaceHolder_login_index.brail" Name="index.brail" Source="$(var.VSTemplates80)\CSharp\MRProject\ViewsPlaceHolder\login\index.brail" />
								<File Id="MRProject_ViewsPlaceHolder_login_index.vm" Name="index.vm" Source="$(var.VSTemplates80)\CSharp\MRProject\ViewsPlaceHolder\login\index.vm" />
								<File Id="MRProject_ViewsPlaceHolder_login_Authenticate.aspx" Name="Authenticate.aspx" Source="$(var.VSTemplates80)\CSharp\MRProject\ViewsPlaceHolder\login\Authenticate.aspx" />
								<File Id="MRProject_ViewsPlaceHolder_login_Authenticate.brail" Name="Authenticate.brail" Source="$(var.VSTemplates80)\CSharp\MRProject\ViewsPlaceHolder\login\Authenticate.brail" />
								<File Id="MRProject_ViewsPlaceHolder_login_Authenticate.vm" Name="Authenticate.vm" Source="$(var.VSTemplates80)\CSharp\MRProject\ViewsPlaceHolder\login\Authenticate.vm" />
							</Component>
						</Directory>
					</Directory>
				</Directory>
				<Directory Id="directoryvs8_99" Name="MRProjectTest">
					<Component Id="MRProjectTest" DiskId="1" Guid="89677F0B-CF5A-4FA1-84D0-96A56CEE654F">
						<File Id="MRProjectTest_AssemblyInfo.cs" Name="AssemblyInfo.cs" Source="$(var.VSTemplates80)\CSharp\MRProjectTest\AssemblyInfo.cs" />
						<File Id="MRProjectTest_MRProjectTest.csproj" Name="MRProjectTest.csproj" Source="$(var.VSTemplates80)\CSharp\MRProjectTest\MRProjectTest.csproj" />
					</Component>
					<Directory Id="dirMRProjectTest_Controllers" Name="Controllers">
						<Component Id="MRProjectTest_Controllers" DiskId="1" Guid="C99E10D4-8596-4ef3-8D7C-B8D41D8CF066">
							<File Id="MRProjectTest_Controllers_ContactControllerTestCase.cs" Name="ContactControllerTestCase.cs" Source="$(var.VSTemplates80)\CSharp\MRProjectTest\Controllers\ContactControllerTestCase.cs" />
							<File Id="MRProjectTest_Controllers_HomeControllerTestCase.cs" Name="HomeControllerTestCase.cs" Source="$(var.VSTemplates80)\CSharp\MRProjectTest\Controllers\HomeControllerTestCase.cs" />
							<File Id="MRProjectTest_Controllers_LoginControllerTestCase.cs" Name="LoginControllerTestCase.cs" Source="$(var.VSTemplates80)\CSharp\MRProjectTest\Controllers\LoginControllerTestCase.cs" />
						</Component>
					</Directory>
				</Directory>
			</Directory>

		</DirectoryRef>

	</Fragment>
</Wix>


