<?xml version='1.0' encoding='windows-1252'?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

	<?include Includes.wxi?>

	<Fragment Id='FragmentWizardVs2005'>

		<DirectoryRef Id="TemplatesVs8Dir">

			<Component
				Id="vs2005addin" DiskId="1"
				Guid="4C692497-C333-4C7F-9898-D9CC8EED20B2">

				<File Id="addinfile"
					Name="Castle.VSNetIntegration.CastleWizards.dll"
					Source="$(var.BuildNet20Dir)\Castle.VSNetIntegration.CastleWizards.dll" />

				<RegistryKey Root="HKCR" Key="Castle.MonoRailProjectWizardVS8" Action="createAndRemoveOnUninstall">
					<RegistryValue Value="Castle.VSNetIntegration.CastleWizards.MonoRailProjectWizard" Type="string" />
					<RegistryKey Key="CLSID">
						<RegistryValue Value="{9FF77D9F-E4FC-47EE-8E8B-0079FC2F2478}" Type="string" />
					</RegistryKey>
				</RegistryKey>
				<RegistryKey Id="registryvs8_4" Root="HKCR" Key="CLSID\{9FF77D9F-E4FC-47EE-8E8B-0079FC2F2478}" Action="createAndRemoveOnUninstall">
					<RegistryValue Value="Castle.VSNetIntegration.CastleWizards.MonoRailProjectWizard" Type="string" />
					<RegistryKey Key="Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" />
					<RegistryKey Key="ProgId">
						<RegistryValue Value="Castle.MonoRailProjectWizardVS8" Type="string" />
					</RegistryKey>
					<RegistryKey Key="InprocServer32">
						<RegistryValue Value="mscoree.dll" Type="string" />
						<RegistryValue Name="ThreadingModel" Value="Both" Type="string"  />
						<RegistryValue Name="Class" Value="Castle.VSNetIntegration.CastleWizards.MonoRailProjectWizard" Type="string" />
						<RegistryValue Name="Assembly" Value="Castle.VSNetIntegration.CastleWizards, Version=1.0.6.0, Culture=neutral, PublicKeyToken=407dd0808d44fbdc" Type="string" />
						<RegistryValue Name="RuntimeVersion" Value="v2.0.50727" Type="string" />
						<RegistryValue Name="CodeBase" Value="file://[TemplatesVs8Dir]Castle.VSNetIntegration.CastleWizards.dll" Type="string" />
						<RegistryKey Key="1.0.6.0">
							<RegistryValue Name="Class" Value="Castle.VSNetIntegration.CastleWizards.MonoRailProjectWizard" Type="string" />
							<RegistryValue Name="Assembly" Value="Castle.VSNetIntegration.CastleWizards, Version=1.0.6.0, Culture=neutral, PublicKeyToken=407dd0808d44fbdc" Type="string" />
							<RegistryValue Name="RuntimeVersion" Value="v2.0.50727" Type="string" />
							<RegistryValue Name="CodeBase" Value="file://[TemplatesVs8Dir]Castle.VSNetIntegration.CastleWizards.dll" Type="string" />
						</RegistryKey>
					</RegistryKey>
				</RegistryKey>

				<RegistryKey Id="registryvs8_0" Root="HKCR" Key="Castle.ActiveRecordModelProjectWizardVS8" Action="createAndRemoveOnUninstall">
					<RegistryValue Value="Castle.VSNetIntegration.CastleWizards.ActiveRecordModelProjectWizard" Type="string" />
					<RegistryKey Key="CLSID" Action="createAndRemoveOnUninstall">
						<RegistryValue Value="{1D90721C-B0AA-4F9A-BDE5-A588911E38B6}" Type="string" />
					</RegistryKey>
				</RegistryKey>
				<RegistryKey Id="registryvs8_17" Root="HKCR" Key="CLSID\{1D90721C-B0AA-4F9A-BDE5-A588911E38B6}" Action="createAndRemoveOnUninstall">
					<RegistryValue Value="Castle.VSNetIntegration.CastleWizards.ActiveRecordModelProjectWizard" Type="string" />
					<RegistryKey Key="Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}"  Action="createAndRemoveOnUninstall" />
					<RegistryKey Key="ProgId">
						<RegistryValue Value="Castle.ActiveRecordModelProjectWizardVS8" Type="string" />
					</RegistryKey>
					<RegistryKey Key="InprocServer32">
						<RegistryValue Value="mscoree.dll" Type="string" />
						<RegistryValue Name="ThreadingModel" Value="Both" Type="string" />
						<RegistryValue Name="Class" Value="Castle.VSNetIntegration.CastleWizards.ActiveRecordModelProjectWizard" Type="string" />
						<RegistryValue Name="Assembly" Value="Castle.VSNetIntegration.CastleWizards, Version=1.0.6.0, Culture=neutral, PublicKeyToken=407dd0808d44fbdc" Type="string" />
						<RegistryValue Name="RuntimeVersion" Value="v2.0.50727" Type="string" />
						<RegistryValue Name="CodeBase" Value="file://[TemplatesVs8Dir]Castle.VSNetIntegration.CastleWizards.dll" Type="string" />
						<RegistryKey Key="1.0.6.0">
							<RegistryValue Name="Class" Value="Castle.VSNetIntegration.CastleWizards.ActiveRecordModelProjectWizard" Type="string" />
							<RegistryValue Name="Assembly" Value="Castle.VSNetIntegration.CastleWizards, Version=1.0.6.0, Culture=neutral, PublicKeyToken=407dd0808d44fbdc" Type="string" />
							<RegistryValue Name="RuntimeVersion" Value="v2.0.50727" Type="string" />
							<RegistryValue Name="CodeBase" Value="file://[TemplatesVs8Dir]Castle.VSNetIntegration.CastleWizards.dll" Type="string" />
						</RegistryKey>
					</RegistryKey>
				</RegistryKey>

				<!--
				<RegistryKey Id="registryvs8_30" Key="Component Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Action="createAndRemoveOnUninstall">
					<RegistryValue Name="0" Value=".NET Category" Type="string" />
				</RegistryKey>
		-->
			</Component>

			<Component Id="vs8comp" DiskId="1" Guid="FC67BB99-726E-4EEA-8BCA-B24FC643771C">
				<Condition>VS2005_SCHEMAS_DIR</Condition>

				<RegistryKey Action="createAndRemoveOnUninstall" Root="HKLM" Key="SOFTWARE\Castle">
					<RegistryValue Action="write" Name="vs8templatelocation" Type="string" Value="[TemplatesVs8Dir]" />
				</RegistryKey>

				<File
					Id="vs8file0"
					Name="Castle ActiveRecord Project.vsz"
					Source="$(var.WizardDir)\Castle ActiveRecord Project VS8.vsz">

					<CopyFile Id="vs8file0cp" DestinationProperty="VS2005_SCHEMAS_DIR" />
				</File>

				<File
					Id="vs8file0a"
					Name="Castle ActiveRecord Project.ico"
					Source="$(var.WizardDir)\CastlePiecesIcon.ico">

					<CopyFile Id="vs8file0cpa" DestinationProperty="VS2005_SCHEMAS_DIR" />
				</File>

				<File
					Id="vs8file1"
					Name="Castle MonoRail Project.vsz"
					Source="$(var.WizardDir)\Castle MonoRail Project VS8.vsz">

					<CopyFile Id="vs8file1cp" DestinationProperty="VS2005_SCHEMAS_DIR" />
				</File>

				<File
					Id="vs8file1a"
					Name="Castle MonoRail Project.ico"
					Source="$(var.WizardDir)\CastlePiecesIcon.ico">

					<CopyFile Id="vs8file1cpa" DestinationProperty="VS2005_SCHEMAS_DIR" />
				</File>

			</Component>

			<Directory Id="CSharp8" Name="CSharp">
				<Directory Id="directoryvs8_18" Name="ARProject">
					<Component Id="componentvs2005_ARProject" DiskId="1" Guid="83339276-5E48-4F9D-93DF-81EE45D89848">
						<File Id="filecs8_6" Name="ARProject.csproj" Source="$(var.VSTemplates80)\CSharp\ARProject\ARProject.csproj" />
						<File Id="filecs8_7" Name="ARProject.sln" Source="$(var.VSTemplates80)\CSharp\ARProject\ARProject.sln" />
						<File Id="filecs8_8" Name="AssemblyInfo.cs" Source="$(var.VSTemplates80)\CSharp\ARProject\AssemblyInfo.cs" />
						<File Id="filecs8_9" Name="Readme.txt" Source="$(var.VSTemplates80)\CSharp\ARProject\Readme.txt" />
						<File Id="filecs8_10" Name="Sample.cs" Source="$(var.VSTemplates80)\CSharp\ARProject\Sample.cs" />
					</Component>
				</Directory>
				<Directory Id="directoryvs8_27" Name="ARProjectTest">
					<Component Id="componentvs2005_ARProjectTest" DiskId="1" Guid="007A3EA6-D596-4777-BF6F-EA2E5B96E2CD">
						<File Id="filecs8_19" Name="AbstractModelTestCase.cs" Source="$(var.VSTemplates80)\CSharp\ARProjectTest\AbstractModelTestCase.cs" />
						<File Id="filecs8_20" Name="App.config" Source="$(var.VSTemplates80)\CSharp\ARProjectTest\App.config" />
						<File Id="filecs8_21" Name="ARProjectTest.csproj" Source="$(var.VSTemplates80)\CSharp\ARProjectTest\ARProjectTest.csproj" />
						<File Id="filecs8_22" Name="AssemblyInfo.cs" Source="$(var.VSTemplates80)\CSharp\ARProjectTest\AssemblyInfo.cs" />
					</Component>
				</Directory>
				<Directory Id="directoryvs8_36" Name="MRProject">
					<Component Id="componentvs2005_MRProject" DiskId="1" Guid="E50E8ADF-D5CB-4B47-9022-576142F70EDC">
						<File Id="filecs8_32" Name="ContainerGlobalApplication.cs" Source="$(var.VSTemplates80)\CSharp\MRProject\ContainerGlobalApplication.cs" />
						<File Id="filecs8_34" Name="default.aspx" Source="$(var.VSTemplates80)\CSharp\MRProject\default.aspx" />
						<File Id="filecs8_36" Name="global.asax" Source="$(var.VSTemplates80)\CSharp\MRProject\global.asax" />
						<File Id="filecs8_40" Name="logging.config" Source="$(var.VSTemplates80)\CSharp\MRProject\logging.config" />
						<File Id="filecs8_41" Name="MRProject.csproj" Source="$(var.VSTemplates80)\CSharp\MRProject\MRProject.csproj" />
						<File Id="filecs8_42" Name="MRProject.sln" Source="$(var.VSTemplates80)\CSharp\MRProject\MRProject.sln" />
						<File Id="filecs8_44" Name="Readme.txt" Source="$(var.VSTemplates80)\CSharp\MRProject\Readme.txt" />
						<File Id="filecs8_45" Name="SimpleGlobalApplication.cs" Source="$(var.VSTemplates80)\CSharp\MRProject\SimpleGlobalApplication.cs" />
						<File Id="filecs8_46" Name="Web.config" Source="$(var.VSTemplates80)\CSharp\MRProject\Web.config" />
						<File Id="filecs8_51" Name="rescue_default.aspx" Source="$(var.VSTemplates80)\CSharp\MRProject\rescue_default.aspx" />
						<File Id="filecs8_52" Name="rescue_default.brail" Source="$(var.VSTemplates80)\CSharp\MRProject\rescue_default.brail" />
						<File Id="filecs8_53" Name="rescue_default.vm" Source="$(var.VSTemplates80)\CSharp\MRProject\rescue_default.vm" />
					</Component>
					<Directory Id="directoryvs8_36_Config" Name="Config">
						<Component Id="componentvs2005_MRProject_Config" DiskId="1" Guid="06BDA376-6C82-4a58-803C-FA26997BCD4F">
							<File Id="filecs8_31" Name="components.config" Source="$(var.VSTemplates80)\CSharp\MRProject\Config\components.config" />
							<File Id="filecs8_33" Name="controllers.config" Source="$(var.VSTemplates80)\CSharp\MRProject\Config\controllers.config" />
							<File Id="filecs8_35" Name="facilities.config" Source="$(var.VSTemplates80)\CSharp\MRProject\Config\facilities.config" />
							<File Id="filecs8_43" Name="properties.config" Source="$(var.VSTemplates80)\CSharp\MRProject\Config\properties.config" />
						</Component>
					</Directory>
					<Directory Id="directoryvs8_73" Name="Properties">
						<Component Id="componentvs2005_MRProject7" DiskId="1" Guid="CB98F3C2-FCC2-403C-B6FE-EE200A3E7F95">
							<File Id="filecs8_86" Name="AssemblyInfo.cs" Source="$(var.VSTemplates80)\CSharp\MRProject\Properties\AssemblyInfo.cs" />
						</Component>
					</Directory>
					<Directory Id="directoryvs8_72" Name="Controllers">
						<Component Id="componentvs2005_MRProject1" DiskId="1" Guid="2978313B-8887-4BD8-8280-CFB06E5B08A6">
							<File Id="MRProject.Controllers.BaseController.cs" Name="BaseController.cs" Source="$(var.VSTemplates80)\CSharp\MRProject\Controllers\BaseController.cs" />
							<File Id="MRProject.Controllers.ContactController.cs" Name="ContactController.cs" Source="$(var.VSTemplates80)\CSharp\MRProject\Controllers\ContactController.cs" />
							<File Id="MRProject.Controllers.HomeController.cs" Name="HomeController.cs" Source="$(var.VSTemplates80)\CSharp\MRProject\Controllers\HomeController.cs" />
							<File Id="MRProject.Controllers.LoginController.cs" Name="LoginController.cs" Source="$(var.VSTemplates80)\CSharp\MRProject\Controllers\LoginController.cs" />
						</Component>
					</Directory>
					<Directory Id="directoryvs8_74" Name="Models">
						<Component Id="MRProject.Models" DiskId="1" Guid="B7418DEE-0729-4fff-96A3-890D6D3775C6">
							<File Id="MRProject.Models.ContactInfo.cs" Name="ContactInfo.cs" Source="$(var.VSTemplates80)\CSharp\MRProject\Models\ContactInfo.cs" />
							<File Id="MRProject.Models.Country.cs" Name="Country.cs" Source="$(var.VSTemplates80)\CSharp\MRProject\Models\Country.cs" />
						</Component>
					</Directory>
					<Directory Id="directoryvs8_81" Name="Views">
						<Directory Id="directoryvs8_90" Name="Home">
							<Component Id="componentvs2005_MRProject2" DiskId="1" Guid="2DC6C695-42C5-437B-BCFF-D3A945821A3C">
								<File Id="Views.Home.empty.text" Name="empty.txt" Source="$(var.VSTemplates80)\CSharp\MRProject\Views\Home\empty.txt" />
							</Component>
						</Directory>
						<Directory Id="directoryvs8_91" Name="rescues">
							<Component Id="componentvs2005_MRProject5" DiskId="1" Guid="FEE7DB60-4CD9-4722-9AEA-B69941235D0D">
								<File Id="filecs8_78" Name="empty.txt" Source="$(var.VSTemplates80)\CSharp\MRProject\Views\rescues\empty.txt" />
							</Component>
						</Directory>
						<Directory Id="directoryvs8_92" Name="layouts">
							<Component Id="componentvs2005_MRProject6" DiskId="1" Guid="0462E327-D99B-4922-B243-5C7AE8D83C5F">
								<File Id="filecs8_79" Name="empty.txt" Source="$(var.VSTemplates80)\CSharp\MRProject\Views\layouts\empty.txt" />
							</Component>
						</Directory>
					</Directory>
					<Directory Id="directoryvs8_82" Name="Content">
						<Directory Id="directoryvs8_83" Name="css">
							<Component Id="componentvs2005_MRProject3" DiskId="1" Guid="125029A4-3C92-4EB4-AB47-1E280507C38C">
								<File Id="style.css" Name="style.css" Source="$(var.VSTemplates80)\CSharp\MRProject\Content\css\style.css" />
							</Component>
						</Directory>
						<Directory Id="directoryvs8_84" Name="images">
							<Component Id="componentvs2005_MRProject4" DiskId="1" Guid="589DDD73-DCFA-4087-B0C1-FA0E8E1A24A9">
								<File Id="ar.jpg" Name="ar.jpg" Source="$(var.VSTemplates80)\CSharp\MRProject\Content\images\ar.jpg" />
								<File Id="mr.png" Name="mr.png" Source="$(var.VSTemplates80)\CSharp\MRProject\Content\images\mr.png" />
								<File Id="top_bar.jpg" Name="top_bar.jpg" Source="$(var.VSTemplates80)\CSharp\MRProject\Content\images\top_bar.jpg" />
								<File Id="windsor.jpg" Name="windsor.jpg" Source="$(var.VSTemplates80)\CSharp\MRProject\Content\images\windsor.jpg" />
							</Component>
						</Directory>
					</Directory>
					<Directory Id="MRProject.ViewsPlaceHolder" Name="ViewsPlaceHolder">
						<Component Id="componentMRProject.ViewsPlaceHolder" DiskId="1" Guid="4FC1C962-3875-4cc3-A9E6-90A05C1D43B5">
							<File Id="filecs8_48" Name="layout_default.aspx" Source="$(var.VSTemplates80)\CSharp\MRProject\ViewsPlaceHolder\layout_default.aspx" />
							<File Id="filecs8_49" Name="layout_default.brail" Source="$(var.VSTemplates80)\CSharp\MRProject\ViewsPlaceHolder\layout_default.brail" />
							<File Id="filecs8_50" Name="layout_default.vm" Source="$(var.VSTemplates80)\CSharp\MRProject\ViewsPlaceHolder\layout_default.vm" />
						</Component>
						<Directory Id="MRProject.ViewsPlaceHolder.contact" Name="contact">
							<Component Id="componentMRProject.ViewsPlaceHolder.contact" DiskId="1" Guid="B3221B3C-898C-4ef5-9883-A44FDEFD0B5C">
								<File Id="MRProject.ViewsPlaceHolder.contact.index.aspx" Name="index.aspx" Source="$(var.VSTemplates80)\CSharp\MRProject\ViewsPlaceHolder\contact\index.aspx" />
								<File Id="MRProject.ViewsPlaceHolder.contact.index.brail" Name="index.brail" Source="$(var.VSTemplates80)\CSharp\MRProject\ViewsPlaceHolder\contact\index.brail" />
								<File Id="MRProject.ViewsPlaceHolder.contact.index.vm" Name="index.vm" Source="$(var.VSTemplates80)\CSharp\MRProject\ViewsPlaceHolder\contact\index.vm" />
								<File Id="MRProject.ViewsPlaceHolder.contact.confirmation.vm" Name="confirmation.vm" Source="$(var.VSTemplates80)\CSharp\MRProject\ViewsPlaceHolder\contact\confirmation.vm" />
								<File Id="MRProject.ViewsPlaceHolder.contact.confirmation.brail" Name="confirmation.brail" Source="$(var.VSTemplates80)\CSharp\MRProject\ViewsPlaceHolder\contact\confirmation.brail" />
							</Component>
						</Directory>
						<Directory Id="MRProject.ViewsPlaceHolder.home" Name="home">
							<Component Id="componentMRProject.ViewsPlaceHolder.home" DiskId="1" Guid="4ED1235E-C12A-43f3-AD8E-17B240514669">
								<File Id="MRProject.ViewsPlaceHolder.home.index.aspx" Name="index.aspx" Source="$(var.VSTemplates80)\CSharp\MRProject\ViewsPlaceHolder\home\index.aspx" />
								<File Id="MRProject.ViewsPlaceHolder.home.index.brail" Name="index.brail" Source="$(var.VSTemplates80)\CSharp\MRProject\ViewsPlaceHolder\home\index.brail" />
								<File Id="MRProject.ViewsPlaceHolder.home.index.vm" Name="index.vm" Source="$(var.VSTemplates80)\CSharp\MRProject\ViewsPlaceHolder\home\index.vm" />
							</Component>
						</Directory>
						<Directory Id="MRProject.ViewsPlaceHolder.login" Name="login">
							<Component Id="componentMRProject.ViewsPlaceHolder.login" DiskId="1" Guid="F45FFF04-81A8-49df-B4E4-1FBD75A5B95C">
								<File Id="MRProject.ViewsPlaceHolder.login.index.aspx" Name="index.aspx" Source="$(var.VSTemplates80)\CSharp\MRProject\ViewsPlaceHolder\login\index.aspx" />
								<File Id="MRProject.ViewsPlaceHolder.login.index.brail" Name="index.brail" Source="$(var.VSTemplates80)\CSharp\MRProject\ViewsPlaceHolder\login\index.brail" />
								<File Id="MRProject.ViewsPlaceHolder.login.index.vm" Name="index.vm" Source="$(var.VSTemplates80)\CSharp\MRProject\ViewsPlaceHolder\login\index.vm" />
								<File Id="MRProject.ViewsPlaceHolder.login.Authenticate.aspx" Name="Authenticate.aspx" Source="$(var.VSTemplates80)\CSharp\MRProject\ViewsPlaceHolder\login\Authenticate.aspx" />
								<File Id="MRProject.ViewsPlaceHolder.login.Authenticate.brail" Name="Authenticate.brail" Source="$(var.VSTemplates80)\CSharp\MRProject\ViewsPlaceHolder\login\Authenticate.brail" />
							</Component>
						</Directory>
					</Directory>
				</Directory>
				<Directory Id="directoryvs8_99" Name="MRProjectTest">
					<Component Id="componentvs2005_MRProjectTest" DiskId="1" Guid="89677F0B-CF5A-4FA1-84D0-96A56CEE654F">
						<File Id="filecs8_89" Name="AssemblyInfo.cs" Source="$(var.VSTemplates80)\CSharp\MRProjectTest\AssemblyInfo.cs" />
						<File Id="filecs8_88" Name="MRProjectTest.csproj" Source="$(var.VSTemplates80)\CSharp\MRProjectTest\MRProjectTest.csproj" />
					</Component>
					<Directory Id="directoryvs8_991" Name="Controllers">
						<Component Id="componentvs2005_MRProjectTest_Controllers" DiskId="1" Guid="C99E10D4-8596-4ef3-8D7C-B8D41D8CF066">
							<File Id="ContactControllerTestCase.cs" Name="ContactControllerTestCase.cs" Source="$(var.VSTemplates80)\CSharp\MRProjectTest\Controllers\ContactControllerTestCase.cs" />
							<File Id="HomeControllerTestCase.cs" Name="HomeControllerTestCase.cs" Source="$(var.VSTemplates80)\CSharp\MRProjectTest\Controllers\HomeControllerTestCase.cs" />
							<File Id="LoginControllerTestCase.cs" Name="LoginControllerTestCase.cs" Source="$(var.VSTemplates80)\CSharp\MRProjectTest\Controllers\LoginControllerTestCase.cs" />
						</Component>
					</Directory>
				</Directory>
			</Directory>

		</DirectoryRef>

	</Fragment>
</Wix>

