<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
<title>Home Controller</title>
</head>
<body>

<p>
  <a href="/SimpleWizard/start.rails">Start simple wizard</a>
</p>

</body>
</html>
