#blockcomponent(GridComponent with "source=$contacts")
  #header
    <th>EMail</th>
    <th>Phone</th>
  #end
  #item
    <td>$item.Email</td>
    <td>$item.phone</td>
  #end
  #empty
<td colspan=2>Nothing here</td>
  #end
#end