<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
		<title>FormHelper Sample</title>
		<style type="text/css" media="screen">
body
{
	background-color: white;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: small;
}		
li
{
	padding: 4px;
}
		</style>
		$AjaxHelper.GetJavascriptFunctions()
	</head>
	<body>

$childContent	

<p>
<br/>
<a href="../home/index.rails">Main page</a>
<br/>
</p>

#parse("/shared/dump_context.vm")

	
	</body>
</html>
