#foreach($item in $list1)
$item 
#end
<p>
Showing $list1.FirstItem - $list1.LastItem of $list1.TotalItems
</p>
<p>
HasFirst: $list1.HasFirst <br/>
HasPrevious: $list1.HasPrevious <br/>
HasNext: $list1.HasNext <br/>
HasLast: $list1.HasLast <br/>
</p>
<p>
$PaginationHelper.CreatePageLink( 1, "first" )
$PaginationHelper.CreatePageLink( $list1.PreviousIndex, "prev" )
$PaginationHelper.CreatePageLink( $list1.NextIndex, "next" )
$PaginationHelper.CreatePageLink( $list1.LastIndex, "last" )
<p>

