<div align="center">
  <h2>More information</h2>
</div>

<div class="container">

<p>
  Please check <a href="http://www.castleproject.org/castle/show/MonoRail">MonoRail</a> site for more information about it.
</p>

</div>
