<div align="center">
  <h4>An error ocurred</h4>
</div>

<div class="container">

<p>
  We are terrible sorry, but your request could not be processed for some
  God-knows reason.
  <br>
  This is the first and the last time it happens, we promise!
</p>

</div>
