
<h3>Result</h3>

<p> 
  prime selected: $oneprime
</p>

<p> primes selected

<ul>
#foreach($v in $multipleprimes)
  <li> $v </li>
#end
</ul>

</p>


<p> Blog author selected (id) : $blog.author.id


</p>

</form>

