
<h3>Select</h3>

$Form.FormTag("%{action='process'}")

<p>Select one prime number</p>

<p>
  $Form.Select("oneprime", $primenumbers) <br/> 
</p>

<p>Select multiple prime number</p>

<p>
  $Form.Select("multipleprimes", $primenumbers, "%{multiple='true', style='width: 110px; height: 90px;'}") <br/> 
</p>

<p>Select blog author</p>

<p>
  $Form.Select("blog.author.id", $authors, "%{value='id', text='Name', firstoption='Please select'}") <br/> 
</p>


$Form.Submit("Send")

$Form.EndFormTag()
