<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="castle" type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler, Castle.Windsor"/>
	</configSections>
	<castle>
		<facilities>
			<facility id="facility.dynLoader" type="Castle.Facilities.DynamicLoader.DynamicLoaderFacility, Castle.Facilities.DynamicLoader">
				<domain id="domain1" applicationName="Isolated Domain 1" shadowCopyFiles="true">
					<config>
						<!-- the "~" symbol is replaced by the application path of the current AppDomain -->
						<applicationBase>~/../plugins</applicationBase>
					</config>
					<batchRegistration>
						<!-- every component implementing the SampleApp.Extensibility.IPlugin interface 
						     will be registered on a MicroKernel located in the isolated AppDomain -->
						<components id="plugin.*">
							<providesService service="SampleApp.Extensibility.IPlugin, SampleApp" />
						</components>
					</batchRegistration>
				</domain>
			</facility>
		</facilities>
		<components>
			<!-- this component will be created in the isolated AppDomain named 'domain1' -->
			<component id="remoteFactory" domain="domain1" service="SampleApp.IRemoteFactory, SampleApp" type="SampleApp.RemoteFactory, SampleApp" />
		</components>
	</castle>
</configuration>
