<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="castle" type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler, Castle.Windsor"/>
	</configSections>
	<castle>
		<facilities>
			<facility id="facility.dynLoader" type="Castle.Facilities.DynamicLoader.DynamicLoaderFacility, Castle.Facilities.DynamicLoader">
				<domain id="domain1" applicationName="Isolated Domain 1" shadowCopyFiles="true">
					<config>
						<applicationBase>~/../plugins</applicationBase>
					</config>
					<batchRegistration>
						<components id="plugin.*">
							<providesService service="SampleApp.Extensibility.IPlugin, SampleApp.Extensibility" />
						</components>
					</batchRegistration>
				</domain>
			</facility>
		</facilities>
		<components>
			<component id="component.normal" type="SampleApp.Plugins.Plugin1, SampleApp.Plugins" />
			<component id="component.isolated" domain="appdomain.servicos" service="" type="" />
		</components>
	</castle>
</configuration>
