<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <facilities>
    
    <facility
      id="event.wiring"
      type="Castle.Facilities.EventWiring.EventWiringFacility, Castle.MicroKernel" />
    
  </facilities>    
  <components>
    
    <component
				id="HasSubscriberWithDependency"
				type="Castle.Facilities.EventWiring.Tests.Model.PublisherListener, Castle.Facilities.EventWiring.Tests">

      <subscribers>
        <subscriber id="SubscriberWithDependency" handler="OnPublish" event="Event1" />
      </subscribers>
    </component>

    <component
				id="HasSubscriberWithGenericDependency"
				type="Castle.Facilities.EventWiring.Tests.Model.PublisherListener, Castle.Facilities.EventWiring.Tests">

      <subscribers>
        <subscriber id="SubscriberWithGenericDependency" handler="OnPublish" event="Event1" />
      </subscribers>
    </component>
    
    <component
      id="SubscriberWithDependency"
      type="Castle.Facilities.EventWiring.Tests.Model.SubscriberWithDependency, Castle.Facilities.EventWiring.Tests" />

    <component
      id="SubscriberWithGenericDependency"
      type="Castle.Facilities.EventWiring.Tests.Model.SubscriberWithGenericDependency, Castle.Facilities.EventWiring.Tests" />
    
    <component
      id="GenericService"
      type="Castle.Facilities.EventWiring.Tests.Model.GenericService`1, Castle.Facilities.EventWiring.Tests" />
   
    <component
      id="SimpleService"
      type="Castle.Facilities.EventWiring.Tests.Model.SimpleService, Castle.Facilities.EventWiring.Tests" />
  </components>
</configuration>