<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<facilities>
		<facility 
			id="event.wiring"
			type="Castle.Facilities.EventWiring.EventWiringFacility, Castle.MicroKernel" />
	</facilities>

	<components>
		<component 
			id="SimpleListener" 
			lifestyle="transient" 
			type="Castle.Facilities.EventWiring.Tests.Model.SimpleListener, Castle.Facilities.EventWiring.Tests" />

		<component 
			id="BadConfig" 
			lifestyle="transient" 
			type="Castle.Facilities.EventWiring.Tests.Model.SimpleListener, Castle.Facilities.EventWiring.Tests" />

		<component 
			id="SimplePublisher" 
			type="Castle.Facilities.EventWiring.Tests.Model.SimplePublisher, Castle.Facilities.EventWiring.Tests" >
			<subscribers>
				<subscriber id="SimpleListener" event="Event" handler="OnPublish"/>
				<subscriber id="BadConfig" event="EventIahhh123" handler="OnPublish" />
			</subscribers>
		</component>

	</components>

</configuration>