<?xml version="1.0" encoding="utf-8" ?>
<configuration>
		<facilities>

			<facility 
				id="event.wiring"
				type="Castle.Facilities.EventWiring.EventWiringFacility, Castle.MicroKernel" />

		</facilities>

		<components>
			<component 
				id="SimpleListener" 
				type="Castle.Facilities.EventWiring.Tests.Model.SimpleListener, Castle.Facilities.EventWiring.Tests" />

			<component 
				id="SimpleListener2" 
				type="Castle.Facilities.EventWiring.Tests.Model.SimpleListener, Castle.Facilities.EventWiring.Tests" />

			<component 
				id="MultiListener"
				type="Castle.Facilities.EventWiring.Tests.Model.MultiListener, Castle.Facilities.EventWiring.Tests" />
	
			<component 
				id="PublisherListener" 
				type="Castle.Facilities.EventWiring.Tests.Model.PublisherListener, Castle.Facilities.EventWiring.Tests">
				
				<subscribers>					
					<subscriber id="MultiListener" handler="OnPublish" event="Event1" />
				</subscribers>
			</component>
			
			<component 
				id="SimplePublisher" 
				type="Castle.Facilities.EventWiring.Tests.Model.SimplePublisher, Castle.Facilities.EventWiring.Tests" >
				<subscribers>
					<subscriber id="SimpleListener" event="Event" handler="OnPublish"/>
					<subscriber id="SimpleListener2" event="StaticEvent" handler="OnPublish"/>
					<subscriber id="PublisherListener" handler="OnPublish"  event="Event" />
				</subscribers>
			</component>
			
			<component 
				id="MultiPublisher" 
				type="Castle.Facilities.EventWiring.Tests.Model.MultiPublisher, Castle.Facilities.EventWiring.Tests" >
				<subscribers>
					<subscriber id="MultiListener" handler="OnPublish" event="Event1"  />					
					<subscriber id="MultiListener" handler="OnPublish2" event="Event2"  />
				</subscribers>
			</component>
		</components>

</configuration>