<?xml version="1.0" encoding="utf-8" ?>
<configuration>
		<facilities>
			
			<facility 
				id="event.wiring"
				type="Castle.Facilities.EventWiring.EventWiringFacility, Castle.MicroKernel" />
			
			<facility 
				id="startable"
				type="Castle.Facilities.Startable.StartableFacility, Castle.MicroKernel" />

		</facilities>

		<components>			
			
			<component 
				id="SimplePublisher" 
				type="Castle.Facilities.EventWiring.Tests.Model.SimplePublisher, Castle.Facilities.EventWiring.Tests" >
				<subscribers>
					<subscriber id="SimpleListener" event="Event" handler="OnPublish"/>
					<subscriber id="SimpleListener2" event="StaticEvent" handler="OnPublish"/>
				</subscribers>
			</component>
			
			<component 
				id="MultiPublisher" 
				type="Castle.Facilities.EventWiring.Tests.Model.MultiPublisher, Castle.Facilities.EventWiring.Tests" />
			
			<component 
				id="SimpleListener"
				type="Castle.Facilities.EventWiring.Tests.Model.SimpleListener, Castle.Facilities.EventWiring.Tests" />
			
			<component 
				id="SimpleListener2" 
				type="Castle.Facilities.EventWiring.Tests.Model.SimpleListener, Castle.Facilities.EventWiring.Tests" />
		</components>

</configuration>