<div align="center">
  <h2>Areas</h2>
</div>

<div class="container">

<p>
  With areas you can create a hierarchy of sections for your site. 
  This very site is using areas to keep things separated.
</p>

<p>
  You can specify which area a controller belongs to using the ControllerDetails attribute:
</p>

<pre><code>
  [ControllerDetails(Area="admin")]
  public class HomeController : Controller
  {
    public void Index()
    {
    }
  }
</code></pre>

<p>
  And this controller will be accessible from http://yousite/yourvirtualdir/admin/home/index.mr
</p>

</div>
