/**************/
/* Common CSS */
/**************/
a {
    font-weight: normal;
    text-decoration: underline;
}
a:active {}
a:link {}
a:visited {}
a:hover {}
body {
    font-family: verdana, sans-serif;
    font-size: small;
    color: black;
    background-color: white;
}
h1 {
    margin:10px 10px 10px 10px;
    font-weight: bold;
    text-align: center;
}
h2 {
    margin:10px 10px 10px 10px;
    font-weight: bolder;
    text-align: center;
}
p {
    margin:10px 10px 10px 10px;
    text-align: left;
}
pre {
    margin:0px 10px 0px 10px;
    overflow: auto;
}
.code {
    background: #ffffcc;
    color: #000000;
    border: 1px solid #999999;
    margin:10px 10px 10px 20px;
    padding: 3px 3px;
}
.quote {
    margin-left: 10%;
    text-align: justify;
    font-style: italic;
}
img {
    border: 0px;
    margin: 0px; 
}

/***************/
/* bookmark.vm */
/***************/
.rFolder {
    font-size: small;
    font-weight: bold;
}
li.rFolderItem {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    font-size : small;
    font-weight: normal;
}
.rBookmark0 {
  margin-left: 10px;
  font-size: small;
}
img.rBookmark {
    margin-left: 10px;
    border: 0;
}
img.smrssbadge {
    margin-left: 10px;
    border: 0;
}


/*************/
/* navbar.vm */
/*************/
.rNavigationBar {
    margin-left: 0;
    padding-left: 0;
}
li.rNavItem {
    list-style: none;
    font-size : small;
    font-weight: normal;
}

/* navbar-css.vm */
ul.rMenu {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}
li.rMenuItem {
    font-size : small;
    font-weight: normal;
}

/* navbar-horizontal.vm: no styling */
/* navbar-vertical.vm: no styling */

/***************/
/* newsfeed.vm */
/***************/
div.rNewsfeedTitle {
    font-weight: 600;
}
a.rNewsfeedLink, span.rNewsfeedLink {
    display:block;
    margin-left: 10px;
    font-size : small;
    font-weight: bolder;
}
span.rNewsfeedDesc {
    display:block;
    margin-left: 10px;
    font-size : small;
    font-weight: normal;
}

/**************/
/* referer.vm */
/**************/
ul.rReferersList {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}
li.rReferersListItem {
    font-size : small;
    font-weight: normal;
}
a.linkback {
    border-style: double;
}

/*************/
/* roller.vm */
/*************/

/***********/
/* user.vm */
/***********/

/*************/
/* comments.vm */
/*************/
a.entrycommentslink {
    background: transparent;
}
/* master containing div or ul */
.comments {
  margin: 10px 5px 10px 5px;
}
/* Preview / Comments Header */
div.comments-head {
  color: #999; 
  font-weight:bold;
  margin-top:10px;
  text-transform:uppercase;
  border-bottom:1px dotted #666;
}
/* actual comment content */
.comment {
    margin: 5px 10px 10px 5px;
    border: 1px solid #ddd;
    background:#eee;    
}
/* commenter info */
p.comment-details {
    background: transparent;
    color: #333333;
    font-size: .95em;
    margin: 10px 0px 10px 10px !important;
}
div.comments-form {
  color:#999;
  font-weight:normal;
  background:#FFF;  
  margin: 15px 15px 15px 15px;
}
span.comments-syntax-indicator {
    display: block;
}

ul.commentsList {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}
li.commentsListItem {
    font-size : small;
    font-weight: normal;
}
label.rememberInfo{
    font-size: small;
}
label.notify{
    font-size: small;
}
/* Begin Hidden Comment Form */
form.commentFormBox {
    margin-top: 10px;
}
tr.commentFormRow {
    color: #808080;
    font-size: 12px;
    padding-bottom: 6px;
}
input.commentFormInput {
    font-size: 1em;
}
textarea.commentFormTextarea {
    font-size: 12px;
    width: 90% !important;
}
div.htmlSyntax {
    font-weight: bold;
}
div.commentBody {}
div.commentByline {}
div.commentAuthor {
    border: none;
}
/* End Hidden Comment Form */

/*************/
/* weblog.vm */
/*************/
a.daypermalink {
    border-style : none;
}
a.entrypermalink {
    background: transparent;
}
span.disabled {
    color: red;
}
span.enabled {
    color: green;
}
form#searchForm {
}
div#searchAgain {
  border: 1px solid #999;
  font-size: 1em;
}
div.trackbackUrl {
    background: transparent;
    margin: 0px 10px 10px 10px;
    text-align: left;
}
#nextEntry {
    text-align: right;
}
#previousEntry {
    text-align: left;
}
ul.recentposts {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}
li.recentposts {
    font-size : small;
    font-weight: normal;
}
ul.linkblog {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}
li.linkblog {
    font-size : small;
    font-weight: normal;
}
.next-previous {
    text-align: center;
}
.error {
    display: block;
    background-color: #ffcccc;
    border: 1px solid red;
    color: #aa0000;
    font-size: 0.9em;
    font-weight: normal;
    margin: 5px 10px 5px 0px;
    padding: 3px;
    width: 95%;
}
.status {
    display: block;
    background-color: #CCFFCC;
    border: 1px solid green;
    color: #000000;
    font-size: .9em;
    font-weight: normal;
    margin: 5px 10px 5px 0px;
    padding: 3px;
    width: 95%;
}

/**************/
/* website.vm */
/**************/
div.rWeblogCategoryChooser {
    background: transparent;
    margin-bottom: 10px;
}
a.rUnchosenCategory {
    font-size: medium;
    font-weight: normal;
}
span.rChosenCategory {
    font-size: medium;
    font-weight: bolder;
}

/********************/
/* CalendarTag.java */
/********************/
table.hCalendarTable {
    text-align : center;
}
td.hCalendarMonthYearRow {
    font-weight: bold;
}
a.hCalendarNavBar {
}
th.hCalendarDayNameRow {
    text-align : center;
    font-size : x-small;
    font-weight : bolder;
}
tr.hCalendarNextPrev {
    text-align : center;
    font-size : x-small;
    font-style : italic;
}
td.hCalendarDayNotInMonth {
    font-size : x-small;
    background-color: white;
    color: gray;
}
td.hCalendarDayCurrent {
    text-align : center;
    font-size  : x-small;
    font-weight: bolder;
}
td.hCalendarDayLinked {
    text-align : center;
    font-size  : x-small;
    font-weight: bolder;
}
div.hCalendarDayTitle {
    font-size:  .9em;
    text-align: center;
}
td.hCalendarDay {
    text-align: center;
    font-size : x-small;
}

/**************************/
/* BigWeblogCalendarModel */ 
/**************************/
div.hCalendarDayTitleBig {
  position: relative;
  left: 0;
  top: 0;
  width: 25%;
  padding: 3px 0 3px 0;
  background: transparent;
  color: #050505;
  border-right: 1px solid #050505;
  border-bottom: 1px solid #050505;
  font-size: small;
  text-align: center;
  font-size: small;
}
div.bCalendarDayContentBig {
  font-size: x-small;
  padding: 3px 0px 3px 0px;
}

