
A         { color: #CC6633; text-decoration: none; } 
A:link    { color: #CC6633; text-decoration: none; } 
A:visited { color: #CC6633; text-decoration: none; } 
A:active  { color: #FF9966;  } 
A:hover   { color: #FF9966;  } 
td.body   { padding:20px;}

body { 
    margin-top: 0px; 
    margin-left: 0px; 
    margin-right: 0px; 
    background-color:#ffffff;
}
td.title { 
    padding:20px; 
    font-family: verdana, sans-serif; 
    font-size: 16px; 
    color: #666666; 
    font-weight:bold; 
    letter-spacing:.1em; 
}
td.links { 
    padding:8px; 
    font-family: verdana, sans-serif; 
    font-size: 10px; 
    color: #336699; 
    line-height:16px;
}
td.search {
	padding: 5px;
}
font.descrip { 
    font-family: verdana, sans-serif; 
    font-size: 10px; 
    color: #999966; 
    text-transform:uppercase; 
    font-weight:bold; 
    letter-spacing:.2em; 
    padding:5px;
}
font.date { 
    font-family: verdana, sans-serif;
    font-size: 9px;
    color: #336699;
    line-height:16px;
}
font.author { 
    font-family: verdana, sans-serif;
    font-size: 10px;
    color: #336699;
    line-height:16px;
    text-transform:lowercase;
}
font.time { 
    font-family: verdana, sans-serif;
    font-size: 10px;
    color: #336699;
    line-height:16px;
    text-transform:uppercase;
}
font { 
    font-family: verdana, sans-serif;
    font-size: 10px;
    color: #666666;
    line-height:16px;
}
font.subhead { 
    font-family: verdana, sans-serif;
    font-size: 11px;
    color: #333333;
    font-weight:bold;
    padding:8px;
    letter-spacing:  .1em
}
p { 
    font-family: verdana, georgia, arial;
    font-size:11px;
    color:#666666;
    line-height:14px;
    text-align:justify;
}
p.links { 
    font-family: verdana, arial;
    font-size:10px;
    color:#666666;
    line-height:12px;
}
.hCalendarTitle {
    text-align : center;
    font-weight : bolder ;
}
.hCalendarDay {
    text-align : center;
    font-size : 9px;
    border-width: thin;
}
.hCalendarDayCurrent {
    text-align : center;
    font-size : 9px;
    font-weight : bolder ;
    border-width: thin;
    border-style: dotted;
}
.hCalendarDayNameRow {
    text-align : center;
    font-weight : bolder ;
    font-size : 9px;
}
.hCalendarDayLinked {
    font-weight : bolder ;
    text-align : center;
    font-size : 9px;
    border-width: thin;
}
.hCalendarDayNotInMonth {
    text-align : center;
    font-size : 9px;
    color : #aaaaaa;
}
.hCalendarNextPrev {
    text-align : center;
    font-style : italic;
    font-size : small;
    color : #aaaaaa;
}
