
#if($Flash.error)
<p>
<b><font color="red"> $Flash.error </font></b>
</p>
#end

$Form.FormTag("%{action='login',returnUrl=$ReturnUrl}")

<fieldset style="width: 400px;">
	<legend>Authentication</legend>
	
	<p>
	Username: $Form.TextField("username")
	</p>
	<p>
	Password: $Form.PasswordField("password")
	</p>
	
	<hr noshade="true" size="1" />
	
	$Form.Submit("Log in")
	
</fieldset>

$Form.EndFormTag()