
<p>
The following are samples of FormHelper usage
</p>

<table width="60%" border="0" cellpadding="5">

<tr>
<td valign="top">
<h2>Simple elements</h2>

<ul>
<li> <a href="../simpleelements/textfieldindex.castle">TextField</a> </li> 

<li> <a href="../simpleelements/textfieldformatindex.castle">TextFieldFormat</a> </li> 

<li> <a href="../simpleelements/textfieldvalueindex.castle">TextFieldValue</a> </li> 

<li> <a href="../simpleelements/textareaindex.castle">TextArea</a> </li> 

<li> <a href="../simpleelements/passwordfieldindex.castle">PasswordField</a> </li> 

<li> <a href="../simpleelements/hiddenfieldindex.castle">HiddenField</a> </li> 
</ul>

</td>

<td valign="top">
<h2>Radio</h2>

<ul>
<li> <a href="../radiosample/radio.castle">RadioField</a> </li> 
</ul>


<h2>Checkboxes</h2>


<ul>
<li> <a href="../checkboxsample/CheckboxIndex.castle">CheckboxField</a> </li> 

<li> <a href="../checkboxsample/CheckboxListIndex.castle">CheckboxList</a> </li> 
</ul>



<h2>Select</h2>

<ul>
<li> <a href="../selectsample/SelectIndex.castle">Select</a> </li> 

</ul>

</td>
</tr>

</table>




