
<p>
The following are samples of FormHelper usage
</p>

<table style="width: 800px" border="0" cellpadding="5">
	<tr>
		<td valign="top" style="width: 60%;">

		<h2>Simple elements</h2>

		<ul>
			<li> $Url.Link('TextField', "%{controller='simpleelements',action='textfieldindex'}") </li> 
			<li> NumberField/NumberFieldValue </li>
			<li> $Url.Link('TextFieldFormat', "%{controller='simpleelements',action='textfieldformatindex'}")  </li> 
			<li> $Url.Link('TextFieldValue', "%{controller='simpleelements',action='textfieldvalueindex'}")  </li> 
			<li> $Url.Link('TextArea', "%{controller='simpleelements',action='textareaindex'}")  </li>
			<li> TextAreaValue </li> 
			<li> $Url.Link('PasswordField', "%{controller='simpleelements',action='passwordfieldindex'}")  </li> 
			
			<li> PasswordNumberField </li>
			
			<li> $Url.Link('HiddenField', "%{controller='simpleelements',action='hiddenfieldindex'}")  </li> 
			<li> FileField  </li> 

		</ul>

		</td>

		<td valign="top" style="width: 40%;">

		<h2>Radio</h2>

		<ul>
			<li> $Url.Link('RadioField', "%{controller='radiosample',action='radio'}") </li> 
		</ul>

		<h2>Checkboxes</h2>

		<ul>
			<li> $Url.Link('CheckboxField', "%{controller='checkboxsample',action='CheckboxIndex'}") </li> 
			<li> $Url.Link('CheckboxList', "%{controller='checkboxsample',action='CheckboxListIndex'}") </li> 
		</ul>

		<h2>Select</h2>

		<ul>
			<li> $Url.Link('Select', "%{controller='selectsample',action='SelectIndex'}") </li> 
		</ul>

		</td>
	</tr>
	
	<tr>
		<td valign="top">
		
		<h2>Form Validation</h2>
		
		<ul>
			<li> Disabling validation </li>
			<li> Prototype Validation, fValidate and Zebda Validation </li>
		</ul>
		
		</td>

		<td valign="top">
		
		<h2>Arrays/collections</h2>
		
		<ul>
			<li> Path to arrays </li>
		</ul>
		
		</td>
		
	</tr>

	<tr>
		<td valign="top">
		
		<h2>More</h2>
		
		<ul>
			<li> Specifying attributes (class, style, id) </li>
			<li> Input masks </li>
			<li> Formating (textformat) </li>
			<li> Using Enums (EnumToPairs) </li>
		</ul>
		
		</td>
		
		<td valign="top">
		
		<h2>And More</h2>
		
		<ul>
			<li> FormTag/EndFormTag </li>
			<li> AjaxFormTag </li>
			<li> LabelFor </li>
			<li> Submit/Button/ButtonElement </li>
		</ul>
		
		</td>
	</tr>

</table>
