<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<configSections>  
		<section 
			name="monoRail" 
			type="Castle.MonoRail.Framework.Configuration.MonoRailSectionHandler, Castle.MonoRail.Framework" />
	</configSections>

    <!-- 
        For more on monoRail configuration see 
        http://www.castleproject.org/index.php/MonoRail_Configuration_Reference 
    -->
    <monoRail smtpHost="yoursmtphost" useWindsorIntegration="false">
    
    </monoRail>

    <system.web>
        <httpHandlers>	
            <add verb="*" path="*.rails" 
               type="Castle.MonoRail.Framework.MonoRailHttpHandlerFactory, Castle.MonoRail.Framework" />
        </httpHandlers>
        <httpModules>
            <add name="monorail" type="Castle.MonoRail.Framework.EngineContextModule, Castle.MonoRail.Framework" />
        </httpModules>
    </system.web>

</configuration>
