
#component(HeaderComponent)

<p>
Some content from the view
</p>

<p>
#blockcomponent(TableComponent with "elements=$items" "border=0" "style=border: 1px solid black;" "cellpadding=0" "cellspacing=2")
#colheaders
<tr>
	<th>&nbsp;</th>
	<th>Element</th>
</tr>
#end

#item
<tr>
	<td align="center">$index</td>
	<td>$item</td>
</tr>
#end

#altitem
<tr style="background: #c0c0c0;">
	<td align="center">$index</td>
	<td>$item</td>
</tr>
#end
#end
</p>

<p>
Some other content from the view
</p>


#component(StatsComponent with "pagename='home/index'")
