name: Build

on: [ push, pull_request ]

jobs:

  build-and-test:
    name: Build and test

    strategy:
      matrix:
        os: [ ubuntu-latest, windows-latest, macos-latest ]

    runs-on: ${{ matrix.os }}

    steps:

      - name: Checkout repository
        uses: actions/checkout@v6

      # -----
      # Setup .NET sdk
      # -----

      - name: Install .NET SDKs
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: |
            8.0.x
            9.0.x
            10.0.x

      # -----
      # Build
      # -----

      - name: Restore NuGet packages
        run: dotnet restore

      - name: Build all targets
        run: dotnet build -c Release --no-restore

      # ----
      # Test
      # ----

      - name: Test on .NET 8
        run: dotnet test -c Release -f net8.0 --no-build --no-restore -l "console;verbosity=detailed"

      - name: Test on .NET 9
        run: dotnet test -c Release -f net9.0 --no-build --no-restore -l "console;verbosity=detailed"

      - name: Test on .NET 10
        run: dotnet test -c Release -f net10.0 --no-build --no-restore -l "console;verbosity=detailed"

      - name: Test on .NET Framework 4.6.2 (Windows only)
        if: matrix.os == 'windows-latest'
        run: dotnet test -c Release -f net462 --no-build --no-restore -l "console;verbosity=detailed"