<?xml version="1.0" encoding="UTF-8"?>
<project name="${projectName}" default="build">

	<target name="clean" description="Sweep it yeah!">
		<delete>
			<fileset>
				<include name="bin/**" />
			</fileset>
		</delete>
	</target>

	<target name="build" description="Builds the app">
		<mkdir dir="bin" />
		<copy todir="bin">
			<fileset basedir="lib">
				<include name="*.*" />
			</fileset>
		</copy>
		<csc target="dll" output="bin/${projectName}.dll">
			
		</csc>
			<csc
				target="library" 
				define="${current.build.defines}" 
				debug="${build.debug}" 
				optimize="${build.optimize}"
				warnaserror="${warnaserror}"
				output="${build.dir}/${project::get-name()}.dll" 
				doc="${build.dir}/${project::get-name()}.xml"
				rebuild="${build.rebuild}"
				unless="${build.msbuild}"
			>
				<nowarn>
					<warning number="1591" unless="${build.warnmissingdocs}" /> <!-- No XML comment for publicly visible member -->
				</nowarn>
				
				<sources>
					<% for source in Sources: %>
						<include name="<%= source %>" />
					<% end %>
				</sources>
				
				<references>
					<% for reference in References: %>
					<include name="<%= reference %>" />
					<% end %>
				</references>
				
				<resources refid="project.resources" />
				
				<arg line="${csc.keyfile}" if="${assembly.sign}" />
				<arg line="${csc.args}" />
			</csc>
	</target>

</project>