<table>
<tr><th>Name</th><th>Index</th></tr>
#foreach($row in $items)
  <tr>
    <td>$row.Name</td>
    <td>$row.Index</td>
  </tr>
#end
#blockcomponent(DiggStylePagination with "page=$items" "renderifonlyonepage=false")
#startblock
<tr>
    <td colspan="2">
#end
#endblock
    </td>
</tr>
#end
#end
</table>