<table>
<tr><th>Name</th><th>Index</th></tr>
#foreach($row in $items)
  <tr>
    <td>$row.Name</td>
    <td>$row.Index</td>
  </tr>
#end
<tr>
    <td colspan="2">
#component(SelectStylePagination with "page=$items")
    </td>
</tr>
</table>