<table>
<tr><th>Name</th><th>Index</th></tr>
#foreach($row in $items)
  <tr>
    <td>$row.Name</td>
    <td>$row.Index</td>
  </tr>
#end
<tr>
    <td colspan="2">
#blockcomponent(DiggStylePagination with "page=$items")
#link
<button type="button" onclick="location.href='$url?page=$pageIndex';">$text</button>
#end
#end
    </td>
</tr>
</table>
