<table>
<tr><th>Name</th><th>Index</th></tr>
#foreach($row in $items)
  <tr>
    <td>$row.Name</td>
    <td>$row.Index</td>
  </tr>
#end
<tr>
    <td colspan="2">
#set ($url="index8.castle?desc=$desc")
#component(DiggStylePagination with "page=$items" "url=$url")
    </td>
</tr>
</table>
<a href="index8.castle">Ascending list</a> &mdash; 
<a href="index8.castle?desc=true">Descending list</a>
